//SASS compiltation required
//Pagination "previous and next" arrows
$pagination-icon-prevnext-color: $qld-brand-secondary-dark;
$pagination-icon-prevnext-hover-color: darken($qld-brand-secondary-dark, 10%);
$pagination-icon-prevnext: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27 15.6081C27 16.1011 26.5897 16.4845 26.1282 16.4845L6.79487 16.4845L13.9744 24.7008C14.2821 25.0295 14.2821 25.5772 13.9231 25.9059C13.7692 26.0702 13.5641 26.125 13.359 26.125C13.1026 26.125 12.8974 26.0702 12.7436 25.8511L4.23077 16.2106C3.92308 15.882 3.92308 15.389 4.23077 15.0603L12.7436 5.41981C13.0513 5.03639 13.5641 5.03639 13.9231 5.36504C14.2821 5.69369 14.2821 6.24145 13.9744 6.5701L6.79487 14.7317L26.1282 14.7317C26.5897 14.7317 27 15.1699 27 15.6081Z" fill="#{$pagination-icon-prevnext-color}"/></svg>');
$pagination-icon-prevnext-hover: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27 15.6081C27 16.1011 26.5897 16.4845 26.1282 16.4845L6.79487 16.4845L13.9744 24.7008C14.2821 25.0295 14.2821 25.5772 13.9231 25.9059C13.7692 26.0702 13.5641 26.125 13.359 26.125C13.1026 26.125 12.8974 26.0702 12.7436 25.8511L4.23077 16.2106C3.92308 15.882 3.92308 15.389 4.23077 15.0603L12.7436 5.41981C13.0513 5.03639 13.5641 5.03639 13.9231 5.36504C14.2821 5.69369 14.2821 6.24145 13.9744 6.5701L6.79487 14.7317L26.1282 14.7317C26.5897 14.7317 27 15.1699 27 15.6081Z" fill="#{$pagination-icon-prevnext-hover-color}"/></svg>');

//Pagination "more" dots
$pagination-icon-more-color: $qld-brand-primary;
$pagination-icon-more-hover-color: $qld-brand-secondary-dark;
$pagination-icon-more: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="16" r="2" fill="#{$pagination-icon-more-color}"/><circle cx="16" cy="16" r="2" fill="#{$pagination-icon-more-color}"/><circle cx="24" cy="16" r="2" fill="#{$pagination-icon-more-color}"/></svg>');
$pagination-icon-more-hover: url('data:image/svg+xml,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="16" r="2" fill="#{$pagination-icon-more-hover-color}"/><circle cx="16" cy="16" r="2" fill="#{$pagination-icon-more-hover-color}"/><circle cx="24" cy="16" r="2" fill="#{$pagination-icon-more-hover-color}"/></svg>');

// QGDS QOL Pagination
// https://getbootstrap.com/docs/5.3/components/pagination/#variables

.pagination {

    //Padding
    --#{$prefix}pagination-padding-x: 1rem;
    --#{$prefix}pagination-padding-y: 0.5rem;

    //Colour
    --#{$prefix}pagination-color: var(--#{$prefix}link-color);
    --#{$prefix}pagination-bg: var(--#{$prefix}body-bg);

    //Border
    --#{$prefix}pagination-border-width: 1px;
    --#{$prefix}pagination-border-color: var(--#{$prefix}soft-grey);
    --#{$prefix}pagination-border-radius: var(--#{$prefix}border-radius);

    //Focus    
    --#{$prefix}pagination-focus-color: var(--#{$prefix}link-hover-color);
    --#{$prefix}pagination-focus-bg: transparent;
    --#{$prefix}pagination-focus-border-color: var(--#{$prefix}brand-secondary-dark);

    //Hover
    --#{$prefix}pagination-hover-color: var(--#{$prefix}brand-primary);
    --#{$prefix}pagination-hover-border-color: var(--#{$prefix}brand-secondary-dark);
    --#{$prefix}pagination-hover-bg: transparent;
    --#{$prefix}pagination-hover-box-shadow: none;

    //Active
    --#{$prefix}pagination-active-color: var(--#{$prefix}white);
    --#{$prefix}pagination-active-bg: var(--#{$prefix}brand-primary);
    --#{$prefix}pagination-active-border-color: var(--#{$prefix}brand-primary);
    --#{$prefix}pagination-active-dropshadow:
        0px 1px 2px rgba(0, 0, 0, .2),
        0px 1px 3px 1px rgba(0, 0, 0, .1);

    //Disabled
    --#{$prefix}pagination-disabled-color: var(--#{$prefix}secondary-color);
    --#{$prefix}pagination-disabled-bg: var(--#{$prefix}secondary-bg);
    --#{$prefix}pagination-disabled-border-color: var(--#{$prefix}border-color);


    //Icons: Prev, Next and More (...) dots
    --#{$prefix}pagination-icon-prevnext: #{escape-svg($pagination-icon-prevnext)};
    --#{$prefix}pagination-icon-prevnext-hover: #{escape-svg($pagination-icon-prevnext-hover)};
    --#{$prefix}pagination-icon-more: #{escape-svg($pagination-icon-more)};
    --#{$prefix}pagination-icon-more-hover: #{escape-svg($pagination-icon-more-hover)};


    // Styles for sm screens and up
    @include media-breakpoint-up(sm) {}

    // Styles for md screens and up
    @include media-breakpoint-up(md) {}

    // Styles for lg screens and up
    @include media-breakpoint-up(lg) {}

    // Styles for xl screens and up
    @include media-breakpoint-up(xl) {}


    // General ruleset
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 1rem 0;


    .page-item {

        .page-link {
            border-radius: 3px;
            width: 2rem;
            height: 2rem;
            padding: 0;
            text-align: center;
            line-height: calc(2rem - 2px);
            color: var(--#{$prefix}pagination-color);

            &:hover {
                box-shadow: inset 0 0 0 1px var(--#{$prefix}pagination-hover-border-color);
            }
        }

        // .page-link-arrow {
        //     svg {
        //         width: 1.5rem;
        //         height: 1.5rem;
        //         color: var(--#{$prefix}brand-secondary-dark);

        //         &:hover {
        //             color: darken($qld-brand-secondary-dark, 10%); //SASS function only
        //         }
        //     }
        // }

        //Previous and next padding
        &.previous .page-link {
            padding-left: 2rem;
            width: unset;
        }

        &.next .page-link {
            padding-right: 2rem;
            width: unset;
        }
        

        &.previous .page-link,
        &.next .page-link {
            
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 2rem;
                height: 2rem;
                background: var(--#{$prefix}pagination-icon-prevnext);
                background-repeat: no-repeat;
            }


            &:hover:before {
                background: var(--#{$prefix}pagination-icon-prevnext-hover);
                background-repeat: no-repeat;
            }
        }

        &.next .page-link:before {
            //Replica of previous arrow (defined above), but rotated 10 degrees
            transform: rotate(180deg);
        }



        //Non-numeric links in pagination
        &.previous,
        &.next,
        &.more {
            .page-link {
                border: none;
                position: relative;
                height: 2rem;

                &:hover {
                    box-shadow: none;
                }
            }
        }

        //Active link only
        &.active .page-link {
            color: var(--#{$prefix}pagination-active-color);
            
            &:hover {
                border-color: var(--#{$prefix}pagination-active-bg);
                box-shadow: var(--#{$prefix}pagination-active-dropshadow);
            }
        }

        // More link only (dots)
        &.more .page-link:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--#{$prefix}pagination-icon-more);
            background-repeat: no-repeat;
        }

        &.more .page-link:hover:before {
            background: var(--#{$prefix}pagination-icon-more-hover);
            background-repeat: no-repeat;
        }

    }
}