// SASS Variables for Testing QLD Theme
$core-default-color-status-underline-light: #ffffff;
$core-default-color-status-underline-dark: #03213f;
$color-default-color-light-background-light: #e9f7ff;
$color-default-color-light-background-light-shade: #d9f1ff;
$color-default-color-light-border-default: #bedfff;
$color-default-color-light-border-alt: #848484;
$color-default-color-light-action-primary: #005eb8;
$color-default-color-light-action-primary-hover: #003e96;
$color-default-color-light-action-secondary: #307edb;
$color-default-color-light-action-secondary-hover: #004ea7;
$color-default-color-light-link-on-action: #f5faff;
$color-default-color-light-link-default: #005eb8;
$color-default-color-light-accent-design-accent: #84d3ff;
$color-default-color-light-focus-default: #1c6eca;
$color-default-color-light-underline-default-hover: #005eb8;
$color-default-color-light-text-heading: #000764;
$color-default-color-light-site-title: #005eb8;
$color-default-color-dark-background-default: #005eb8;
$color-default-color-dark-background-default-shade: #003e96;
$color-default-color-dark-background-alt: #002e85;
$color-default-color-dark-background-alt-shade: #001d74;
$color-default-color-dark-border-default: #418fed;
$color-default-color-dark-border-alt: #95e5ff;
$color-default-color-dark-action-primary: #84d3ff;
$color-default-color-dark-action-primary-hover: #95e5ff;
$color-default-color-dark-action-secondary: #84d3ff;
$color-default-color-dark-action-secondary-hover: #95e5ff;
$color-default-color-dark-link-on-action: #001c37;
$color-default-color-dark-accent-design-accent: #84d3ff;
$color-default-color-dark-focus-default: #b2ffff;
