<!-- // QGDS Component: Button -->
<!-- // https://getbootstrap.com/docs/5.3/components/buttons -->

{{#isbutton}}
<button class="btn {{classes}}" onclick="{{{onclick}}}">
    {{label}}
</button>
{{/isbutton}}

{{#islink}}
<a class="btn {{classes}}" href="{{href}}" target="{{target}}" >
    {{label}}
</a>
{{/islink}}