<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> metaDcTerms title=title description=description uri=uri dcTerms=dcTerms }}
  {{> metaOpenGraph title=title description=description uri=uri seo=seo og=og }}
  {{> head }}
</head>
<body>
{{#> mainContainerWrapper }}
  {{> @partial-block }}
{{/mainContainerWrapper}}
</body>
</html>