<header class="qld__header" role="banner">
    <nav class="qld__header__skip-link" aria-label="skip links" tabindex="-1">
        <a class="qld__header__skip-link__linkstyle" href="#content">Skip to main content</a>
        <a class="qld__header__skip-link__linkstyle" href="#main-nav">Skip to main navigation</a>
    </nav>
    {{> @partial-block }}
</header>
<!-- HEADER END -->