<!-- QGDS Component: Details -->
<details class="qld-details{{#if open}} open{{/if}}">
    <summary class="qld-details-summary">
        {{summaryText}}
    </summary>
    <div class="qld-details-content">
        {{{content}}}
    </div>
</details>
