<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>

    <link rel="stylesheet" href="assets/css/qld.bootstrap.css">
    <script src="assets/js/bootstrap.min.js"></script>

</head>
<body>
    
    {{{header}}} <!-- Include the 'header' partial here without HTML escaping -->
    
    <main class="qld-body">
        Hi world
        <!-- Banner -->
        {{{banners}}} <!-- Include the 'banner' partial here without HTML escaping -->

        <!-- Main content -->
        <div class="container qld-content">

                <div class="row">

                    <!-- Left Aside -->
                    <div class="col-3">
                        {{{ sidenav }}}
                    </div>
                
                    <div class="col-7 ms-40">
                        
                        {{{inpagenav}}} <!-- Include the 'main' partial here without HTML escaping -->
                        
                        {{{main}}}
                        
                    </div>
                                    
            </div>
        </div>
    
        {{{footer}}} <!-- Include the 'footer' partial here without HTML escaping -->

    </main>

    
</body>
</html>