// QGDS QOL Modal Component
// extends Modal https://getbootstrap.com/docs/5.3/components/modal/#variables
// extends Close Button https://getbootstrap.com/docs/5.2/components/close-button/#variables

// QGDS specific modal variables.
.modal {
    --#{$prefix}modal-zindex: #{$zindex-modal};
    --#{$prefix}modal-width: #{$modal-md};
    
    --#{$prefix}modal-margin: #{$modal-dialog-margin};
    --#{$prefix}modal-color: #{$modal-content-color};
    --#{$prefix}modal-bg: #{$modal-content-bg};
    --#{$prefix}modal-padding: 1.5rem 2rem;
    
    --#{$prefix}modal-border-color: var(--#{$prefix}light-grey);
    --#{$prefix}modal-border-width: 1px;
    --#{$prefix}modal-border-radius: 0.75rem;
    
    --#{$prefix}modal-box-shadow: #{$modal-content-box-shadow-xs};
    --#{$prefix}modal-inner-border-radius: #{$modal-content-inner-border-radius};

    --#{$prefix}modal-header-padding: 2rem 2rem 0;
    --#{$prefix}modal-header-border-width: 0px;

    --#{$prefix}modal-title-line-height: 2rem;

    --#{$prefix}modal-footer-gap: 0;
    --#{$prefix}modal-footer-bg: none;
    --#{$prefix}modal-footer-border-color: none; 
    --#{$prefix}modal-footer-border-width: none;

    .btn-close {
        //Base state
        --#{$prefix}btn-close-color: var(--#{$prefix}color-default-color-light-text-lighter);
        --#{$prefix}btn-close-width: 40px;
        --#{$prefix}btn-border-radius: 50%;

        //Hover state
        --#{$prefix}btn-close-hover-color: var(--#{$prefix}color-default-color-light-text-heading);
        --#{$prefix}btn-close-hover-bg: var(--#{$prefix}core-default-color-neutral-lightest);
        --#{$prefix}btn-close-hover-bg-size: 15px;

        //Focus state
        --#{$prefix}btn-close-focus-color: var(--#{$prefix}color-default-color-light-text-heading);
        --#{$prefix}btn-close-focus-shadow: none;
        --#{$prefix}btn-close-focus-border: var(--#{$prefix}light-blue) solid 3px;
        
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
            content: "";
            mask-image: var(--qgds-icon-close);
            background-color: var(--qld-action-icon-color);
            width: 1.2rem;
            aspect-ratio: 1;
        }
    }
}

// General styling rules.
.modal {
    .btn-close {
        width: var(--#{$prefix}btn-close-width);
        height: var(--#{$prefix}btn-close-width);
        border-radius: var(--#{$prefix}btn-border-radius);
        background-size: 12px;
        padding: 0;
        flex-shrink: 0;  //Flex, do not shrink this perfectly round button.

        &:hover {
            width: var(--#{$prefix}btn-close-width);
            height: var(--#{$prefix}btn-close-width);
            color: var(--#{$prefix}btn-close-hover-color);
            background-size: var(--#{$prefix}btn-close-hover-bg-size);
            background-color: var(--#{$prefix}btn-close-hover-bg);
        }
        &:focus {
            width: var(--#{$prefix}btn-close-width);
            height: var(--#{$prefix}btn-close-width);
            color: var(--#{$prefix}btn-close-focus-color);
            background-size: var(--#{$prefix}btn-close-hover-bg-size);
            background-color: var(--#{$prefix}btn-close-hover-bg);
            outline: var(--#{$prefix}btn-close-focus-border);
            outline-offset: 2px;
        }
    }

    .modal-header {
        .modal-title {
            line-height: var(--#{$prefix}modal-title-line-height);
            font-size: 1.5rem;
        }
    }

    .modal-footer {
        padding: 0 2rem 2rem;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        
        .btn {
            margin: 0 0 0 1.5rem;
        }
    }

    //Rescope for smaller modals 
    .modal-dialog {
        &.modal-sm {
            .modal-footer {
                flex-wrap: wrap;
                .btn {
                    width: 100%;
                    margin: 1rem 0;
                }
            }
        }
    }

    //Rescope for smaller viewports 
    @include media-breakpoint-down(md) {
        .modal-footer {
            flex-wrap: wrap;
            .btn {
                width: 100%;
                margin: 1rem 0;
            }
        }
    }

}
