@use "../../../css/mixins" as m;

// custom icon used because the standard one has hard coded colors.

// QGDS specific tag variables
.tag-list {
  //Status - Low emphasis
  $tag-emphasis: "low";
  //Status - Low -- General variables
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-color: var(--#{$prefix}color-default-color-light-text-default);
  --#{$prefix}tag-status-#{$tag-emphasis}-border: 1px solid transparent;

  //Status - Low -- Neutral
  $tag-type: "neutral";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-neutral-lightest);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-border-color: var(--#{$prefix}core-default-color-neutral-light);

  //Status - Low -- Success
  $tag-type: "success";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-success-lighter);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-border-color: var(--#{$prefix}core-default-color-status-success-default);

  //Status - Low -- Warning
  $tag-type: "warning";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-caution-lightest);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-border-color: var(--#{$prefix}core-default-color-status-caution-default);

  //Status - Low -- Error
  $tag-type: "error";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-error-lighter);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-border-color: var(--#{$prefix}core-default-color-status-error-default);

  //Status - Low -- Information
  $tag-type: "information";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-info-lighter);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-border-color: var(--#{$prefix}core-default-color-status-info-default);

  //Status - High emphasis
  $tag-emphasis: "high";
  //Status - High -- General variables
  --#{$prefix}tag-status-#{$tag-emphasis}-border: none;

  //Status - High -- Neutral
  $tag-type: "neutral";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-color: var(--#{$prefix}core-default-color-neutral-black);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-neutral-light);

  //Status - High -- Success
  $tag-type: "success";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-color: var(--#{$prefix}core-default-color-neutral-white);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-success-darker);

  //Status - High -- Warning
  $tag-type: "warning";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-color: var(--#{$prefix}core-default-color-neutral-black);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-caution-default);

  //Status - High -- Error
  $tag-type: "error";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-color: var(--#{$prefix}core-default-color-neutral-white);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-error-default);

  //Status - High -- Information
  $tag-type: "information";
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-color: var(--#{$prefix}core-default-color-neutral-white);
  /* prettier-ignore */
  --#{$prefix}tag-status-#{$tag-emphasis}-#{$tag-type}-bg: var(--#{$prefix}core-default-color-status-info-darker);
}

// General styling rules.
.tag-list {
  list-style-type: none;
  margin: 0.5rem 0;
  padding: 30px;

  .tag-item {
    --_padding-y: 0;
    --_padding-x: 0.5rem;
    --_height: 1.5rem;
    --_border-width: 1px;
    --_icon-size: 1rem;
    --qld-focus-color: #{$qld-light-focus}; // because we use component-scoped context (.tag-dark) not global .dark, need to set focus color here.
  
    display: inline-flex;
    align-items: center;
    color: var(--#{$prefix}dark-grey-muted);
    margin-top: 0.5rem;
    gap: calc(var(--_padding-x) / 2);
    padding: var(--_padding-y) var(--_padding-x);
    list-style-type: none;
    border: var(--_border-width) solid var(--#{$prefix}light-grey);
    border-radius: 1rem;
    font-size: 0.875rem;
    line-height: 1.5;

    height: var(--_height);

    &.tag-large {
      --_padding-y: 0.5rem;
      --_padding-x: 1rem;
      --_height: 2.5rem;
      --_icon-size: 1.5rem;
      margin: 0 1rem 1rem 0;
      font-size: 1rem;
      border-radius: calc(var(--_height) / 2);
    }

    &.tag-link {
      color: var(--#{$prefix}sapphire-blue);
      border-color: var(--#{$prefix}sapphire-blue);

      a {
        text-decoration: none;

        &:focus {
          outline: none;
        }
      }

      @include m.focusable($isFocusWithin: true);

      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        background-color: var(--#{$prefix}textbox-border-color);
        color: var(--#{$prefix}white);
        background-color: var(--#{$prefix}button-dark-blue);
        text-decoration: underline;
        text-underline-offset: var(--#{$prefix}link-underline-offset);

        a {
          color: var(--#{$prefix}white);
        }
      }
    }

    &.tag-link:not(.tag-large) {
      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        text-underline-offset: 0.1rem;
      }
    }

    &.tag-info {
      color: var(--#{$prefix}dark-grey-muted);
      border: 0;
      background-color: var(--#{$prefix}extra-light-grey);
    }
  }

  .tag-clear-filter-button {
    @include m.unset-button-styles();
    @include m.focusable($offsetOutline: -2px);
    --_size: calc(var(--_height) - (var(--_border-width) * 2));
    --_icon: var(--qgds-icon-close);
    height: var(--_size);
    width: var(--_size);
    margin-block: calc(var(--_padding-y) * -1);
    margin-right: calc(var(--_padding-x) * -1);
    line-height: 1;
    vertical-align: middle;
    border-radius: calc(var(--_size) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--#{$prefix}light-action-secondary);
    position: relative;

    &:before {
      content: "";
      width: 1rem;
      height: 1rem;
      background-color: currentColor;
      mask-image: var(--_icon);
      mask-repeat: no-repeat;
      z-index: 2;
    }
    &::after {
      content: "";
      height: var(--_icon-size);
      width: var(--_icon-size);
      border: 1px solid currentColor;
      border-radius: 50%;
      position: absolute;
      z-index: 1;
    }
    

    &:hover {
      color: var(--#{$prefix}light-action-secondary-hover);
    }

    &:focus-visible,
    &:hover {
      &::before {
        background-color: white;
      }
      &::after {
        background-color: currentColor;
        width: calc(var(--_icon-size) - 2px);
        height: calc(var(--_icon-size) - 2px);
      }
    }
  }

  &.tag-status {
    .tag-item {
      &.tag-low {
        color: var(--#{$prefix}tag-status-low-color);
        border: var(--#{$prefix}tag-status-low-border);

        &.tag-neutral {
          background: var(--#{$prefix}tag-status-low-neutral-bg);
          border-color: var(--#{$prefix}tag-status-low-neutral-border-color);
        }
        &.tag-success {
          background: var(--#{$prefix}tag-status-low-success-bg);
          border-color: var(--#{$prefix}tag-status-low-success-border-color);
        }
        &.tag-warning {
          background: var(--#{$prefix}tag-status-low-warning-bg);
          border-color: var(--#{$prefix}tag-status-low-warning-border-color);
        }
        &.tag-error {
          background: var(--#{$prefix}tag-status-low-error-bg);
          border-color: var(--#{$prefix}tag-status-low-error-border-color);
        }
        &.tag-information {
          background: var(--#{$prefix}tag-status-low-information-bg);
          border-color: var(
            --#{$prefix}tag-status-low-information-border-color
          );
        }
      }

      &.tag-high {
        border: var(--#{$prefix}tag-status-high-border);

        &.tag-neutral {
          color: var(--#{$prefix}tag-status-high-neutral-color);
          background: var(--#{$prefix}tag-status-high-neutral-bg);
        }
        &.tag-success {
          color: var(--#{$prefix}tag-status-high-success-color);
          background: var(--#{$prefix}tag-status-high-success-bg);
        }
        &.tag-warning {
          color: var(--#{$prefix}tag-status-high-warning-color);
          background: var(--#{$prefix}tag-status-high-warning-bg);
        }
        &.tag-error {
          color: var(--#{$prefix}tag-status-high-error-color);
          background: var(--#{$prefix}tag-status-high-error-bg);
        }
        &.tag-information {
          color: var(--#{$prefix}tag-status-high-information-color);
          background: var(--#{$prefix}tag-status-high-information-bg);
        }
      }
    }
  }

  &.tag-dark {
    background-color: var(--#{$prefix}sapphire-blue);

    .tag-item {
      --qld-focus-color: #{$qld-dark-focus}; // because we use component-scoped context (.tag-dark) not global .dark, need to set focus color correctly here.
      color: var(--#{$prefix}dark-text);
    }

    .tag-link {
      color: var(--#{$prefix}white);
      border-color: var(--#{$prefix}white);

      a {
        color: white;
      }

      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        background-color: var(--#{$prefix}dark-action-primary-hover);
        border-color: var(--#{$prefix}light-green-dark);
        color: var(--#{$prefix}text-darkest);

        a {
          color: var(--#{$prefix}text-darkest);
        }
      }
    }

    .tag-info {
      background-color: var(--#{$prefix}color-dark-background--shade);
    }

    .tag-clear-filter-button {
      color: var(--#{$prefix}dark-action-secondary);

      &:hover {
        color: var(--#{$prefix}dark-action-secondary-hover);
      }
    }
  }

  &.tag-alt {
    background-color: var(--#{$prefix}light-grey-alt);

    .tag-item {
      color: var(--#{$prefix}dark-grey-muted);
      border-color: var(--#{$prefix}soft-grey);
    }

    .tag-link:hover,
    .tag-link:active,
    .tag-link:focus {
      color: var(--#{$prefix}white) !important;
    }

    .tag-link {
      color: var(--#{$prefix}sapphire-blue);
      border-color: var(--#{$prefix}sapphire-blue);
    }
  }

  &.tag-dark-alt {
    background-color: var(--#{$prefix}dark-blue);

    .tag-item {
      --qld-focus-color: #{$qld-dark-focus}; // because we use component-scoped context (.tag-dark) not global .dark, need to set focus color correctly here.

      a {
        color: var(--#{$prefix}dark-text);
      }

      color: var(--#{$prefix}dark-text);
      border-color: var(--#{$prefix}dark-border);
    }

    .tag-info {
      background-color: var(--#{$prefix}dark-blue-shade);
    }

    .tag-link {
      &:hover,
      &:active,
      &:focus,
      &:focus-within {
        background-color: var(--#{$prefix}dark-action-primary-hover);
        border-color: var(--#{$prefix}light-green-dark);
        color: var(--#{$prefix}text-darkest);

        a {
          color: var(--#{$prefix}text-darkest);
        }
      }
    }

    .tag-clear-filter-button {
      color: var(--#{$prefix}dark-action-secondary);

      &:hover {
        color: var(--#{$prefix}dark-action-secondary-hover);
      }
    }
  }
}
