.content-emphasis {
  // Negative margin on the emphasis section. Capped to outer container padding,
  // to prevent overflow and horizontal scrollbar
  --margin-offset: max(-2rem, calc(var(--qld-container-padding-x) * -1));

  margin-left: var(--margin-offset);
  margin-right: var(--margin-offset);

  padding: 2.5rem var(--qld-container-padding-x);

  @include media-breakpoint-up(lg) {
    padding: 4rem 2rem;
    overflow: visible;
  }

  & p:last-child,
  & ul:last-child,
  & ol:last-child {
    margin-bottom: 0;
  }
}
