.qld-content-body {
  .emphasis {
    margin: 4rem -2rem;
    padding: 4rem 2rem;
    overflow: visible;

    & p:last-child,
    & ul:last-child,
    & ol:last-child {
      margin-bottom: 0;
    }
  }
}
