.qld-content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

// Mimics .container-fluid, but is capped at 1312px, QGDS maximum width +2rem +2rem padding
// Container gutters change at each breakpoint
.container-full {
  max-width: 1376px;
  --qld-gutter-x: 2rem;
  @include make-container();

  @include media-breakpoint-up(md) {
    --qld-gutter-x: 3rem;
  }

  @include media-breakpoint-up(lg) {
    --qld-gutter-x: 4rem;
  }
}