  <div class="row {{classes}}">
    {{#if lastUpdated}}
    <div class="col-auto">
      <dl class="qld-content-dates my-0">
        <dt class="my-0">Last updated:</dt>
        <dd class="my-0">{{formatDateOrToday lastUpdated }}</dd>
      </dl>
    </div>
    {{/if}} 
    {{#if backToTop}}
      <div class="col d-flex justify-content-end">                        
        {{> backToTop backToTop}}
      </div>
    {{/if}}  
  </div>
