  <div class="row my-3">
    {{#if lastUpdated}}
    <div class="col-12 col-md-6 my-3 align-items-center">
      <dl class="qld-content-dates">
        <dt class="my-0">Last updated:</dt>
        <dd class="my-0">{{formatDateOrToday lastUpdated }}</dd>
      </dl>
    </div>
    {{/if}} 
    {{#if backToTop}}
      <div class="col-12 col-md-6 ms-md-auto">                        
        {{> backToTop backToTop}}
      </div>
    {{/if}}  
  </div>
