<div class="alert {{classes}}" role="alert">

    <h4 class="alert-heading">{{{ heading }}}</h4>
    {{{ content }}}

    {{#if dismiss}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{/if }}

</div>