<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {{#each breadcrumbs}}
                <li class="breadcrumb-item {{linkclass}}">
                    <a href="{{link}}">{{linktext}}</a>
                </li>
                {{/each}}
            </ol>
        </nav>
    </div>
</div>