// Expand this file with all themable shared form variables
// @extend %form-variables in all input and form components.
@use "../../../css/functions" as f;

/// Custom colored icons for dropdown chevron in all states.
/// Select input cannot use ::before or ::after so need a svg cbackground image via url(data);
@function _dropdown-icon($color) {
  @return url(f.svg-encode(f.color-icon("chevron-down", $color)));
}
$form-select-dark-icon-default: _dropdown-icon($qld-dark-action-secondary);
$form-select-dark-icon-disabled: _dropdown-icon(
  $color-default-color-light-text-lighter
);

%form-control-variables {
  &,
  .default &,
  .light &,
  .alt & {
    // colors
    --#{$prefix}bg: #{$core-default-color-neutral-white};
    --#{$prefix}bg-hover: #{$core-default-color-neutral-lightest};
    --#{$prefix}bg-focus: #{$core-default-color-neutral-white};
    --#{$prefix}border-color: #{$color-default-color-light-border-alt};
    --#{$prefix}border-color-hover: #{$qld-light-action-primary-hover};
    --#{$prefix}border-color-focus: #{$color-default-color-light-border-alt};
    --#{$prefix}color: #{$color-default-color-light-text-default};
    --#{$prefix}color-hover: var(--#{$prefix}color);
    --#{$prefix}color-focus: var(--#{$prefix}color);
    --#{$prefix}placeholder-color: #{$color-default-color-light-text-lighter};
    --#{$prefix}placeholder-color-hover: var(--#{$prefix}placeholder-color);
    --#{$prefix}placeholder-color-focus: var(--#{$prefix}placeholder-color);

    // other properties
    --#{$prefix}border-width: 0.125rem;
    --#{$prefix}border-radius: 0.25rem;

    // .form-style-filled legacy class
    &.is-filled,
    &.form-style-filled {
      --#{$prefix}bg: #{$core-default-color-neutral-lightest};
      --#{$prefix}border-radius: 0.25rem 0.25rem 0 0;
      --#{$prefix}border-width: 0 0 0.125rem;

      &:focus {
        --#{$prefix}border-radius: 0.25rem;
      }
    }

    // .qld-input-success legacy class
    &.is-valid,
    &.qld-input-success,
    .was-validated &:valid {
      --#{$prefix}bg: #{$core-default-color-status-success-lightest};
      --#{$prefix}bg-hover: #{$core-default-color-status-success-lighter};
      --#{$prefix}border-color: #{$core-default-color-status-success-default};
      --#{$prefix}border-color-hover: var(--#{$prefix}border-color);
    }

    // .qld-input-error legacy class
    &.is-invalid,
    &.qld-input-error,
    .was-validated &:invalid {
      --#{$prefix}bg: #{$qld-color-error-light};
      --#{$prefix}bg-hover: #{$core-default-color-status-error-lighter};
      --#{$prefix}border-color: #{$qld-notify-warning};
      --#{$prefix}border-color-hover: var(--#{$prefix}border-color);
    }
  }

  .dark &,
  .dark-alt & {
    --#{$prefix}bg: #{$qld-color-dark-background};
    --#{$prefix}bg-hover: #{$qld-color-dark-background--shade};
    --#{$prefix}border-color: #{$color-default-color-dark-border-alt};
    --#{$prefix}border-color-hover: var(--#{$prefix}border-color);
    --#{$prefix}border-color-focus: #{$core-default-color-neutral-lighter};
    --#{$prefix}color: #{$color-default-color-dark-text-default};
    --#{$prefix}color-focus: #{$color-default-color-light-text-lighter};
    --#{$prefix}placeholder-color: #{$color-default-color-dark-text-lighter};
    --#{$prefix}placeholder-color-focus: #{$color-default-color-light-text-lighter};

    &.is-filled,
    &.form-style-filled {
      --#{$prefix}bg: #{$qld-color-dark-background--shade};
    }

    &.is-valid,
    &.qld-input-success,
    .was-validated &:valid {
      --#{$prefix}bg: #{$core-default-color-status-success-lightest};
      --#{$prefix}bg-hover: #{$core-default-color-status-success-lighter};
      --#{$prefix}border-color: #{$core-default-color-status-success-default};
      --#{$prefix}border-color-hover: #{$core-default-color-status-success-default};
      --#{$prefix}color: #{$color-default-color-light-text-default};
      --#{$prefix}placeholder-color: #{$color-default-color-light-text-lighter};
    }

    &.is-invalid,
    &.qld-input-error,
    .was-validated &:invalid {
      --#{$prefix}bg: #{$qld-color-error-light};
      --#{$prefix}bg-hover: #{$core-default-color-status-error-lighter};
      --#{$prefix}border-color: #{$qld-notify-warning};
      --#{$prefix}border-color-hover: #{$qld-notify-warning};
      --#{$prefix}color: #{$color-default-color-light-text-default};
      --#{$prefix}placeholder-color: #{$color-default-color-light-text-lighter};
    }
  }
}

%form-select-variables {
  &,
  .default &,
  .light &,
  .alt & {
    --#{$prefix}icon-url: #{_dropdown-icon($qld-light-action-secondary)};
    --#{$prefix}icon-hover-url: #{_dropdown-icon(
        $qld-light-action-secondary-hover
      )};
    --#{$prefix}icon-disabled-url: #{_dropdown-icon(
        $color-default-color-light-text-lighter
      )};
    --#{$prefix}icon-error-url: #{_dropdown-icon($qld-notify-warning)};
    --#{$prefix}icon-success-url: #{_dropdown-icon($qld-notify-success)};
    --#{$prefix}icon-focus-url: #{_dropdown-icon($qld-light-action-secondary)};
  }

  .dark &,
  .dark-alt & {
    --#{$prefix}icon-url: #{_dropdown-icon($qld-dark-action-secondary)};
    --#{$prefix}icon-hover-url: #{_dropdown-icon($qld-dark-action-secondary)};
    --#{$prefix}icon-disabled-url: #{_dropdown-icon(
        $color-default-color-dark-text-lighter
      )};
    --#{$prefix}icon-focus-url: #{_dropdown-icon($qld-light-action-secondary)};
  }
}

%form-valid-feedback-variables {
  &,
  :is(.default, .light, .alt) & {
    --color-text: #{$color-default-color-light-text-default};
  }

  :is(.dark, .dark-alt) & {
    --color-text: #{$color-default-color-dark-text-default};
  }
}

%form-invalid-feedback-variables {
  &,
  :is(.default, .light, .alt) & {
    --color-text: #{$core-default-color-status-error-default};
  }

  :is(.dark, .dark-alt) & {
    --color-text: #{$core-default-color-status-error-lighter};
  }
}
