{{#if customLinks }}
    <ul class="nav footer-link-list footer-link-list--custom flex-column">
        {{#each customLinks }}
        <li><a class="nav-link" href="{{ link }}" {{#if target }} target="_blank" {{/if}}>{{ label }}</a></li>
        {{/each }}
    </ul>
{{/if}}