// ----------------------------------------------------------------------------------------------------------------------
// Footer Area
// ----------------------------------------------------------------------------------------------------------------------
// @import "./footer_formio";
.qld-footer {
  // ------------------------------------------------------------------------------------------------------------------
  //  1. Palette colours
  // ------------------------------------------------------------------------------------------------------------------
  // Default palette
  --#{$prefix}footer-color-crest-fill: var(
    --#{$prefix}color-default-color-light-crest-fill
  );
  --#{$prefix}footer-color-border: var(
    --#{$prefix}color-default-color-light-border-default
  );
  --#{$prefix}footer-color-border-alt: var(
    --#{$prefix}color-default-color-light-border-alt
  );
  --#{$prefix}footer-color-title: var(
    --#{$prefix}color-default-color-light-site-title
  );
  --#{$prefix}footer-color-designAccent: var(
    --#{$prefix}color-default-color-light-accent-design-accent
  );
  --#{$prefix}footer-color-text: var(
    --#{$prefix}color-default-color-light-text-default
  );
  --#{$prefix}footer-color-text__muted: var(
    --#{$prefix}color-default-color-light-text-lighter
  );
  --#{$prefix}footer-color-link: var(
    --#{$prefix}color-default-color-light-link-default
  );
  --#{$prefix}footer-color-focus: var(
    --#{$prefix}color-default-color-light-focus-default
  );
  --#{$prefix}footer-color-background: var(
    --#{$prefix}color-default-color-light-background-default
  );
  --#{$prefix}footer-color-alt-button: var(
    --#{$prefix}core-default-color-brand-secondary-darkgreen
  );
  --#{$prefix}footer-color-alt-button__hover: var(
    --#{$prefix}core-default-color-brand-primary-light-green
  );

  // ------------------------------------------------------------------------------------------------------------------
  // 2. Colours
  // ------------------------------------------------------------------------------------------------------------------
  --qld-footer-column-border-color: var(--#{$prefix}footer-color-border);
  @include media-breakpoint-down(lg) {
    --qld-footer-column-border-color: transparent;
  }

  // ------------------------------------------------------------------------------------------------------------------
  // Dark palette & Forgov
  // ------------------------------------------------------------------------------------------------------------------
  &.dark,
  &.dark-alt {
    --#{$prefix}footer-color-crest-fill: var(
      --#{$prefix}color-default-color-dark-crest-fill
    );
    --#{$prefix}footer-color-text: var(
      --#{$prefix}color-default-color-dark-text-default
    );
    --#{$prefix}footer-color-border: var(
      --#{$prefix}color-default-color-dark-border-default
    );
    --#{$prefix}footer-color-border-alt: var(
      --#{$prefix}color-default-color-dark-border-alt
    );
    --#{$prefix}footer-color-title: var(
      --#{$prefix}color-default-color-dark-text-heading
    );
    --#{$prefix}footer-color-designAccent: var(
      --#{$prefix}color-default-color-dark-accent-design-accent
    );
    --#{$prefix}footer-color-alt-button: var(
      --#{$prefix}color-default-color-dark-action-secondary
    );
    --#{$prefix}footer-color-alt-button__hover: var(
      --#{$prefix}color-default-color-dark-action-secondary-hover
    );
    --#{$prefix}footer-color-link: var(
      --#{$prefix}color-default-color-dark-link-default
    );
    --#{$prefix}footer-color-focus: var(
      --#{$prefix}color-default-color-dark-underline-default
    );
  }
  &.dark-alt {
    --#{$prefix}footer-color-background: var(
      --#{$prefix}color-default-color-dark-background-alt
    );
    --#{$prefix}footer-color-background: var(
      --#{$prefix}color-default-color-dark-background-alt
    );
  }
  &.dark {
    --#{$prefix}footer-color-background: var(
      --#{$prefix}color-default-color-dark-background-default
    );
    --#{$prefix}footer-color-background: var(
      --#{$prefix}color-default-color-dark-background-default
    );
  }

  // Measurements
  // -text
  --#{$prefix}footer-font-size: 0.875rem;
  --#{$prefix}footer-title-font-size: 1.25rem;
  --#{$prefix}footer-text-underline-offset: 0.3em;

  // -spacing
  --#{$prefix}footer-gap: 0.75rem;
  --#{$prefix}footer-column-spacing: 2rem;
  --#{$prefix}footer-spacing: 1rem;
  --#{$prefix}footer-padding-y: 4rem;
  // -boarders
  --#{$prefix}footer-top-border-width: 0.25rem;
  --#{$prefix}footer-special-border-default-width: 0.13rem;
  --#{$prefix}footer-special-border-thin-width: 0.06rem;

  // Icons and Crest
  --#{$prefix}footer-social-icon-size-width: 1.5rem;
  --#{$prefix}footer-social-icon-size-height: 1.25rem;
  --#{$prefix}footer-crest-max-width: 15.72rem;

  //--internal-gutter: var(--#{$prefix}footer-column-spacing);
  padding-block: var(--#{$prefix}footer-padding-y);
  border-top: solid;
  border-top-width: var(--#{$prefix}footer-top-border-width);
  border-top-color: var(--#{$prefix}footer-color-designAccent);
  background: var(--#{$prefix}footer-color-background);
  color: var(--#{$prefix}footer-color-text);
  font-size: var(--#{$prefix}footer-font-size);

  a:not(.btn),
  a.nav-link {
    --qld-link-color: var(--#{$prefix}footer-color-link);
    text-decoration: underline;
    text-decoration-color: var(--#{$prefix}footer-color-link);
    text-decoration-thickness: var(--#{$prefix}link-underline-thickness);
    text-underline-offset: var(--#{$prefix}link-underline-offset);
    color: var(--qld-link-color);
    padding-left: 0;

    &:hover {
      text-decoration-thickness: var(
        --#{$prefix}link-underline-thickness-hover
      );
    }

    &:visited {
      color: var(--#{$prefix}footer-color-link);
      text-decoration: underline;
      text-decoration-color: var(--#{$prefix}footer-color-link);
      text-decoration-thickness: var(--#{$prefix}link-underline-thickness);
    }
  }

  .footer-column {
    position: relative;
    margin-block-end: var(--#{$prefix}footer-spacing);
    margin-inline-end: 0;

    & .d-lg-none {
      margin-block-end: var(--qld-footer-spacing);
    }
  }

  @include media-breakpoint-down(lg) {
    .footer-column {
      margin-block-start: calc(var(--#{$prefix}footer-spacing) * 2);
    }
  }

  .border-column {
    height: 100%;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: var(--#{$prefix}footer-special-border-default-width);
      background: var(--#{$prefix}footer-column-border-color);
      top: 0;
      bottom: 0;
      inset-inline-start: calc(var(--#{$prefix}footer-spacing) * -2);
    }
  }

  .footer-heading {
    color: var(--#{$prefix}footer-color-title);
    font-size: var(--#{$prefix}footer-title-font-size);
    margin-block-end: var(--#{$prefix}footer-spacing);
    line-height: 1.5;
    font-weight: 600;
  }

  .footer-contact-item {
    display: flex;
    align-items: center;
    margin-block-end: calc(var(--#{$prefix}footer-spacing) * 1.25);

    .qld-icon {
      --#{$prefix}icon-color: var(--#{$prefix}brand-accent);
      display: block;
      width: var(--#{$prefix}footer-social-icon-size-width);
      min-width: var(--#{$prefix}footer-social-icon-size-width);
      margin-inline-end: calc(var(--#{$prefix}footer-spacing) * 0.5);
      background-color: var(--#{$prefix}icon-color);
      --qld-brand-accent: var(--#{$prefix}footer-color-alt-button);

      &:hover {
        --qld-brand-accent: var(--#{$prefix}footer-color-alt-button__hover);
      }
    }

    b {
      margin-inline-end: calc(var(--#{$prefix}footer-spacing) * 0.5);
    }
  }

  .footer-crest {
    display: block;
    width: 100%;
    max-width: var(--#{$prefix}footer-crest-max-width);
    margin-block-start: var(--#{$prefix}footer-spacing);
    margin-block-end: var(--#{$prefix}footer-spacing);

    @include media-breakpoint-up(md) {
      margin-block-start: calc(var(--#{$prefix}footer-spacing) * 1.5);
      margin-block-end: calc(var(--#{$prefix}footer-spacing) * 1.5);
    }
  }

  .nav {
    --#{$prefix}nav-link-color: var(--#{$prefix}footer-color-link);

    &.footer-link-list {
      a.nav-link {
        font-weight: 400;
        margin-block-end: calc(var(--#{$prefix}footer-spacing) * 0.7);
        padding: 0;

        &:first-child {
          margin-block-start: calc(var(--#{$prefix}footer-spacing) * 0.5);
        }

        &:focus-visible {
          box-shadow: 0 0 0 3px var(--#{$prefix}footer-color-border);
        }

        span {
          display: block;
        }
      }

      &--social .nav-link {
        display: flex;
        margin-block-end: calc(var(--#{$prefix}footer-spacing) * 1.2);
        text-underline-offset: auto;
        text-underline-position: from-font;

        .qld-icon {
          margin-inline-end: calc(var(--#{$prefix}footer-spacing) * 0.75);
          max-height: var(--#{$prefix}footer-social-icon-size-height);
        }

        &:hover {
          --component-icon-color: var(--#{$prefix}footer-color-crest-fill);
        }
      }
    }
  }

  .footer-crest svg path {
    fill: var(--#{$prefix}footer-color-crest-fill);
  }

  .btn {
    --#{$prefix}btn-border-color: var(--#{$prefix}footer-color-alt-button);
    --#{$prefix}btn-hover-border-color: var(
      --#{$prefix}footer-color-alt-button
    );
    --qld-brand-accent: var(--#{$prefix}footer-color-alt-button);

    &:hover {
      --qld-brand-accent: var(--#{$prefix}footer-color-alt-button__hover);
    }
  }

  .footer-contact {
    .btn {
      min-width: 10rem;
      width: fit-content;
      margin-block-start: var(--#{$prefix}footer-spacing);
    }
  }

  .container > .row > div {
    padding-inline: var(--#{$prefix}footer-column-spacing);
  }

  .btn-global-secondary {
    white-space: normal;
  }

  @include media-breakpoint-down(lg) {
    --#{$prefix}last-para-margin: 24px;
    --qld-footer-padding-y: 0;

    padding-top: calc(var(--#{$prefix}footer-gap) * 2);

    .footer-site-name {
      margin-block-end: calc(var(--#{$prefix}footer-gap) * 2);
    }

    .container {
      > .row {
        margin-inline: calc(var(--#{$prefix}footer-gap) * -1);
        --qld-gutter-x: calc(var(--#{$prefix}footer-spacing) * 2);

        & > * {
          padding-inline: 0;
        }

        > .col-12 {
          --qld-gutter-x: calc(var(--#{$prefix}footer-spacing) * 2);
          border-top: var(--#{$prefix}footer-special-border-thin-width) solid
            var(--#{$prefix}footer-color-border);

          padding-inline: 0;
          margin-inline-start: var(--qld-gutter-x);
          width: calc(100% - calc(var(--qld-gutter-x) * 2));

          .border-column {
            &:after {
              content: "";
              content: none;
              background: none;
            }

            height: auto;
          }

          .footer-column {
            margin-block: calc(var(--#{$prefix}footer-gap) * 2);
            margin-inline-end: 0;
          }
        }

        > .col-12:first-of-type {
          border-top: none;
        }

        > .title {
          border-bottom: var(--#{$prefix}footer-special-border-thin-width) solid
            var(--#{$prefix}footer-color-border-alt);
          padding-inline: var(--qld-gutter-x);
        }

        > .crest {
          border-top: var(--#{$prefix}footer-special-border-thin-width) solid
            var(--#{$prefix}footer-color-border-alt);
          padding-inline: var(--qld-gutter-x);
          margin-inline: 0;
          width: 100%;

          .footer-column {
            margin-block-end: calc(var(--#{$prefix}footer-spacing) * 2);
          }
        }

        p:last-child {
          margin-block-end: 0;
        }

        .footer-contact-item:last-child {
          margin-block-end: 0;
        }
      }
    }

    .btn-outline-secondary {
      width: 100%;
      min-width: auto !important;
    }

    .footer-link-list {
      display: block;
      column-count: 3;

      a.nav-link,
      a.nav-link:first-child {
        margin: 0 !important;
        margin-block-end: calc(
          var(--#{$prefix}footer-font-size) * 0.5
        ) !important;
      }
    }
    .footer-link-list--custom {
      column-count: 2;
      width: 100%;
    }
    .footer-column {
      &:has(.footer-link-list--social) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--#{$prefix}footer-spacing);

        .footer-heading {
          margin-block-end: 0;
        }
        .footer-link-list--social {
          display: flex;
          align-items: center;
          flex-direction: row !important;

          & a.nav-link {
            margin-block-end: 0 !important;

            .qld-icon {
              max-height: unset;
              margin-block-end: 0;
            }
            .nav-link-label {
              display: none;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      > .row {
        > .col-12 {
          margin-inline-start: var(--#{$prefix}footer-spacing);
          width: calc(100% - calc(var(--#{$prefix}footer-spacing) * 2));
        }

        > .title,
        > .crest {
          padding-inline: var(--qld-footer-spacing);
          margin-inline: 0;
          width: 100%;

          .footer-column {
            margin-block-end: calc(var(--#{$prefix}footer-spacing) * 2.5);
          }
        }

        p:last-child {
          margin-block-end: var(--#{$prefix}last-para-margin);
        }

        .footer-contact {
          p:last-child {
            margin-block-end: var(--#{$prefix}footer-spacing);
          }
        }
      }
    }

    .footer-link-list {
      column-count: 2;
      width: 100%;
    }

    .footer-site-name,
    .footer-heading {
      font-size: calc(var(--#{$prefix}footer-title-font-size) - 0.25rem);
    }
  }
  @include media-breakpoint-only(lg) {
    .col.crest {
      min-width: 0;
    }
  }
  @include media-breakpoint-only(md) {
    .footer-column {
      &:has(.footer-link-list--custom) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: var(--#{$prefix}footer-spacing);

        .footer-link-list--custom {
          margin-top: calc(var(--#{$prefix}nav-link-padding-y) * -0.5);

          & a.nav-link {
            padding: calc(var(--qld-nav-link-padding-y) - 2px)
              var(--qld-nav-link-padding-x);
          }
        }
      }
      .footer-link-list--custom {
        column-count: 2;
        display: block;
      }
      .footer-crest svg {
        width: 14.5rem;
      }
    }
  }
  @include media-breakpoint-only(sm) {
    .footer-column {
      .footer-link-list--custom {
        column-count: 2;
        display: block;
      }
      .footer-crest svg {
        width: 10.15rem;
      }
    }
  }
}
