

<h2 id="section-heading">Component reference sheet</h2>

<h3 id="accordion">Accordion</h3>
{{{ accordion }}}

<h3 id="alert">Alerts</h3>
{{{ alert.success }}}
{{{ alert.closure }}}
{{{ alert.receipt }}}
{{{ alert.reminder }}}

{{{ alert.info }}}
{{{ alert.warning }}}
{{{ alert.danger }}}
{{{ alert.light }}}
{{{ alert.dark }}}

<h3 id="banner">Banner</h3>
<small>Refer <a href="index.html" target="_blank">example layout</a></small>

<h3 id="blockquote">Blockquote</h3>
{{{ blockquote }}}

<h3 id="breadcrumbs">Breadcrumbs</h3>
{{{ breadcrumbs }}}

<h3 id="buttons">Buttons</h3>
{{{ button.primary }}}
{{{ button.secondary }}}
{{{ button.outlinePrimary }}}
{{{ button.outlineSecondary }}}

<h3 id="callout">Callout</h3>
{{{ callout }}} 

<h3 id="cards">Cards</h3>
{{{ cardblock }}}

<h3 id="checkbox">Checkbox</h3>
{{{ checkbox }}}

<h3 id="correctincorrect">Correctincorrect</h3>
{{{ correctincorrect }}}

<h3 id="forms">Forms</h3>
<small>Refer <a href="index.html" target="_blank">example layout</a></small>

<h3 id="inpagenav">Inpagenav</h3>
{{{ inpagenav }}}

<h3 id="navbar">Navbar</h3>
{{{ navbar }}}

<h3 id="pagination">Pagination</h3>
{{{ pagination }}}

<h3 id="radio">Radio</h3>
{{{ radio }}}

<h3 id="sidenav">Sidenav</h3>
<small>Refer <a href="index.html" target="_blank">example layout</a></small>

<h3 id="table">Table</h3>
{{{ table }}}
