<aside class="qld-aside">

    <div class="qld-side-navigation">

        <h2 class="nav-title">In this section</h2>

        <!-- Level One -->
        <ul class="nav" aria-label="section navigation">

            <li class="nav-item">
                <a href="#accordion" class="nav-link" >
                    Accordion
                </a>
            </li>

            <li class="nav-item">
                <a href="#alerts" class="nav-link" >
                    Alerts
                </a>
            </li>

            <li class="nav-item">
                <a href="#blockquote" class="nav-link">
                    Blockquote
                </a>
            </li>

            <li class="nav-item">
                <a href="#breadcrumbs" class="nav-link">
                    Breadcrumbs
                </a>
            </li>

            <li class="nav-item">
                <a ref="#buttons" class="nav-link">
                    Buttons
                </a>
            </li>

            <li class="nav-item">
                <a href="#callouts" class="nav-link">
                    Callouts
                </a>
            </li>

            <li class="nav-item">
                <a href="#cards" class="nav-link">
                    Cards
                </a>
            </li>

            <li class="nav-item">
                <a href="#pagination" class="nav-link">
                    Pagination
                </a>
            </li>


            <li class="nav-item">
                <a href="#tables" class="nav-link">
                    Tables
                </a>
            </li>

            <li class="nav-item">
                <a href="#forms" class="nav-link">
                    Forms
                </a>
            </li>

        </ul>

    </div>

</aside>