// prettier-ignore
%search-input-variables {
  --text-color: var(--qld-dark-grey-muted);
  --placeholder-color: var(--qld-dark-grey-muted);
  --border-color: var(--qld-soft-grey);
  --background-color: var(--qld-white);
  --outline-color: var(--qld-light-blue);
  --icon-color: var(--qld-dark-grey-muted);
  --icon-color-on-btn: var(--qld-white);
  --icon: var(--qgds-icon-search);

  // Suggestions variables
  --suggestions-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 1px 3px 1px rgba(0, 0, 0, .1);
  --suggestions-bg: var(--#{$prefix}color-default-color-light-background-default-shade);
  --suggestions-hover: var(--#{$prefix}color-default-color-light-border-default);
  --suggestions-hover-border-color: var(--#{$prefix}color-default-color-light-accent-design-accent);
  --suggestions-feature-bg: var(--#{$prefix}color-default-color-dark-background-default);
  --suggestions-feature-hover: var(--#{$prefix}color-default-color-dark-background-default-shade);
  --suggestions-feature-text-color: var(--#{$prefix}color-default-color-dark-text-default);

  .dark &,
  .dark-alt & {
    --icon-color: #deebf9;
    --icon-color-on-btn: var(--qld-dark-action-text);
    --text-color: #deebf9;
    --placeholder-color: #deebf9;
    --border-color: var(--qld-dark-alt-border);
    --background-color: var(--qld-dark-background);

    // Suggestions variables
    --suggestions-bg: var(--#{$prefix}color-default-color-dark-background-default-shade);
    --suggestions-hover: var(--#{$prefix}color-default-color-dark-background-default);
    --suggestions-hover-border-color: var(--#{$prefix}color-default-color-dark-accent-design-accent);
    --suggestions-feature-bg: var(--#{$prefix}color-default-color-dark-background-alt);
    --suggestions-feature-hover: var(--#{$prefix}color-default-color-dark-background-alt-shade);
    --suggestions-feature-text-color: var(--#{$prefix}color-default-color-dark-text-default);
  }
}
