@use "../../../css/mixins";
@use "../../../css/variables/animation";

.qld-search-input {
  // Input variables
  --background-color: var(--#{$prefix}white);
  --border-color: var(--#{$prefix}light-border-alt);
  --border-color-focus: var(--#{$prefix}light-border-alt);
  --border-color-hover: var(--#{$prefix}light-action-primary-hover);
  --placeholder-color: var(--#{$prefix}light-text-lighter);
  --qld-icon-color: var(--#{$prefix}light-text-lighter);
  --text-color: var(--#{$prefix}light-text-text);
  --text-heading: var(--#{$prefix}color-default-color-light-text-heading);

  // Suggestions variables
  --suggestions-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px 1px rgba(0, 0, 0, 0.1);

  .dark &,
  .dark-alt & {
    --border-color: var(--#{$prefix}dark-border-alt);
    --border-color-focus: var(--#{$prefix}dark-border-alt);
    --border-color-hover: var(--#{$prefix}dark-action-primary-hover);
  }

  --border-radius: 0.25rem;
  --_size: 3rem;

  display: flex;
  position: relative;
  border-radius: var(--border-radius);

  &:focus-within {
    .suggestions.d-none {
      display: block !important; // !important to override bootstrap d-none
    }
  }

  @include mixins.focusable($customSelector: ":has(.form-control:focus)");

  &:has(.form-control:focus) {
    >button {
      border-bottom-right-radius: var(--border-radius);
    }
  }

  .form-control {
    min-height: var(--_size);
    padding: 0 4rem 0 1rem;
    border: var(--border-color) solid 0.125rem;
    border-inline-end-width: 0;
    border-radius: 0;
    border-start-start-radius: var(--border-radius);
    border-end-start-radius: var(--border-radius);
    background: var(--background-color);
    padding-inline-end: 7.5rem;
    color: var(--text-color);

    transition: {
      property: border-color, background-color, color;
      timing-function: animation.$timing-function;
      duration: animation.$duration-fast;
    }

    &::placeholder {
      color: var(--placeholder-color);
    }

    &:hover {
      --background-color: var(--#{$prefix}neutral-lightest);
      --border-color: var(--border-color-hover);
    }

    &:active,
    &:focus {
      --border-color: var(--border-color-focus);
      --background-color: var(--#{$prefix}white);
      outline: none;
    }
  }

  >button {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: 0;
    margin: 0;
    width: var(--_size);
    box-shadow: none;
    min-width: auto;
    min-height: auto;
    flex-shrink: 0;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    .btn-label {
      display: none;
    }

    //prep a button "search-icon" which is invoked at smaller screeen sizes below
    .btn-icon {
      @include mixins.make-icon($name: "search", $size: "md");
      --qld-icon-color: currentColor;
    }
  }

  @include media-breakpoint-up(md) {
    --_size: 3.25rem;

    >button {
      padding-block: calc(0.75rem - 0.125rem);
      padding-inline: var(--qld-btn-padding-x);
      margin: 0;
      width: auto;

      .btn-label {
        display: block;
      }

      .btn-icon {
        display: none;
        margin-inline-start: 0;
      }
    }

    .form-control {
      padding-block: 0.75rem;
      padding-inline: 1rem;
    }
  }

  //Search dropdown
  .suggestions {
    position: absolute;
    inset-inline-start: 0;
    width: 100%;
    inset-block-start: 7px !important; // to override bootstrap's popperjs default top value
    z-index: 1;
    border-radius: 0.5rem;
    background: var(--#{$prefix}color-default-color-light-background-default-shade);
    box-shadow: var(--suggestions-shadow);

    &>div {
      border-radius: 0.5rem;
      border-bottom: 0.25rem solid var(--#{$prefix}color-default-color-light-accent-design-accent);
    }

    .suggestions-category {
      padding-block: 0.75rem;

      &:not(:first-of-type) {
        border-block-start: 1px solid var(--#{$prefix}light-alt-background-shade);
      }

      // Question
      &-label {
        padding-block: 0.75rem;
        padding-inline: 1rem;
      }

      ul {
        li {
          a {
            display: flex;
            align-items: center;
            padding-block: 0.75rem;
            padding-inline: 1rem;
            color: var(--#{$prefix}light-text-text);
            width: 100%;
            text-decoration: underline;
            text-decoration-color: transparent;
            text-decoration-thickness: 0.5px;
            transition:
              text-decoration-color animation.$duration-fast animation.$timing-function,
              text-decoration-thickness animation.$duration-fast animation.$timing-function;

            &:hover {
              text-decoration-color: inherit;
              text-decoration-thickness: var(--#{$prefix}link-underline-thickness-hover);
              transition:
                text-decoration-color animation.$duration-fast animation.$timing-function,
                text-decoration-thickness animation.$duration-fast animation.$timing-function;
            }

            &:not(.view-more) {
              &::before {
                content: "";
                height: 1.25rem;
                width: 1.25rem;
                min-width: 1.25rem;
                margin-inline-end: 0.5rem;
                mask-image: var(--qgds-icon-arrow-right);
                mask-position: center center;
                mask-repeat: no-repeat;
                mask-size: contain;
                background-color: var(--#{$prefix}light-action-secondary);
              }

              &:hover {
                &::before {
                  background-color: var(--#{$prefix}light-action-secondary-hover);
                }
              }
            }

            &.view-more {
              text-decoration-color: inherit;
            }
          }
        }
      }
    }

    &:has(.dynamic-suggestions:not(.d-none)) {
      background-color: var(--#{$prefix}default-background);
    }

    .dynamic-suggestions {
      .suggestions-category:not(.feature) {
        ul {
          li {
            a {
              &:not(.view-more) {
                &::before {
                  mask-image: var(--qgds-icon-search);
                }
              }
            }
          }
        }
      }
    }

    hr {
      margin: 0;
    }

    // Featured search result styles
    .feature {
      background-color: var(--#{$prefix}color-default-color-light-background-default-shade);
    }

    // Show when active
    &.show {
      display: block;
    }

    &__group {
      padding: 0;

      a,
      strong {
        font-size: 1rem;
        text-decoration: none;
      }

      strong {
        font-weight: 600;
        color: var(--text-heading);
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          min-height: 3rem;
          list-style: none;
          cursor: pointer;
          margin-block-start: 0;

          a {
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;

            &:focus {
              text-decoration-color: inherit;
              text-decoration-thickness: var(--#{$prefix}link-underline-thickness-hover);
              outline-color: var(--#{$prefix}light-focus);
              outline-offset: -4px;
              background-color: var(--#{$prefix}color-default-color-light-border-default);
            }
          }

          &:hover {
            background-color: var(--#{$prefix}color-default-color-light-border-default);
          }
        }
      }

      .dynamic-suggestions .suggestions-category:not(.feature) {
        strong {
          color: var(--#{$prefix}light-text-text);
        }
      }
    }
  }

  &.full-width {
    max-width: 100%;
  }

  &.is-filled {
    --background-color: var(--#{$prefix}neutral-lightest);

    .form-control {
      border-width: 0;
      border-block-end-width: 0.125rem;
      border-radius: 0;
      border-start-start-radius: var(--border-radius);

      &:active,
      &:focus {
        --border-color: var(--#{$prefix}neutral-lighter);
        border-bottom-left-radius: var(--border-radius);
      }
    }

    >button {
      border-radius: 0;
      border-start-end-radius: var(--border-radius);
    }
  }
}
