@use "../../../css/mixins";

.qld-search-input {
  // Input variables
  --background-color: var(--#{$prefix}white);
  --border-color: var(--#{$prefix}light-border-alt);
  --placeholder-color: var(--#{$prefix}light-text-lighter);
  --qld-icon-color: var(--#{$prefix}light-text-lighter);
  --text-color: var(--#{$prefix}light-text-text);
  --text-heading: var(--#{$prefix}color-default-color-light-text-heading);

  .dark &,
  .dark-alt & {
    --text-heading: var(--#{$prefix}dark-text-lighter);
    --qld-focus-color: var(--#{$prefix}dark-focus);
  }

  .suggestions.d-none {
    display: unset !important; // !important to override bootstrap d-none
  }
  .suggestions.d-none {
    display: none !important; // !important to override bootstrap d-none
  }
  &:focus-within {
    .suggestions.d-none {
      display: block !important; // !important to override bootstrap d-none
    }
  }

  // Suggestions variables
  --suggestions-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  --suggestions-bg: var(
    --#{$prefix}color-default-color-light-background-default-shade
  );
  --suggestions-hover: var(
    --#{$prefix}color-default-color-light-border-default
  );
  --suggestions-hover-border-color: var(
    --#{$prefix}color-default-color-light-accent-design-accent
  );
  --suggestions-feature-bg: var(
    --#{$prefix}color-default-color-dark-background-default
  );
  --suggestions-feature-hover: var(
    --#{$prefix}color-default-color-dark-background-default-shade
  );
  --suggestions-feature-text-color: var(
    --#{$prefix}color-default-color-dark-text-default
  );

  // local variables
  $border-radius: 0.25rem;
  --_size: 3rem;

  display: flex;
  position: relative;
  border-radius: $border-radius;

  @include mixins.focusable($customSelector: ":has(.form-control:focus)");

  &:has(.form-control:focus) {
    > button {
      border-bottom-right-radius: $border-radius;
    }
  }

  .form-control {
    min-height: var(--_size);
    padding: 0 4rem 0 1rem;
    border: {
      color: var(--border-color);
      style: solid;
      top-width: 0.125rem;
      right-width: 0;
      bottom-width: 0.125rem;
      left-width: 0.125rem;
      radius: $border-radius 0 0 $border-radius;
    }
    background: var(--background-color);
    padding-right: 7.5rem;
    color: var(--text-color);
    transition: {
      property: border-color, background-color, color;
      timing-function: ease-out;
      duration: 0.2s;
    }

    &::placeholder {
      color: var(--placeholder-color);
    }

    &:hover {
      --background-color: var(--#{$prefix}neutral-lightest);
      --border-color: var(--#{$prefix}light-action-primary-hover);
    }

    &:active,
    &:focus {
      --border-color: var(--#{$prefix}light-border-alt);
      --background-color: var(--#{$prefix}white);
      outline: none;
    }
  }

  > button {
    border-radius: 0 $border-radius $border-radius 0;
    padding: 0;
    margin: 0;
    width: var(--_size);
    box-shadow: none;
    min-width: auto;
    min-height: auto;
    flex-shrink: 0;

    &:hover,
    &:focus {
      box-shadow: none;
    }

    .btn-label {
      display: none;
    }

    //prep a button "search-icon" which is invoked at smaller screeen sizes below
    .btn-icon {
      @include mixins.make-icon($name: "search", $size: "md");
      --qld-icon-color: currentColor;
    }
  }

  @include media-breakpoint-up(md) {
    --_size: 3.25rem;

    > button {
      padding: calc(0.75rem - 0.125rem) var(--qld-btn-padding-x);
      margin: 0;
      width: auto;

      .btn-label {
        display: block;
      }

      .btn-icon {
        display: none;
        margin-left: 0;
      }
    }

    .form-control {
      padding: 0.75rem 1rem 0.75rem 2.5rem;
    }

    @include mixins.make-icon($name: "search", $size: "xs", $pseudo: "before") {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(1rem - 0.125rem);
      pointer-events: none;
    }
  }

  //Search dropdown
  .suggestions {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 1;
    border-radius: 0.5rem;
    background: var(--suggestions-bg);
    box-shadow: var(--suggestions-shadow);
    border-bottom: solid 0.25rem var(--suggestions-hover-border-color);

    .suggestions-category {
      &-view-more {
        text-decoration: underline;
        text-decoration-thickness: 0.5px;
        text-decoration-color: rgba(
          $color-default-color-light-text-default,
          0.5
        );
        &:hover {
          background-color: var(--suggestions-hover);
          text-decoration-color: rgba(
            $color-default-color-light-text-default,
            1
          );
          text-decoration-thickness: var(
            --#{$prefix}link-underline-thickness-hover
          );
        }
      }

      &-label {
        padding: 0 1rem;
      }

      ul {
        li {
          a {
            padding: 0.75rem 1rem;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

    hr {
      margin: 0;
    }

    // Featured search result styles
    .feature {
      background-color: var(--suggestions-feature-bg);

      strong {
        color: var(--suggestions-feature-text-color);
      }

      ul {
        li {
          &:hover {
            background-color: var(--suggestions-feature-hover);
          }

          a {
            color: var(--suggestions-feature-text-color);
          }
        }
      }
    }

    // Show when active
    &.show {
      display: block;
    }

    &__group {
      padding: 0;

      a,
      strong {
        font-size: 1rem;
        text-decoration: none;
      }

      strong {
        font-weight: 600;
        color: var(--text-heading);
      }

      ul {
        padding: 0;
        margin: 0;
        li {
          min-height: 3rem;
          list-style: none;
          cursor: pointer;
          margin-top: 0;

          a {
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;

            &:hover {
              text-decoration: underline;
            }
          }

          &:hover {
            background-color: var(--suggestions-hover);

            a {
              text-decoration: underline;
              text-decoration-thickness: var(
                --#{$prefix}link-underline-thickness-hover
              );
            }
          }
        }
      }
    }
  }

  &.full-width {
    max-width: 100%;
  }

  &.is-filled {
    --background-color: var(--#{$prefix}neutral-lightest);

    .form-control {
      border: {
        top-width: 0;
        right-width: 0;
        bottom-width: 0.125rem;
        left-width: 0;
        radius: $border-radius 0 0 0;
      }

      &:active,
      &:focus {
        --border-color: var(--#{$prefix}neutral-lighter);
        border-bottom-left-radius: $border-radius;
      }
    }

    > button {
      border-radius: 0 $border-radius 0 0;
    }
  }

  .dark &,
  .dark-alt & {
    --background-color: var(--#{$prefix}dark-background-background);
    --border-color: var(--#{$prefix}dark-alt-border);
    --placeholder-color: var(--${prefix}dark-text-lighter);
    --qld-icon-color: var(--#{$prefix}white);
    --text-color: var(--#{$prefix}dark-text-text);

    // Suggestions variables
    --suggestions-bg: var(
      --#{$prefix}color-default-color-dark-background-default-shade
    );
    --suggestions-hover: var(
      --#{$prefix}color-default-color-dark-background-default
    );
    --suggestions-hover-border-color: var(
      --#{$prefix}color-default-color-dark-accent-design-accent
    );
    --suggestions-feature-bg: var(
      --#{$prefix}color-default-color-dark-background-alt
    );
    --suggestions-feature-hover: var(
      --#{$prefix}color-default-color-dark-background-alt-shade
    );
    --suggestions-feature-text-color: var(
      --#{$prefix}color-default-color-dark-text-default
    );

    &:has(.form-control:focus) {
      --qld-icon-color: var(--#{$prefix}light-text-lighter);
      --text-color: var(--#{$prefix}light-text-text);
    }

    .form-control {
      &:hover {
        --background-color: var(--#{$prefix}dark-background-shade);
        --border-color: var(--#{$prefix}dark-action-primary-hover);
      }

      &:active,
      &:focus {
        --text-color: var(--#{$prefix}light-text-text);
        --border-color: var(--#{$prefix}neutral-lighter);
        --background-color: var(--#{$prefix}white);
      }
    }

    &.is-filled {
      --background-color: var(--#{$prefix}dark-background-shade);

      .form-control {
        &:hover {
          --background-color: var(--#{$prefix}dark-background-shade);
          --border-color: var(--#{$prefix}dark-action-primary-hover);
        }

        &:active,
        &:focus {
          --background-color: var(--#{$prefix}white);
          --border-color: var(--#{$prefix}neutral-lighter);
        }
      }
    }
  }
}
