// Callout Vars

// Default
.callout {
    --#{$prefix}callout-padding: 1.5rem 1rem 1.5rem 1.5rem;
    --#{$prefix}callout-bg-color: #{$qld-extra-light-grey};
    --#{$prefix}callout-border-color: #{$qld-brand-secondary};
    --#{$prefix}callout-border-width: 0.25rem;
    --#{$prefix}callout-title-color: #{$qld-text-headings};
    --#{$prefix}callout-text-color: #{$qld-text-grey};
    --#{$prefix}callout-spacer: 1.25rem;

    .qld-alternative & {
        --#{$prefix}callout-bg-color: #{$qld-grey};
    }

    .qld-dark & {
        --#{$prefix}callout-bg-color: #{$qld-dark-background};
        --#{$prefix}callout-title-color: #{$qld-dark-text};
        --#{$prefix}callout-text-color: #{$qld-dark-text};
    }

    .qld-dark.qld-alternative & {
        --#{$prefix}callout-bg-color: #{$qld-dark-blue-shade};
    }
}

//Dark theme
//https://getbootstrap.com/docs/5.3/customize/color-modes/#enable-dark-mode

@include color-mode(dark) {

}

//Define component styles
.callout {

    background-color: var(--#{$prefix}callout-bg-color);
    border-left: solid var(--#{$prefix}callout-border-width) var(--#{$prefix}callout-border-color);
    padding: var(--#{$prefix}callout-padding);

    &-title {
        color: var(--#{$prefix}callout-title-color);
        margin-bottom: 0;
    }

    &-text {
        color: var(--#{$prefix}callout-text-color);

        p, ul, ol {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-title + &-text {
        // Add space above text only if there is a title
        margin-top: var(--#{$prefix}callout-spacer);
    }
}
