<!-- Side Nav test -->
<main>
<div class="container-fluid">
  {{#>contentFooterWrapper}}
    {{> contentFooter }}
    <p>inner contentFooterWrapper data</p>
  {{/contentFooterWrapper}}
</div>
</main>
    <footer class="qld-footer" role="contentinfo">
<p>post contentFooterWrapper suffix</p>
    </footer>

