// Accordions: https://getbootstrap.com/docs/5.3/components/accordion/#sass-variables
// #{$prefix} defined in main.scss

//SASS variables;
$accordion-padding:             1rem;
$accordion-icon-color:          $qld-brand-secondary-dark;
$accordion-icon-active-color:   $qld-brand-secondary-dark;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");


// CSS Scoped Variables
//--#{$prefix}{component}-{property}

.accordion {
    --#{$prefix}accordion-color: var(--#{$prefix}body-color);
    --#{$prefix}accordion-bg: var(--#{$prefix}body-bg);
    --#{$prefix}accordion-transition: #{$accordion-transition};
    --#{$prefix}accordion-border-color: #{$qld-light-grey};
    --#{$prefix}accordion-border-width: 1px;
    --#{$prefix}accordion-border-radius: 0;
    --#{$prefix}accordion-inner-border-radius: 0;
    --#{$prefix}accordion-btn-padding-x: 1rem;
    --#{$prefix}accordion-btn-padding-y: 1rem;
    --#{$prefix}accordion-btn-color: #{$link-color};
    --#{$prefix}accordion-btn-bg: #{$qld-extra-light-grey};
    --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
    --#{$prefix}accordion-btn-icon-width: #{$accordion-icon-width};
    --#{$prefix}accordion-btn-icon-transform: #{$accordion-icon-transform};
    --#{$prefix}accordion-btn-icon-transition: #{$accordion-icon-transition};
    --#{$prefix}accordion-btn-focus-border-color: #{$accordion-button-focus-border-color};
    --#{$prefix}accordion-btn-focus-box-shadow: #{$accordion-button-focus-box-shadow};
    --#{$prefix}accordion-body-padding-x: #{$accordion-padding};
    --#{$prefix}accordion-body-padding-y: #{$accordion-padding};
    --#{$prefix}accordion-active-color: #{$link-color};
    --#{$prefix}accordion-active-bg: #FFF;
}

// Dark theme wll inherit most properties from globally scoped variables. 
// For example, .body-bg-color will already be defined on :root, no need to redefine here.
// Only provide specific variables that aren't available from the global (:root) scope

[data-bs-theme="dark"] {
    .accordion {
        --#{$prefix}accordion-btn-bg: var(--#{$prefix}body-bg);
        --#{$prefix}accordion-btn-color: var(--#{$prefix}white );
        --#{$prefix}accordion-active-bg: var(--#{$prefix}brand-primary-dark );
        --#{$prefix}accordion-active-color: var(--#{$prefix}white );
    }
}

.accordion {

    margin-bottom: 2rem;

    &-button {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        text-decoration-line: underline;

        &:hover {
            background: #FFF;
        }
    }
}