// Accordions: https://getbootstrap.com/docs/5.3/components/accordion/#sass-variables
// #{$prefix} defined in main.scss

//SASS variables;
$accordion-padding:             1rem;
$accordion-icon-color:          $qld-brand-secondary-dark;
$accordion-icon-active-color:   $qld-brand-secondary-dark;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");


// CSS Scoped Variables
//--#{$prefix}{component}-{property}

.accordion {
    --#{$prefix}accordion-color: var(--#{$prefix}body-color);
    --#{$prefix}accordion-bg: var(--#{$prefix}body-bg);
    --#{$prefix}accordion-border-color: var(--#{$prefix}light-grey);
    --#{$prefix}accordion-border-width: 1px;
    --#{$prefix}accordion-border-radius: 0;
    --#{$prefix}accordion-inner-border-radius: 0;
    --#{$prefix}accordion-btn-padding-x: 1rem;
    --#{$prefix}accordion-btn-padding-y: 1rem;
    --#{$prefix}accordion-btn-color: var(--#{$prefix}link-color);
    --#{$prefix}accordion-btn-bg: var(--#{$prefix}extra-light-grey);
    --#{$prefix}accordion-btn-icon: #{escape-svg($accordion-button-icon)};
    --#{$prefix}accordion-btn-active-icon: #{escape-svg($accordion-button-active-icon)};
    --#{$prefix}accordion-btn-icon-width: 1.5rem;
    --#{$prefix}accordion-btn-icon-transform: rotate(180deg);
    --#{$prefix}accordion-btn-icon-transition: transform .25s ease-in;
    --#{$prefix}accordion-btn-focus-box-shadow: none;
    --#{$prefix}accordion-active-bg: var(--#{$prefix}accordion-btn-bg);
    --#{$prefix}accordion-active-color: var(--#{$prefix}accordion-btn-color);
    --#{$prefix}focus: var(--#{$prefix}light-blue);
}

// Dark theme wll inherit most properties from globally scoped variables.
// For example, .body-bg-color will already be defined on :root, no need to redefine here.
// Only provide specific variables that aren't available from the global (:root) scope

[data-bs-theme="dark"] {
    .accordion {
        --#{$prefix}accordion-btn-bg: var(--#{$prefix}body-bg);
        --#{$prefix}accordion-btn-color: var(--#{$prefix}white );
        --#{$prefix}accordion-active-bg: var(--#{$prefix}brand-primary-dark );
        --#{$prefix}accordion-active-color: var(--#{$prefix}white );
    }
}

.accordion {

    margin-bottom: 2rem;

    &-button {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.2;
        text-decoration-line: underline;
        text-underline-offset: var(--#{$prefix}link-underline-offset);
        text-decoration-thickness: var(--#{$prefix}link-underline-thickness);

        &:hover {
            background: var(--#{$prefix}accordion-bg);
            text-decoration-thickness: var(--#{$prefix}link-underline-thickness-hover);
        }

        &:focus,
        &:focus:not(:focus-visible) {
            outline: 3px solid var(--#{$prefix}focus);
            outline-offset: 2px;
        }
    }

    &-header {
        font-weight: var(--#{$prefix}body-font-weight);
    }

}