<div id="accordion" class="component mb-5">
	<small class="py-2 mb-1 d-block">accordion</small>
	{{{ components.accordion }}}
</div>
<div id="alert" class="component mb-5">
	<small class="py-2 mb-1 d-block">alert</small>
	{{{ components.alert }}}
</div>
<div id="blockquote" class="component mb-5">
	<small class="py-2 mb-1 d-block">blockquote</small>
	{{{components.blockquote }}}
</div>
<div id="breadcrumbs" class="component mb-5">
	<small class="py-2 mb-1 d-block">breadcrumbs</small>
	{{{ components.breadcrumbs }}}
</div>
<div id="button" class="component mb-5">
	<small class="py-2 mb-1 d-block">button</small>
	{{{components.button }}}
</div>
<div id="cardblock" class="component mb-5">
	<small class="py-2 mb-1 d-block">cardblock</small>
	{{{components.cardblock}}}
</div>
<div id="callout" class="component mb-5">
	<small class="py-2 mb-1 d-block">callout</small>
	{{{ components.callout }}}
</div>
<div id="inpagenav" class="component mb-5">
	<small class="py-2 mb-1 d-block">inpagenav</small>
	{{{ components.inpagenav }}}
</div>
<div id="pagination" class="component mb-5">
	<small class="py-2 mb-1 d-block">pagination</small>
	{{{ components.pagination }}}
</div>
<div id="table" class="component mb-5">
	<small class="py-2 mb-1 d-block">table</small>
	{{{components.table}}}
</div>
