.link {
  text-underline-offset: var(--qld-link-underline-offset);
  text-decoration-thickness: var(--qld-link-underline-thickness);

  --#{$prefix}icon-background-color: var(--#{$prefix}light-action-secondary);
  --#{$prefix}icon-background-color-hover: var(
    --#{$prefix}light-action-secondary-hover
  );
  --#{$prefix}link-color: var(--#{$prefix}light-link);
  --#{$prefix}link-text-decoration-color: var(--#{$prefix}light-link);
  --#{$prefix}link-gap: 0.5rem;

  .dark &,
  .dark-alt & {
    --#{$prefix}icon-background-color: var(--#{$prefix}dark-action-secondary);
    --#{$prefix}icon-background-color-hover: var(
      --#{$prefix}dark-action-secondary-hover
    );
    --#{$prefix}link-color: var(--#{$prefix}dark-link);
    --#{$prefix}link-text-decoration-color: var(--#{$prefix}dark-link);
    &:visited {
      color: var(--#{$prefix}link-color);
      text-decoration-color: var(--#{$prefix}link-text-decoration-color);
    }
  }

  color: var(--#{$prefix}link-color);
  text-decoration-color: var(--#{$prefix}link-text-decoration-color);
  display: inline-flex;
  gap: var(--#{$prefix}link-gap);
  align-items: center;
  text-decoration-color: rgba(
    var(--#{$prefix}link-color-rgb),
    var(--#{$prefix}link-opacity, 0.5)
  );
  text-underline-offset: $icon-link-underline-offset;
  backface-visibility: hidden;

  &:hover {
    text-decoration-thickness: var(--qld-link-underline-thickness-hover);
    text-decoration-color: var(
      --#{$prefix}color-default-color-light-underline-default
    );
    .qld-icon {
      background-color: var(--#{$prefix}icon-background-color-hover);
    }
  }

  &:visited {
    color: var(--#{$prefix}link-color);
    text-decoration-color: var(--#{$prefix}link-text-decoration-color);

    &:hover {
      text-decoration-color: var(--#{$prefix}link-text-decoration-color);
    }
  }

  &:focus {
    outline: 3px solid var(--qld-focus-color);
    outline-offset: 2px;
    border-radius: 4px;
  }

  .qld-icon {
    background-color: var(--#{$prefix}icon-background-color);
  }
}

.link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li:first-child {
    margin-top: 0;
  }
}
