<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumbs}}
            {{! print all breadcrumbs except the current page as links}}
            {{#unless @last}}
            <li class="breadcrumb-item">
                <a href="{{link}}">{{linktext}}</a>
            </li>
            {{/unless}}
            {{! print the current page as plain text}}
            {{#if @last}}
            <li class="breadcrumb-item active" aria-current="page">{{linktext}}</li>
            {{/if}}
        {{/each}}
    </ol>
</nav>
