{{> globalAlert globalAlert}}
{{> header header}}
{{> navbar navbar}}
<main>
  {{#> breadcrumbsWrapper}}
    {{> breadcrumbs breadcrumbs}}
  {{/breadcrumbsWrapper}}
  <!-- Main content-->
  <div class="container-full">
    <div class="qld-content">
      <div class="row">
        <!-- Side Nav -->
        {{#> sidenavWrapper}}
          {{> sidenav sidenav}}
        {{/sidenavWrapper}}
        {{#> contentWrapper}}
        {{> @partial-block }}
        {{/contentWrapper}}
      </div>
      <!-- end row -->
    </div>

    {{#>contentFooterWrapper}}
      {{> contentFooter contentFooter }}
    {{/contentFooterWrapper}}

  </div>
</main>
{{> footer footer}}