{{#each radio}}
<div class="form-check">
  <input class="form-check-input" type="radio" name="{{name}}" id="flexRadioDefault2" value="{{value}}" {{state}}>
  <label class="form-check-label" for="flexRadioDefault2">
    {{option}}
  </label>
</div>
{{/each}}