{{{ components.inpagenav }}}


<h2 id="section-heading">Section heading (H2) test</h2>

{{{ components.callout }}}


<!-- Insert Dismissable Alert -->


<!-- Insert Success Alert -->
{{{ components.alerts.closure }}}

{{{ components.alerts.receipt }}}

{{{ components.alerts.reminder }}}

<p>When you buy a new or used vehicle from a motor dealer, generally they will arrange
    registration and compulsory third party (CTP) insurance for you. You will need to provide
    evidence of identity such as your current driver licence.</p>

<p>If a motor dealer has not arranged registration of your vehicle, or if you buy a vehicle
    privately, the new registration must be done at a transport and motoring service centre. If
    you live in a rural area you can visit a QGAP office, Magistrates Court or local police
    station that provides vehicle registration services—please call to confirm before visiting.
</p>

{{{components.accordion}}}

<p>If you have not already done so, check that the vehicle is unencumbered by searching on the
    <a href="#" target="_blank">Personal Property Securities Register (PPSR)</a> website. It will show if there is money
    owing
    or an interest registered by the State Penalties Enforcement Registry (SPER). You can't
    register a vehicle if an interest has been registered by SPER.
</p>

<p>You can't apply for a new registration via Transport and Main Roads online services.</p>

<p>To register a vehicle in Queensland, refer to the registration checklist and take these items
    with you when registering your vehicle.</p>

<h3 id="content-heading">Content heading (H3)</h3>

<p>If you are eligible for a registration concession make sure you let the dealer know and provide proof to enable the
    dealer to include the concession.</p>

<p>You can't have a concession on 2 vehicles at the same timefor some concession types.</p>

{{{components.callout}}}


<h2 id="inspection">Pre-registration inspection</h2>

<p>You must take the vehicle with you because it may need to be inspected before it can be
    registered.</p>

<p>Light motor vehicles with a gross vehicle mass (GVM) of 4.5t or less and motorcycles may
    require a pre-registration inspection to confirm the vehicle’s identity.</p>

<p>A pre-registration inspection must be conducted on all heavy motor vehicles with a GVM over
    4.5t to ensure the vehicle complies with Australian Design Rules.</p>

<p>Pre-registration inspection services for heavy motor vehicles can be done by an accredited
    person under the Heavy Vehicle Registration Assessment Scheme.</p>

<h3 id="fees-and-charges">Fees and charges</h3>

<p>Commencing on 01 July 2023, registration fees for vehicle registration are:</p>

{{{components.table}}}

<p>For more information on registration fees, refer to the <a href="#" target="_blank">Registration fees</a> page.</p>


<h2 id="related-services">Related services</h2>
{{{components.cardblock}}}