@use "../../../css/mixins" as m;

.qld-cta-link {
  color: var(--qld-link-color);
  text-decoration-color: var(--qld-link-underline);
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-self: flex-start;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2rem;
  border-radius: 4px;
  gap: 0.5rem;
  padding-inline-end: 0.5rem;
  transition:
    gap 0.3s ease,
    padding-inline-end 0.3s ease;
  &.small {
    font-size: 0.875rem;
    line-height: 1rem;
    align-items: center;
    .icon {
      &::after {
        --icon-size: 1.25rem;
      }
    }
  }
  .icon {
    @include m.make-icon($name: "arrow-right", $size: "lg", $pseudo: "after") {
      margin-inline: 0;
    }
  }
  &:hover {
    text-decoration-color: inherit;
  }
  &:focus {
    outline: 3px solid var(--qld-focus-color);
  }
  &:focus,
  &:hover {
    gap: 1rem;
    padding-inline-end: 0;
    transition:
      gap 0.3s ease,
      padding-inline-end 0.3s ease;
    .icon {
      &::after {
        --#{$prefix}icon-color: var(--qld-action-icon-hover-color);
      }
    }
  }
}
.view-all {
  .icon {
    @include m.make-icon(
      $name: "view-all",
      $size: "lg",
      $pseudo: "after",
      $include-base: false
    );
  }
}
a[aria-disabled="true"] {
  pointer-events: none;
  color: var(--qld-dark-grey-muted);
  .icon {
    &::after {
      --#{$prefix}icon-color: var(--qld-dark-grey-muted);
    }
  }
}
