<nav class="qld-skip-links" aria-label="skip to content links">
  <a class="qld-skip-links__item" href="#content">Skip to main content</a>
  <a class="qld-skip-links__item" href="#main-nav">Skip to main navigation</a>
</nav>