%_qld-skip-link-variables {
  // Skip links
  --#{$prefix}header_skip-link_color: var(
    --#{$prefix}color-default-color-dark-link-default
  );
  --#{$prefix}header_skip-link_focus_outline_color: var(
    --#{$prefix}color-default-color-dark-focus-default
  );
  --#{$prefix}header_skip-link_focus_text_color: var(
    --#{$prefix}color-default-color-dark-link-default
  );
  --#{$prefix}header_skip-link_focus_bg_color: var(
    --#{$prefix}color-default-color-dark-background-default-shade
  );

  // .dark &,
  // .dark-alt & {
  // No actual changes here
  //   --color-outline-focus: $color-default-color-dark-focus-default;
  // }
}

.qld-skip-links {
  @extend %_qld-skip-link-variables;

  line-height: 1;

  &__item {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    color: var(--#{$prefix}header_skip-link_color);

    &:focus {
      top: 1rem;
      left: 1rem;
      padding: 1.5rem;
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: absolute;
      width: auto;
      color: var(--#{$prefix}header_skip-link_focus_text_color);
      background-color: var(--#{$prefix}header_skip-link_focus_bg_color);
      outline: 3px solid var(--#{$prefix}header_skip-link_focus_outline_color);
      z-index: 999;
    }
  }
}
