<!-- Content Wrapper test -->
<div class="container-fluid">
<div class="row">
<p>pre contentWrapper prefix</p>
</div>
  <div class="row">
{{#>contentWrapper}}
  <p>inner contentWrapper data</p>
{{/contentWrapper}}
</div>
  <p>post contentWrapper suffix</p>
</div>
