// QLD Custom Utilities, extends Bootstrap utilities
$utilities: map-merge(
  $utilities,
  (
    // Responsive width classes (w-md-25, w-lg-50, etc.)
    "width": (
        property: width,
        class: w,
        responsive: true,
        values: (
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
        ),
      ),
    // QLD Background theme utilities (bg-dark, bg-dark-alt, etc.)
    "qld-background": (
        property: background-color,
        class: bg,
        values: (
          "default": var(--qld-default-background),
          "default-shade": var(--qld-default-background-shade),
          "light": var(--qld-light-background),
          "light-shade": var(--qld-light-background-shade),
          "light-alt": var(--qld-light-alt-background),
          "light-alt-shade": var(--qld-light-alt-background-shade),
          "dark": var(--qld-dark-background),
          "dark-shade": var(--qld-dark-background-shade),
          "dark-alt": var(--qld-dark-alt-background),
          "dark-alt-shade": var(--qld-dark-alt-background-shade),
        ),
      ),
    "focus": (
      class: "qld-focus",
      property: --qld-focus-color,
      values: (
        "light": var(--#{$prefix}light-focus),
        "dark": var(--#{$prefix}dark-focus),
      ),
    )
  )
);

// Utility: Style mailto links
a[href^="mailto:"] {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

