// Dark mode.  
// Note that you can't read custom variables into media queries (as at Sep 2023).
// Example: "background: var(--theme-background);"  

// However, you can set them, however:
// example: --theme-background: #000;

//You can also fall back to SASS variable to set at compile time.

@include color-mode(dark) {
    :root {
        --#{$prefix}body-bg: var(--qld-brand-primary-dark);
        --#{$prefix}body-color: #FFF;
        --#{$prefix}heading-color: #FFF;
        --#{$prefix}link-color: #FFF;
        --#{$prefix}link-hover-color: var(--qld-brand-accent);
    }

    //...etc
}


.light {
    background: var(--#{$prefix}light-background);
}

.alt {
    background: var(--#{$prefix}light-alt-background);
}

.bg-default {  background-color: var(--qld-default-background); }
.bg-default-shade {  background-color: var(--qld-default-background-shade); }

.bg-light {  background-color: var(--qld-light-background); }
.bg-light-shade {  background-color: var(--qld-light-background-shade); }

.bg-light-alt {  background-color: var(--qld-light-alt-background); }
.bg-light-alt-shade {  background-color: var(--qld-light-alt-background-shade); }

.bg-dark {  background-color: var(--qld-dark-background); }
.bg-dark-shade {  background-color: var(--qld-dark-background-shade); }

.bg-dark-alt {  background-color: var(--qld-dark-alt-background); }
.bg-dark-alt-shade {  background-color: var(--qld-dark-alt-background-shade); }
