<!-- QGDS Component: Loading Spinner -->

<div class="qld-spinner {{#if stacked}}align-center{{/if}}" role="status">
    <div class="spinner-border"></div>
    {{#unless minimal}}
    <span class="qld-spinner-label">
        Loading...
    </span>
    {{/unless}}
</div>