<!-- QGDS Component: Loading Spinner -->

<div class="qld-spinner {{#if stacked}}align-center{{/if}}" role="status">
    <div class="spinner-border"></div>
    <span class="qld-spinner-label {{#if minimal}}sr-only{{/if}}">
        Loading...
    </span>
</div>
