<!-- QGDS Component: Loading Spinner -->

<!-- Label for the first input field -->
<div class="qld-spinner {{#if stacked}}align-center{{/if}}" role="status">
    <div class="spinner-border"></div>
    <span class="qld-spinner-label">
        Loading...
    </span>
</div>