{{#unless hide_back_to_top}}
  <div class="qld__widgets">
      <a href="#" id="backToTop" class="qld__btn qld__btn--floating qld__btn--back-to-top" aria-label="Back to top">
        <span>Back to top</span>
      </a>
  </div>
{{/unless}}