{{#unless hide_back_to_top}}
  <div class="qld__widgets" data-min-page-height="{{isdefined min_page_height 0}}">
    {{> button  
      variantClass=(default button.variantClass "back-to-top")
      islink=(default button.islink true)
      isdisabled=(default button.isdisabled false)
      iconClass=(default button.iconClass "fa-solid fa-arrow-up")
      iconPosition=(default button.iconPosition "trailing")
      label=(default button.label "Back to top")
      href=(default button.href "#")
      target=(default button.target "_self")
    }}
  </div>
{{/unless}}