{{#unless hide_back_to_top}}
  <div class="qld__widgets d-flex align-items-baseline flex-row position-relative z-index-1 d-print-none{{#if is_fixed}} position-fixed fixed-bottom mb-3 z-index-10 fixed{{/if}}" data-min-page-height="{{isdefined min_page_height 0}}">
    {{> directionLinks  
        id= (isdefined directionalLink.id "back-to-top")
        label= (isdefined directionalLink.label "Back to top")
        href= (isdefined directionalLink.href "#")
        target= (isdefined directionalLink.target "_self")
        class= (isdefined directionalLink.class "back-to-top up my-2 ms-auto")  
    }}
  </div>
{{/unless}}