
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Widgets
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__widgets {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: relative;
  z-index: 1;
  &.fixed {
      position: fixed;
      bottom:0.75rem;
      right: 0.75rem;
      z-index: 10;
  }
}

.qld__widgets + .qld__footer {
  @include media-breakpoint-up(xl) {
      padding-block-end: 4rem;
  }
}

a.back-to-top,
a.btn.back-to-top {  
  --qld-btn-color: var(--#{$prefix}light-action-primary);
  --qld-btn-bg: var(--#{$prefix}light-background);
  --qld-btn-hover-bg: var(--#{$prefix}light-background-shade);
  --btn-border: 0px;
  --btn-border-colour: var(--qld-btn-bg);
  
  margin-block-start: 0.5rem;
  margin-inline-start: auto;
  background-color: var(--qld-btn-bg);
  border: var(--btn-border) solid var(--btn-border-colour);
  padding-block: calc(0.75rem - var(--btn-border));
  padding-inline: 1rem;
  border-radius: 0.25rem;

  .fa-arrow-up {
    font-size: 1.3rem; 
    color: var(--#{$prefix}color-default-color-light-action-secondary);
  }
  
  &:hover, &:focus {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 1px 3px 1px rgba(0, 0, 0, .1);
  }
  &:visited {
    color: var(--qld-btn-color);
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    background-color: var(--qld-btn-hover-bg);
    text-decoration-color: var(--qld-btn-color);
    border-color: var(--btn-border-colour);
    .fa-arrow-up {
      color: var(--#{$prefix}color-default-color-light-action-secondary-hover);
    }
  }
  &.hide {
    display: none;
    width: 0;
    height: 0;
  }
}
@media print {
  .qld__widgets {
    display: none !important;
  }
}