{{#unless hide_back_to_top}}
  <div class="qld__widgets {{#if dynamic}}fixed{{/if}}">
      <a href="#" id="backToTop" class="qld__btn qld__btn--floating qld__btn--back-to-top show" data-offset="{{offset}}" data-dynamic="{{dynamic}}" aria-label="{{text}}">
        <span>{{text}}</span>
      </a>
  </div>
{{/unless}}