
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
// Widgets
//--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__widgets {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: relative;
  z-index: 1;
  &.fixed {
      position: fixed;
      bottom:0.75rem;
      right: 0.75rem;
      z-index: 10;
  }
}

.qld__widgets + .qld__footer {
  @include media-breakpoint-up(xl) {
      padding-block-end: 4rem;
  }
}

.qld__btn--back-to-top {  
  --btn-background-colour: var(--#{$prefix}color-default-color-light-background-default-shade);
  --btn-background-colour-hover: var(--#{$prefix}color-default-color-light-background-alt-shade);
  --btn-font-colour: var(--#{$prefix}color-default-color-light-action-primary);
  --btn-font-colour-hover: var(--#{$prefix}color-default-color-light-action-primary);
  --btn-border: 0px; //This is to allow borders added to btn
  --btn-border-colour: var(--btn-background-colour);

  margin-block-start: 0.5rem;
  margin-inline-start: auto;
  background-color: var(--btn-background-colour);
  border: var(--btn-border) solid var(--btn-border-colour);
  color: var(--btn-font-colour);
  padding: calc(0.75rem - var(--btn-border));
  border-radius: 0.25rem;
  display: flex;
  gap: 0.5rem;
  text-decoration: none;

  svg {
    height: 1.5rem;
    width: 1.5rem;
    display: inline-block;
    color: var(--#{$prefix}color-default-color-light-action-secondary);
  }
  &:hover, &:focus {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 1px 3px 1px rgba(0, 0, 0, .1);
  }
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    background-color: var(--btn-background-colour-hover);
    color: var(--btn-font-colour-hover);
    text-decoration-color: var(--btn-font-colour-hover);
    border-color: var(--btn-border-colour);
    svg {
      color: var(--#{$prefix}color-default-color-light-action-secondary-hover);
    }
  }
  &.hide {
    display: none;
    width: 0;
    height: 0;
  }
}
@media print {
  .qld__widgets {
    display: none !important;
  }
}