<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{> head }}
</head>
<body>
    {{> globalAlert globalAlert}}
    {{> header header}}
    {{> navbar navbar}}
    
    {{#if banner}}
    {{> banner banner}}
    {{/if}}
    
    <main>
        <div class="container-fluid">
            {{#if cardGrid}}
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        {{#each cardGrid.cards}}
                        <div class="col-md-4 mb-4">
                            {{> card this}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </section>
            {{/if}}
            
            {{#if linkColumns}}
            <section class="py-5 bg-light">
                <div class="container">
                    {{> linkColumns linkColumns}}
                </div>
            </section>
            {{/if}}
            
            {{#if promotionalPanel}}
            <section class="py-5">
                <div class="container">
                    {{> promotionalPanel promotionalPanel}}
                </div>
            </section>
            {{/if}}
            
            <div class="container qld-content">
                <div class="row">
                    <div class="col-12">                        
                        {{> backToTop backToTop}}
                    </div>
                </div>                                        
            </div>
        </div>
    </main>
    {{> footer footer}}
</body>
</html>