// //----------------------------------------------------------------------------------------------------------------------
// // Primary navigation
// // Palettes and second hand variables:
// //----------------------------------------------------------------------------------------------------------------------
@import './colours';
@import './icons';

// Component
.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--#{$prefix}navbar-bg-color);
    border-bottom: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-border-accent);
    align-items: center;

    @include media-breakpoint-up(lg) {
        .desktop-only {
            display: block;
        }
        .nav-item-group {
            display: block;
            display: none;
        }
    }

    // Mobile
    @include media-breakpoint-down(lg) {
        .desktop-only {
            display: none;
        }
        .nav-item-group {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            a.first-element {
                flex: 1 1;
                &.show {
                    border-top-right-radius: 1rem;
                    background-color: var(--#{$prefix}navbar-dropdown-bg-color);
                }
                &:hover {
                    background-color: var(--#{$prefix}navbar-menuitem-hover);
                }
            }

            button.second-element {
                padding: 0;
                border: none;
                flex: 1 1 auto;
                align-self: center;
                position: relative;
                cursor: pointer;
                -ms-flex-item-align: center;

                min-height: 2rem;
                min-width: 2rem;

                margin: 0 0.625rem;
                border-radius: 50%;
                
                background-color: var(--#{$prefix}navbar-mobile-menu-toggle-bg);
                -webkit-box-shadow: var(--#{$prefix}navbar-mobile-menu-toggle-boxshadow);
                box-shadow: var(--#{$prefix}navbar-mobile-menu-toggle-boxshadow);

                svg {
                    height: 1rem;
                    width: 1rem;
                }
            }

            ul.dropdown-menu {
                flex: 1 1 100%;
            }

            .dropdown-toggle {
                max-width: 2rem;
                border-left: solid 1px var(--#{$prefix}navbar-border-color);
            }
        }
    }


    &-collapse {

        @include media-breakpoint-down(md) {
            width: 20rem;
        }

        @include media-breakpoint-up(md) {
            width: 26.25rem;
        }

        @include media-breakpoint-down(lg) {
            z-index: 99;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: auto;
            background-color: var(--#{$prefix}navbar-bg-color);
            
            /* Initially positioned off-screen to the right */
            transition: transform .25s ease-in-out;
            transform: translateX(100%);
        }

        &.collapsing {
            transition: none;
            /* Disable transitions when state is changing to avoid flickering */
        }

        &.show {
            transform: translateX(0);
            /* Slide into view */
        }
    }

    &__header {
        display: flex;
        background-color: var(--#{$prefix}navbar-mobile-header-bg-color);
        color: var(--#{$prefix}navbar-text-color);
        align-items: center;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 1px 3px 1px rgba(0, 0, 0, .1);
        position: relative;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        .qld__main-nav__toggle {
            margin-left: auto;
        }

        .navbar__heading {
            font-size: .875rem;
            line-height: 1.42;
            margin: 0 1rem;
            font-weight: normal;

            @include media-breakpoint-up(md) {
                font-size: 1rem;
                line-height: 1.5;
                line-height: 4.5rem;
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }

            @include media-breakpoint-down(lg) {
                color: var(--#{$prefix}navbar-mobile-text-color);
            }
        }

        // Menu open and close toggles
        .navbar__toggle {
            border: 0;
            display: flex;
            flex-direction: column;
            padding: 0.5rem 1rem 0.25rem 1rem;
            margin-left: auto;
            font-size: .875rem;
            line-height: 1.14;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            align-items: center;
            
            @include media-breakpoint-up(lg) {
                color: var(--#{$prefix}navbar-text-color);
                border-left: solid 1px var(--#{$prefix}navbar-border-color);
                &:focus {
                    outline: 2px solid var(--#{$prefix}navbar-text-focus-color);
                    outline-offset: 2px;
                }
            }

            @include media-breakpoint-down(lg) {
                color: var(--#{$prefix}navbar-mobile-text-color);
                border-left: solid 1px var(--#{$prefix}navbar-mobile-border-color);
            }

            &:hover {
                @include media-breakpoint-down(lg) {
                    background-color: var(--#{$prefix}navbar-mobile-menuitem-hover);
                }
                @include media-breakpoint-up(lg) {
                    background-color: var(--#{$prefix}navbar-menuitem-hover);
                }
            }

            @include media-breakpoint-up(md) {
                padding: 0.75rem 1rem;
            }

            &-text {
                font-size: 0.625rem;
                margin-top: 0.25rem;
                line-height: 1rem;

                @include media-breakpoint-up(md) {
                    margin-top: 0.625rem;
                    font-size: .875rem;
                    line-height: 1.14;
                }
            }

            &:before {
                font-size: 1rem;
                line-height: 1;
                margin-bottom: 0.25rem;
                display: block;
                text-align: center
            }

            svg {
                height: 1rem;
                width: 1rem;
                margin: 1px auto;
                
                @include media-breakpoint-up(lg) {
                    color: var(--#{$prefix}navbar-svg-color);
                }
                
                @include media-breakpoint-down(lg) {
                    color: var(--#{$prefix}navbar-mobile-svg-color);
                }

                @include media-breakpoint-up(md) {
                    height: 1.25rem;
                    width: 1.25rem;
                    margin: 0 auto;
                }
            }

            &--open {
                background-color: transparent;

                &:active {
                    background-color: var(--#{$prefix}navbar-menuitem-hover);
                }
            }

            &--close {
                background-color: transparent;

                @include media-breakpoint-up(md) {
                    border-width: 2px
                }

            }
        }
    }

    &__overlay {
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        background-color: var(--#{$prefix}navbar-overlay);
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: .4;
        display: none;
        z-index: 2;
    }

    &__overlay.show {
        opacity: .95;
        right: 0;
        display: block;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &-nav {
        $navbar-padding-x: 0;
        $navbar-padding-y: 0;
        --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
        --#{$prefix}navbar-padding-y: #{$navbar-padding-y};

        @include media-breakpoint-down(lg) {
            border-left: 4px solid var(--#{$prefix}navbar-border-accent);
        }

        .dropdown-container {
            display: flex;
        }
    }

    .dropdown { 
        &-menu {
            background-color: var(--#{$prefix}navbar-dropdown-bg-color);
            
            // Override the default bs-popper margin
            &[data-bs-popper] {
                margin-top: 0;
            }
            
            @include media-breakpoint-up(lg) {
                left: 0;
                right: 0;
                width: 1320px; //TO DO: FIX
                padding: 3rem 4rem;
                margin-top: 0.5rem;
                margin-left: -4rem;
                border-radius: 0.75rem;
                -webkit-box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, .3), 0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, .15);
                box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, .3), 0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, .15);
            }

            @include media-breakpoint-down(lg) {
                border: none;
                border-radius: 0;
                box-shadow: none;
                -webkit-box-shadow: none;
                padding: 0;
                &.show {
                    border-left: solid 0.25rem var(--#{$prefix}navbar-dropdown-bg-color);
                    margin-left: -0.25rem;
                }
            }

            &__inner {
                .dropdown-menu__featured {
                    color: var(--#{$prefix}navbar-link-color);
                    font-size: 1.5rem;
                    text-decoration: none;
                    font-weight: 600;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }
                }

                p.dropdown-menu__description {
                    margin: 1rem 0 0 0;
                    color: var(--#{$prefix}navbar-text-color);
                }

                .dropdown-menu__view_all {
                    font-size: 1.25rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: var(--#{$prefix}navbar-link-color);

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }

                    &:focus {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }
                }

                li {

                    @include media-breakpoint-down(lg) {
                        padding-right: 0;
                    } 
                    
                    a.dropdown-item {
                        font-weight: 600;
                        padding: 1rem 0;
                        color: var(--#{$prefix}navbar-link-color);
                        border-bottom: solid 1px var(--#{$prefix}navbar-border-color);

                        &:hover,
                        &:focus {
                            text-decoration: underline;
                            text-underline-offset: 5px;
                            background-color: inherit;

                            @include media-breakpoint-down(lg) {
                                border-left: solid 0.25rem var(--#{$prefix}navbar-menuitem-hover-border);
                                margin-left: -0.25rem;  
                            }
                        }

                        &::after {
                            width: 1.25rem;
                            height: 1.25rem;
                            margin: 0 0.5rem 0 0.5rem;
                            content: "";
                            -webkit-box-flex: 0;
                            -ms-flex: 0 0 auto;
                            flex: 0 0 auto;
                            -webkit-transition: margin .2s ease;
                            -o-transition: margin .2s ease;
                            transition: margin .2s ease;
                            -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                            -webkit-mask-position: center;
                            mask-position: center;
                        }

                        @include media-breakpoint-down(lg) {
                            padding: 1rem;
                            white-space: normal;
                            overflow-wrap: break-word;
                        }
                    }
                }
            }

            .dropdown-item__description {
                color: var(--#{$prefix}navbar-text-color);
                font-size: .875rem;
                line-height: 1.42;
                font-weight: normal;
                padding: 1rem 0rem;
            }

            hr {
                margin: 2rem 0 2rem 0;
                border-bottom: solid 2px var(--#{$prefix}navbar-border-color);
                padding-right: calc(var(--qld-gutter-x)* .5);
                padding-left: calc(var(--qld-gutter-x)* .5);
            }
        }
    }
    .nav-item {

        @include media-breakpoint-down(lg) {
            border-bottom: solid 1px var(--#{$prefix}navbar-border-color);
        }

        &.nav-item-home {
            display: flex;
            a.nav-link {
                display: inline-flex;
                @include media-breakpoint-down(lg) {
                    width: 100%;
                }
                span.home-label {
                    margin-left: 10px;
                    @include media-breakpoint-up(lg) {
                        display: none;
                    }
                }
            }
            .qld__icon {
                display: block;
                height: 2rem;
                width: 1.5rem;
                @include media-breakpoint-up(lg) {
                    color: var(--#{$prefix}navbar-home-icon-color);
                }
                @include media-breakpoint-down(lg) {
                    color: var(--#{$prefix}navbar-mobile-home-icon-color);
                }
            }
        }
        .nav-link {
            color: var(--#{$prefix}navbar-nav-text-color);
            text-decoration: none;
            line-height: 2rem;
            width: 100%;
            overflow-y: visible;
            position: relative;
            $navbar-nav-link-padding-x: 0.75rem;
            $navbar-nav-link-padding-y: 0.75rem;

            --#{$prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
            --#{$prefix}nav-link-padding-x: #{$navbar-nav-link-padding-x};
            --#{$prefix}nav-link-padding-y: #{$navbar-nav-link-padding-y};

            &.show,
            &:hover {
                text-decoration: underline;
                background-color: var(--#{$prefix}navbar-menuitem-hover);
                @include media-breakpoint-up(lg) {
                    background-color: var(--#{$prefix}navbar-menuitem-hover);
                    border-bottom: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-menuitem-hover-border);
                    margin-bottom: -0.5rem;
                }
            }

            &:visited {
                color: var(--#{$prefix}navbar-nav-text-color);
            }

            &-home-active {
                @include media-breakpoint-up(lg) {
                    background-color: var(--#{$prefix}navbar-bg-color);
                    border-bottom: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-bg-color);
                    margin-bottom: -0.5rem;
                }
                @include media-breakpoint-down(lg) {
                    background-color: var(--#{$prefix}navbar-bg-color);
                }
            }
        }

        .dropdown-toggle {
            // Default toggle icon
            &::before,
            &::after {
                content: none;
            }

            &:hover {
                @include media-breakpoint-down(lg) {
                    -webkit-box-shadow: var(--#{$prefix}navbar-mobile-menu-toggle-boxshadow__hover);
                    box-shadow: var(--#{$prefix}navbar-mobile-menu-toggle-boxshadow__hover);
                }
            }
        }
    }

    // Navbar
    @include media-breakpoint-down(lg) {
        //Bootstrap shared navigation elements, hidden for mobile/tablet
        .dropdown-menu__featured,
        .dropdown-menu__description,
        .dropdown-menu__inner hr,
        .dropdown-menu__view_all,
        .dropdown-item__description {
            display: none;
        }
    }
}