// Variables
.navbar {
    --#{$prefix}navbar-border-width: 0.5rem;
    --#{$prefix}navbar-color: #{$body-color};

    --#{$prefix}navbar-text-color: #{$qld-brand-primary};
    --#{$prefix}navbar-hover-color: #{$qld-brand-primary};
    --#{$prefix}navbar-hover-bg: #{$qld-brand-primary};
    --#{$prefix}navbar-active-color: #{$qld-brand-primary};
    --#{$prefix}navbar-disabled-color: #{$navbar-light-disabled-color};

    --#{$prefix}navbar-bg-color: #{$qld-extra-light-grey};
    --#{$prefix}navbar-border-color: #{$qld-brand-secondary};
    --#{$prefix}icon-color: #{$qld-brand-secondary-dark};

    --#{$prefix}navbar-toggler-padding-y: #{$navbar-toggler-padding-y};
    --#{$prefix}navbar-toggler-padding-x: #{$navbar-toggler-padding-x};
    --#{$prefix}navbar-toggler-font-size: #{$navbar-toggler-font-size};

    --#{$prefix}navbar-toggler-border-color: #{$navbar-light-toggler-border-color};
    --#{$prefix}navbar-toggler-border-radius: #{$navbar-toggler-border-radius};
    --#{$prefix}navbar-toggler-focus-width: #{$navbar-toggler-focus-width};
    --#{$prefix}navbar-toggler-transition: #{$navbar-toggler-transition};

    .light & {
        --#{$prefix}navbar-bg-color: var(--#{$prefix}light-background-shade);
    }

    .alt & {
        --#{$prefix}navbar-bg-color: var(--#{$prefix}light-grey-alt);
    }

    .dark & {
        --#{$prefix}navbar-hover-color: var(--#{$prefix}dark-background);
        --#{$prefix}navbar-bg-color: var(--#{$prefix}dark-background);
    }

    .dark-alt & {
        --#{$prefix}navbar-hover-color: var(--#{$prefix}dark-blue-shade);
        --#{$prefix}navbar-bg-color: var(--#{$prefix}dark-blue-shade);
    }

    .dark &,
    .dark-alt & {
        --#{$prefix}navbar-title-color: var(--#{$prefix}white);
        --#{$prefix}navbar-text-color: var(--#{$prefix}white);
        --#{$prefix}icon-color: var(--#{$prefix}white);
    }
}

//Component
.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--#{$prefix}navbar-bg-color);
    border-bottom: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-border-color);
    align-items: center;

    .navbar-nav {
        $navbar-padding-x: 0;
        $navbar-padding-y: 0;
        --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
        --#{$prefix}navbar-padding-y: #{$navbar-padding-y};
    }

    .dropdown-menu {
        left: 0;
        right: 0;

        width: 1320px; //TO DO: FIX
        padding: 3rem 4rem;
        margin-top: 0.5rem;
        margin-left: -4rem;
        border-radius: 0.75rem;
        
        -webkit-box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, .3), 0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, .15);
        box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, .3), 0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, .15);        
        
        background-color: var(--#{$prefix}navbar-bg-color);

        .dropdown-menu__inner {
            .dropdown-menu__featured {
                color: var(--#{$prefix}navbar-text-color);
                font-size: 1.5rem;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }

                &:focus {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }
            }

            p.dropdown-menu__description {
                margin: 1rem 0 0 0;
            }

            .dropdown-menu__view_all {
                font-size: 1.25rem;
                font-weight: 700;
                text-decoration: none;
                color: var(--#{$prefix}navbar-text-color);

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }

                &:focus {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }
            }

            hr {
                margin: 2rem 0 2rem 0;
                height: 1px;
            }

            li {
                .dropdown-item {
                    font-weight: 700;
                    padding: 1rem 0;
                    color: var(--#{$prefix}navbar-text-color);
                    border-bottom: solid 1px var(--#{$prefix}navbar-border-color);
    
                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }
    
                    &:focus {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }
                }
            }
        }

        .dropdown-item__description {
            color: var(--#{$prefix}navbar-text-color);
            font-size: 2rem;
            font-size: .875rem;
            line-height: 1.4285714286;
            font-weight: normal;
            padding: 1rem 0rem;
        }

        hr {
            height: 2px;
            margin: 0 0;
        }
    }

    .nav-item {
        .nav-link {
            color: var(--#{$prefix}navbar-text-color);
            line-height: 2rem;
            overflow-y: visible;
            position: relative;

            $navbar-nav-link-padding-x: 0.75rem;
            $navbar-nav-link-padding-y: 0.75rem;
            
            --#{$prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
            --#{$prefix}nav-link-padding-x: #{$navbar-nav-link-padding-x};
            --#{$prefix}nav-link-padding-y: #{$navbar-nav-link-padding-y};

            &.show,
            &:hover {
                margin-bottom: -0.5rem;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }

        .dropdown-toggle {
            &::before,
            &::after {
                content: none;
                position: relative;
                width: 1rem;
                
                $navbar-toggle-height: 1rem;
                $navbar-toggle-width: 1rem;
                $navbar-icon-color: var(--#{$prefix}icon-color);

                height: $navbar-toggle-height;
                width: $navbar-toggle-width;
            }
        }
    }

    //Specific use case - home icon sits within a flex container
    .nav-item-home {
        display: flex;
        .qld-icon {
            display: block;
            height: 2rem;
            width: 1.5rem;
            background-color: var(--#{$prefix}icon-color);
        }
    }

}