// //----------------------------------------------------------------------------------------------------------------------
// // Primary navigation
// // Palettes and second hand variables:
// //----------------------------------------------------------------------------------------------------------------------

@import './icons';

.navbar {
    --#{$prefix}navbar-color-crest-fill: #1D1D1D;
    --#{$prefix}navbar-color-light-siteTitle: #022A50;
    --#{$prefix}navbar-color-light-designAccent: #6BBE27;
    --#{$prefix}navbar-color-light-text: #414141;
    --#{$prefix}navbar-color-light-text__muted: #636363;
    --#{$prefix}navbar-color-light-link: #09549F;
    --#{$prefix}navbar-color-light-focus: #0085B3;
    --#{$prefix}navbar-color-light-border: #EBEBEB;
    --#{$prefix}navbar-color-light-background: #FFFFFF;
    --#{$prefix}navbar-color-light-background__shade: #F5F5F5;
    --#{$prefix}navbar-color-light-underline: #3F7AB4;
    --#{$prefix}navbar-color-light-hover-underline: #09549F;
    --#{$prefix}navbar-color-light-alt-button: #008733;
    --#{$prefix}navbar-color-light-alt-button__hover: #00702B;
    --#{$prefix}navbar-color-light-button__hover: #003E7D;

    // Dark palette
    --#{$prefix}navbar-color-dark-crest-fill: #FFFFFF;
    --#{$prefix}navbar-color-dark-siteTitle: #FFFFFF;
    --#{$prefix}navbar-color-dark-designAccent: #6BBE27;
    --#{$prefix}navbar-color-dark-heading: #FFFFFF;
    --#{$prefix}navbar-color-dark-text: #FFFFFF;
    --#{$prefix}navbar-color-dark-text__muted: #DEEBF9;
    --#{$prefix}navbar-color-dark-link: #FFFFFF;
    --#{$prefix}navbar-color-dark-focus: #01B0E5;
    --#{$prefix}navbar-color-dark-border: #1D9AC6;
    --#{$prefix}navbar-color-dark-background: #09549F;
    --#{$prefix}navbar-color-dark-background__shade: #04498F;
    --#{$prefix}navbar-color-dark-underline: #B5CCE2;
    --#{$prefix}navbar-color-dark-hover-underline: #FFFFFF;
    --#{$prefix}navbar-color-dark-alt-button: #EFD700;
    --#{$prefix}navbar-color-dark-alt-button__hover: #FFE817;
    --#{$prefix}navbar-color-dark-alt-background: #05325F;
    --#{$prefix}navbar-color-dark-alt-background__shade: #052C53;

    // Component overrides 
    --#{$prefix}navbar-border-width: 0.5rem;
    --#{$prefix}navbar-link-color: var(--#{$prefix}navbar-color-light-link);
    --#{$prefix}navbar-text-color: var(--#{$prefix}text-grey);
    --#{$prefix}navbar-text-focus-color: var(navbar-color-light-focus);
    --#{$prefix}navbar-nav-text-color: var(--#{$prefix}navbar-color-light-text);
    --#{$prefix}navbar-bg-color: var(--#{$prefix}navbar-color-light-background__shade);
    --#{$prefix}navbar-dropdown-bg-color: var(--#{$prefix}navbar-color-light-background);
    --#{$prefix}navbar-menuitem-hover: var(--#{$prefix}navbar-color-light-alt-background);
    --#{$prefix}navbar-menuitem-hover-border: var(--#{$prefix}navbar-color-light-button__hover);
    --#{$prefix}navbar-border-color: var(--#{$prefix}navbar-color-light-border);
    --#{$prefix}navbar-border-accent: var(--#{$prefix}navbar-color-light-designAccent);
    --#{$prefix}navbar-home-icon-color: var(--#{$prefix}text-grey);
    --#{$prefix}navbar-hover-color: var(--#{$prefix}navbar-color-light-button__hover);
    --#{$prefix}navbar-icon-hover: var(--#{$prefix}navbar-color-light-alt-button__hover);
    --#{$prefix}navbar-svg-color: var(---#{$prefix}navbar-color-light-alt-button);

    .alt &,
    .light & {
        --#{$prefix}navbar-title-color: var(--#{$prefix}white);
        --#{$prefix}navbar-home-icon-color: var(--#{$prefix}text-grey);
        --#{$prefix}navbar-border-color: var(--#{$prefix}light-grey);
    }

    .dark & {
        --#{$prefix}navbar-bg-color: var(--#{$prefix}dark-background);
        --#{$prefix}navbar-dropdown-bg-color: var(--#{$prefix}dark-background);
        --#{$prefix}navbar-menuitem-hover: var(--#{$prefix}dark-blue-shade);
    }

    .dark-alt & {
        --#{$prefix}navbar-bg-color: var(--#{$prefix}dark-blue-shade);
        --#{$prefix}navbar-dropdown-bg-color: var(--#{$prefix}dark-blue-shade);
        --#{$prefix}navbar-menuitem-hover: var(--#{$prefix}dark-background);
    }

    .dark &,
    .dark-alt & {
        --#{$prefix}navbar-title-color: var(--#{$prefix}white);
        --#{$prefix}navbar-text-color: var(--#{$prefix}white);
        --#{$prefix}navbar-nav-text-color: var(--#{$prefix}white);
        --#{$prefix}navbar-home-icon-color: var(--#{$prefix}white);
        --#{$prefix}navbar-link-color: var(--#{$prefix}white);
        --#{$prefix}navbar-border-color: var(--#{$prefix}dark-border);
        --#{$prefix}navbar-menuitem-hover-border: var(--#{$prefix}navbar-color-dark-alt-button__hover);
        --#{$prefix}navbar-icon-hover: var(--#{$prefix}navbar-color-dark-alt-button);
        --#{$prefix}navbar-text-focus-color: var(navbar-color-dark-focus);
        --#{$prefix}navbar-svg-color: var(---#{$prefix}navbar-color-dark-alt-button);
    }
}

// Component
.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--#{$prefix}navbar-bg-color);
    border-bottom: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-border-accent);
    align-items: center;

    .navbar-collapse {
        @include media-breakpoint-down(md) {
            width: 320px;
        }

        @include media-breakpoint-up(md) {
            width: 26.25rem;
        }

        @include media-breakpoint-down(lg) {
            z-index: 99;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: auto;
            background-color: var(--#{$prefix}navbar-bg-color);
            /* Initially positioned off-screen to the right */
            transition: transform .25s ease-in-out;
            transform: translateX(100%);
        }
    }

    .navbar-collapse.collapsing {
        transition: none;
        /* Disable transitions when state is changing to avoid flickering */
    }

    .navbar-collapse.show {
        transform: translateX(0);
        /* Slide into view */
    }

    &__header {
        display: flex;
        background-color: var(--#{$prefix}navbar-bg-color);
        color: var(--#{$prefix}navbar-text-color);
        align-items: center;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2), 0px 1px 3px 1px rgba(0, 0, 0, .1);
        position: relative;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        .qld__main-nav__toggle {
            margin-left: auto;
        }

        .navbar__heading {
            font-size: .875rem;
            line-height: 1.42;
            margin: 0 1rem;
            font-weight: normal;

            @include media-breakpoint-up(md) {
                font-size: 1rem;
                line-height: 1.5;
                line-height: 4.5rem;
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        // Menu open and close toggles
        .navbar__toggle {
            display: flex;
            flex-direction: column;
            padding: 0.5rem 1rem 0.25rem 1rem;
            margin-left: auto;
            font-size: .875rem;
            line-height: 1.14;
            border: 0;
            appearance: none;
            background-color: transparent;
            cursor: pointer;
            align-items: center;
            color: var(--#{$prefix}navbar-text-color);
            border-left: solid 1px var(--#{$prefix}navbar-border-color);

            &:focus {
                outline: 2px solid var(--#{$prefix}navbar-text-focus-color);
                outline-offset: 2px;
            }

            &:hover {
                background-color: var(--#{$prefix}navbar-menuitem-hover);

                svg {
                    color: var(--#{$prefix}navbar-icon-hover);
                }
            }

            @include media-breakpoint-up(md) {
                padding: 0.75rem 1rem;
            }

            .navbar__toggle-text {
                font-size: 0.625rem;
                margin-top: 0.25rem;
                line-height: 1rem;

                @include media-breakpoint-up(md) {
                    margin-top: 0.625rem;
                    font-size: .875rem;
                    line-height: 1.14;
                }
            }

            &:before {
                font-size: 1rem;
                line-height: 1;
                margin-bottom: 0.25rem;
                display: block;
                text-align: center
            }

            svg {
                height: 1rem;
                width: 1rem;
                margin: 1px auto;
                // here
                color: var(---#{$prefix}navbar-svg-color);

                @include media-breakpoint-up(md) {
                    height: 1.25rem;
                    width: 1.25rem;
                    margin: 0 auto;
                }
            }

            &--open {
                color: var(--#{$prefix}navbar-color-dark-text);
                background-color: transparent;

                &:active {
                    background-color: var(--#{$prefix}navbar-menuitem-hover);
                }
            }

            &--close {
                background-color: transparent;

                @include media-breakpoint-up(md) {
                    border-width: 2px
                }

                &:active {
                    background-color: var(--#{$prefix}navbar-menuitem-hover);
                }
            }
        }

        &__toggle-search {
            &--open {

                .qld__main-nav__toggle-search-close-icon,
                .fa-times {
                    display: none;
                }
            }

            &--close {

                .qld__main-nav__toggle-search-icon,
                .fa-search {
                    display: none;
                }
            }

        }
    }

    &__overlay {
        -webkit-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
        background-color: var(--#{$prefix}navbar-color-dark-alt-background__shade);
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: .4;
        display: none;
        z-index: 2;
    }

    &__overlay.show {
        opacity: .95;
        right: 0;
        display: block;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .navbar-nav {
        $navbar-padding-x: 0;
        $navbar-padding-y: 0;
        --#{$prefix}navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
        --#{$prefix}navbar-padding-y: #{$navbar-padding-y};

        @include media-breakpoint-down(lg) {
            border-left: 4px solid var(--#{$prefix}navbar-border-accent);
        }

        li.nav-item-home a.nav-link {
            display: inline-flex;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            span.home-label {
                margin-left: 10px;

                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }

        .dropdown-container {
            display: flex;
        }
    }

    .dropdown-menu {
        background-color: var(--#{$prefix}navbar-dropdown-bg-color);

        @include media-breakpoint-up(lg) {
            left: 0;
            right: 0;
            width: 1320px; //TO DO: FIX
            padding: 3rem 4rem;
            margin-top: 0.5rem;
            margin-left: -4rem;
            border-radius: 0.75rem;
            -webkit-box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, .3), 0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, .15);
            box-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, .3), 0rem 0.125rem 0.375rem 0.125rem rgba(0, 0, 0, .15);
        }

        @include media-breakpoint-down(lg) {
            border: none;
            border-radius: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
            padding: 0;
        }

        .dropdown-menu__inner {
            .dropdown-menu__featured {
                color: var(--#{$prefix}navbar-text-color);
                font-size: 1.5rem;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }

                &:focus {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }
            }

            p.dropdown-menu__description {
                margin: 1rem 0 0 0;
                color: var(--#{$prefix}navbar-text-color);
            }

            .dropdown-menu__view_all {
                font-size: 1.25rem;
                font-weight: 700;
                text-decoration: none;
                color: var(--#{$prefix}navbar-text-color);

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }

                &:focus {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                    background-color: inherit;
                }
            }

            li {

                a.dropdown-item {
                    font-weight: 600;
                    padding: 1rem 0;
                    color: var(--#{$prefix}navbar-link-color);
                    border-bottom: solid 1px var(--#{$prefix}navbar-border-color);

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }

                    &:focus {
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        background-color: inherit;
                    }

                    @include media-breakpoint-down(lg) {
                        padding: 1rem;
                        white-space: normal;
                        overflow-wrap: break-word;
                    }
                }
            }
        }

        .dropdown-item__description {
            color: var(--#{$prefix}navbar-text-color);
            font-size: .875rem;
            line-height: 1.42;
            font-weight: normal;
            padding: 1rem 0rem;
        }

        hr {
            margin: 2rem 0 2rem 0;
            border-bottom: solid 2px var(--#{$prefix}navbar-border-color);
            padding-right: calc(var(--qld-gutter-x)* .5);
            padding-left: calc(var(--qld-gutter-x)* .5);
        }
    }

    .nav-item {
        a.nav-link {
            color: var(--#{$prefix}navbar-nav-text-color);
            line-height: 2rem;
            width: 100%;
            overflow-y: visible;
            position: relative;
            $navbar-nav-link-padding-x: 0.75rem;
            $navbar-nav-link-padding-y: 0.75rem;

            --#{$prefix}navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
            --#{$prefix}nav-link-padding-x: #{$navbar-nav-link-padding-x};
            --#{$prefix}nav-link-padding-y: #{$navbar-nav-link-padding-y};

            &.show,
            &:hover {
                background-color: var(--#{$prefix}navbar-menuitem-hover);
                text-decoration: underline;

                @include media-breakpoint-up(lg) {
                    border-bottom: var(--#{$prefix}navbar-border-width) solid var(--#{$prefix}navbar-menuitem-hover-border);
                    margin-bottom: -0.5rem;
                }
            }

            &:visited {
                color: var(--#{$prefix}navbar-nav-text-color);
            }
        }

        .dropdown-toggle {

            &::before,
            &::after {
                content: none;
                /** awaiting icon set -
                    position: relative;
                    width: 1rem;
                    $navbar-toggle-height: 1rem;
                    $navbar-toggle-width: 1rem;
                    height: $navbar-toggle-height;
                    width: $navbar-toggle-width;
                **/
            }

            &-btn {
                @include media-breakpoint-up(lg) {
                    display: none;
                }

                position: relative;
                height: 1.75rem;
                width: 1.75rem;
                background-color: var(--#{$prefix}navbar-color-light-background);
                margin: 0 0.625rem;
                -ms-flex-item-align: center;
                align-self: center;
                -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2),
                0px 1px 3px 1px rgba(0, 0, 0, .1);
                box-shadow: 0px 1px 2px rgba(0, 0, 0, .2),
                0px 1px 3px 1px rgba(0, 0, 0, .1);
                border: none;
                cursor: pointer;
                border-radius: 50%;
                padding: 0;
                color: var(--#{$prefix}navbar-color-light-text);
            }
        }
    }

    .nav-item-home {
        display: flex;

        .qld-icon {
            display: block;
            height: 2rem;
            width: 1.5rem;
            background-color: var(--#{$prefix}navbar-home-icon-color);
        }
    }

    @include media-breakpoint-down(lg) {

        //Bootstrap shared navigation elements, hidden for mobile/tablet
        .dropdown-menu__featured,
        .dropdown-menu__description,
        .dropdown-menu__inner hr,
        .dropdown-menu__view_all,
        .dropdown-item__description {
            display: none;
        }
    }
}