///
/// Default focus styles for use in buttons etc. Resets :focus and uses :focus-visible instead which only appears on keyboard interaction.
/// @param {Boolean|number} $offsetOutline [true] - Offset the focus ring by 2px.
/// @param {Boolean} $isFocusWithin [false] - Optionally apply styles via :focus-within rather than :focus-visible
/// @param {String} $outlineWidth: [3px] The width of the outline.
/// @param {String} $customSelector [null] - If passed, will override $isFocusWithin and apply focus styles instead to a custom selector string. @see SearchInput
/// @content

@mixin focusable(
  $offsetOutline: true,
  $isFocusWithin: false,
  $outlineWidth: 3px,
  $customSelector: null
) {
  // outline styles without the pseudo state to allow for transition animations.
  $initial-offset: 0 - $outlineWidth;

  @if $offsetOutline == true {
    $offsetOutline: 2px;
  } @else if $offsetOutline == false {
    $offsetOutline: $initial-offset;
  }

  outline: $outlineWidth solid transparent;
  outline-offset: $initial-offset;

  $selector: if(
    $customSelector,
    $customSelector,
    if($isFocusWithin, ":focus-within", ":focus")
  );

  &#{$selector} {
    outline: {
      width: $outlineWidth;
      style: solid;
      color: var(
        --qld-focus-color,
        #002e85
      ); // --qld-focus-color defined in qld-type.scss
      offset: $offsetOutline;
    }

    @content;
  }
}
