// QGDS QOL Video Component

// Video variables.
$video-icon-color: $qld-dark-text;
$video-icon-color-dark: $qld-dark-action-text;

// Default
.video {
  --#{$prefix}video-border-radius: 0.25rem;
  --#{$prefix}video-nav-bg: var(--#{$prefix}light-action-primary);
  --#{$prefix}video-nav-bg-rgb: 0, 94, 184;
  --#{$prefix}video-nav-bg-hover: var(--#{$prefix}light-action-primary-hover);
  --#{$prefix}video-nav-bg-hover-rgb: 0, 62, 150;
  --#{$prefix}video-nav-bg-opacity: 0.9;
  --#{$prefix}video-nav-color: var(--#{$prefix}dark-text);
  --#{$prefix}video-play-icon-size: 2rem;
  --#{$prefix}video-nav-color: var(--#{$prefix}dark-text);
  --#{$prefix}video-clock-icon-size: 1.25rem;

  .dark &,
  .dark-alt & {
    --#{$prefix}video-nav-bg: var(--#{$prefix}dark-action-primary);
    --#{$prefix}video-nav-bg-rgb: 132, 211, 255;
    --#{$prefix}video-nav-bg-hover: var(--#{$prefix}dark-action-primary-hover);
    --#{$prefix}video-nav-bg-hover-rgb: 166, 247, 255;
    --#{$prefix}video-nav-color: var(--#{$prefix}dark-action-text);
  }
}

//Define component styles
.video {
  padding: 0px;
  border-radius: var(--#{$prefix}video-border-radius);
  box-shadow:
    0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "video" "description" "transcript";
  // Add margin top on the next element after video component
  + * {
    margin-top: 2rem;
  }

  &-player {
    position: relative;
    grid-area: video;
    &:focus {
      outline: 3px solid var(--#{$prefix}focus);
      outline-offset: 2px;
    }
  }

  &-thumbnail,
  &-embed {
    border-top-left-radius: var(--#{$prefix}video-border-radius);
    border-top-right-radius: var(--#{$prefix}video-border-radius);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: clip;
    border: 0;
    -webkit-transition:
      opacity 0.25s ease-out,
      z-index 0.3s 0s ease-out;
    transition:
      opacity 0.25s ease-out,
      z-index 0.3s 0s ease-out;
  }

  &-thumbnail {
    display: block;
    opacity: 0;

    &:before {
      content: "";
      background-color: var(--#{$prefix}video-nav-bg);
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out;
    }

    &:hover,
    &:focus {
      &:before {
        opacity: 0.15;
      }

      .video-nav {
        background-color: rgba(
          var(--#{$prefix}video-nav-bg-hover-rgb),
          var(--#{$prefix}video-nav-bg-opacity)
        );

        .video-watch {
          background-color: var(--#{$prefix}video-nav-bg-hover);
          text-decoration: underline;
          text-underline-offset: var(--#{$prefix}link-underline-offset);
          text-decoration-thickness: var(--#{$prefix}link-underline-thickness);
        }
      }

      .video-thumbnail-image {
        &:before {
          opacity: 0.15;
        }
      }
    }

    .video-thumbnail-image {
      background-image: var(--thumbnail);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      opacity: 0;
      width: 100%;
      height: 100%;

      &:before {
        content: "";
        background-color: var(--#{$prefix}video-nav-bg);
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out;
      }
    }
  }

  &-embed {
    opacity: 1;
  }

  &.not-ready {
    .video-thumbnail {
      z-index: 1;
      opacity: 1;
    }
    .video-thumbnail-image {
      opacity: 1;
    }
    .video-embed {
      opacity: 0;
    }
  }

  &.empty-thumbnail {
    .video-thumbnail-image {
      opacity: 0;
    }
    .video-embed {
      opacity: 1;
    }
  }

  &-nav {
    color: var(--#{$prefix}video-nav-color);
    position: absolute;
    height: 4rem;
    display: flex;
    left: 0;
    bottom: 0;
    background-color: rgba(
      var(--#{$prefix}video-nav-bg-rgb),
      var(--#{$prefix}video-nav-bg-opacity)
    );
    border-top-right-radius: 0.75rem;
    overflow: clip;
    font-weight: 400;
    align-items: center;
  }

  &-nav,
  &-watch {
    -webkit-transition:
      background-color 0.25s ease-in-out,
      text-decoration-color 0.25s ease-in-out;
    transition:
      background-color 0.25s ease-in-out,
      text-decoration-color 0.25s ease-in-out;
  }

  &-duration,
  &-watch {
    padding: 1rem;
    padding-left: 3rem;

    span {
      vertical-align: middle;
    }
  }

  &-watch {
    background-color: var(--#{$prefix}video-nav-bg);
    text-decoration-color: transparent;
  }
  &-duration, &-watch {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    span.qld-icon {
      color: inherit;
    }
  }

  &-description {
    padding: 0.75rem 1rem;
    grid-area: description;
    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .icon {
    background-image: none;
  }
  .accordion {
    margin-bottom: 0;
    grid-area: transcript;
    &-item {
      &,
      &:last-of-type > .accordion-header .accordion-button.collapsed {
        border-bottom-right-radius: var(--#{$prefix}video-border-radius);
        border-bottom-left-radius: var(--#{$prefix}video-border-radius);
      }
    }
  }
}
