<!-- QGDS Component: Textbox -->

<div class="code-preview-body {{variantClass}}">
    <!-- Label for the first input field -->
    <label class="qld-textbox-label" for="example-1">Label</label>

    <!-- Hint text for the first input field -->
    <span class="qld-hint-text" id="example-1-hint">Hint text</span>

    <!-- First text input field, described by the hint text above -->
    <input class="qld-textbox {{customClass}}" {{#if isDisabled}}disabled{{/if}}/>
</div>