.qld-textbox {
    padding: 12px 16px;
    border-radius: 4px;
    border: 2px solid $qld-soft-grey;

    //--table-row-border-color: var(--qld-extra-light-grey);

    @media (prefers-color-scheme: dark) {
        --table-row-border-color: var(--qld-white);
    }

    //Table dark
    @include table-variant("dark", $qld-brand-primary);

    &:hover {
        background-color: $qld-extra-light-grey;
        border-color: $qld-textbox-border-color;
    }
    &:focus {
        outline: 3px solid $qld-light-blue;
        outline-offset: 2px;
        background-color: $qld-white !important;
        border: 2px solid $qld-light-grey !important;
    }
    &.form-style-filled {
        background-color: $qld-light-grey-alt;
        border-width: 0 0 2px 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        &:focus {
            border-radius: 4px;
        }
    }
    &:disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}
.qld-textbox-label {
    color: $qld-text-grey;
    display: block;
    font-weight: 600;
    line-height: 1.5rem;
}

*+.qld-hint-text, *+.qld-input-error, *+.qld-input-success {
    margin-top: 8px;
}
.qld-hint-text {
   color: $qld-hint-text-color;
   display: block;
   font-size: 1rem;
   line-height: 1.5;
}

*+p.qld-input-error, *+span.qld-input-error,
*+p.qld-input-success, *+span.qld-input-success {
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap;
}

.qld-input-error {
    color: $qld-notify-warning;
    .dark & {
        color: $qld-color-error-light;
    }
}

.qld_-hint-text + select, .qld-hint-text + input, .qld-hint-text + textarea, .sq-form-question-note + select, .sq-form-question-note + input, .sq-form-question-note + textarea {
    margin-top: 0.5rem;
}

.qld-input-success+input[type=text], .qld-input-error+input[type=text],
.qld-input-success+input[type=email], .qld-input-error+input[type=email],
.qld-input-success+input[type=date], .qld-input-error+input[type=date],
.qld-input-success+.qld-textbox, .qld-input-error+.qld-textbox,
.qld-input-success+textarea, .qld-input-error+textarea {
    margin-top: 8px;
    margin-top: 0.5rem;
}

input.qld-textbox.qld-input-error:not(:focus),
input.qld-textbox.qld-input-error.form-style-filled:not(:focus),
textarea.qld-textbox.qld-input-error:not(:focus),
select.qld__select.qld-input-error:not(:focus),
.dark input.qld-textbox.qld-input-error:not(:focus),
.dark input.qld-textbox.qld-input-error.form-style-filled:not(:focus),
.dark textarea.qld-textbox.qld-input-error:not(:focus),
.dark select.qld__select.qld-input-error:not(:focus) {
    border-color: $qld-notify-warning;
    background-color: $qld-color-error-light;
    color: $qld-text-grey;
}

input.qld-textbox.qld-input-success:not(:focus),
input.qld-textbox.qld-input-success.form-style-filled:not(:focus),
textarea.qld-textbox.qld-input-success:not(:focus),
 select.qld__select.qld-input-success:not(:focus),
 .dark input.qld-textbox.qld-input-success:not(:focus),
 .dark input.qld__text-input.form-style-filled.qld-input-success:not(:focus),
 .dark textarea.qld__text-input.qld-input-success:not(:focus),
 .dark select.qld__select.qld-input-success:not(:focus) {
    border-color: $qld-notify-success;
    background-color: $qld-color-success-light;
    color: $qld-text-grey;
 }

.dark {
    background-color: $qld-sapphire-blue;
    .qld-textbox {
        border-color: $qld-dark-alt-border;
        background-color: $qld-sapphire-blue;
        color: $qld-hint-text-color-muted;
        &:hover {
            color: $qld-white;
            background-color: $qld-dark-background;
            border-color: $qld-color-dark-button-hover;
        }
        &:focus {
            outline: 3px solid $qld-dark-focus;
            color: $qld-text-grey;
        }
    }
    .qld-textbox-label {
        color: $qld-white;
    }
    .qld-hint-text {
        color: $qld-hint-text-color-muted;
    }
    .form-style-filled {
        background-color: $qld-dark-background;
    }
}
