<!-- QGDS Component: Textbox -->

<!-- Label for the first input field -->
<label class="qld-textbox-label" for="example-1">Label</label>

<!-- Hint text for the first input field -->
<span class="qld-hint-text" id="example-1-hint">Hint text</span>

{{#contains "qld-input-success" states}}
<span id="text-field-success" class="qld-input-success">
Success message
</span>
{{/contains}}

{{#contains "qld-input-error" states}}
<span id="text-field-error" class="qld-input-error">
Error message
</span>
{{/contains}}

<!-- First text input field, described by the hint text above -->
<input id="example-1" class="qld-text-input form-control {{customClass}} {{states}}" type="text" placeholder="Hello world" aria-label="Text input example" {{#if isDisabled}}disabled{{/if}}/>
