<!-- QGDS Partial: callout -->
{{#each correct-incorrect}}
<div class="{{classes}}">
    {{{content}}}
    {{!-- triple braces is safe to print as HTML. double braces print as a string. security measure to prevent hackers from injecting code. in this case hackers have to access the CMS anyway --}}
</div>
{{/each}}