@use "../../../css/mixins";
.qg-correct, .qg-incorrect {
    position: relative;
    margin: 0.4rem 0;
    padding: 1rem 1rem 1rem 3rem !important;
    border-radius: 4px;
    vertical-align: top;
    > :only-child { 
      margin-bottom: 0;
    }
    > :first-child {
      &:before {
        position: absolute;
        width: 20px;
        height: 20px;
        text-align: center;
        }
    }
    > :last-child { 
      margin-bottom: 0;
    }
    > :not(first-child) {
        flex: none;
    }
    > * {
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
    &:before {
      position: absolute;
      top: 1.3rem;
      left: 1rem;
      width: 20px;
      height: 20px;
      text-align: center;
    }
}
.qg-correct {
  background-color: #F2FAF4;
  &::before {
    content:"";
    mask-image: var(--qgds-icon-alert-success);
    background-color: var(--#{$prefix}notify-success); 
  }
}
.qg-incorrect {
  background-color: #FDF0F0;
  &:before {
    content:"";
    mask-image: var(--qgds-icon-alert-cancel);
    background-color: var(--#{$prefix}notify-warning); 
  }
}
span.qg-correct, span.qg-incorrect {
  display: block;
}
.table > tbody > tr, table {
  td.qg-correct {
    @extend .qg-correct;
    padding: 0.75rem 0.75rem 0.75rem 3rem !important;
    &:before {
      top: 0.9rem;
    }
  }
  td.qg-incorrect {
    @extend .qg-incorrect;
    padding: 0.75rem 0.75rem 0.75rem 3rem !important;
    &:before {
      top: 0.9rem;
    }
  }
}
.table.qg-correct-incorrect > tbody > tr, table.qg-correct-incorrect {
  td:nth-child(odd) {
    @extend .qg-correct;
  }
  td:nth-child(even) {
    @extend .qg-incorrect;
  }
}
.table.qg-incorrect-correct > tbody > tr, table.qg-incorrect-correct {
  td:nth-child(even) {
    @extend .qg-correct;
  }
  td:nth-child(odd) {
    @extend .qg-incorrect;
  }
}