// Callout Vars

// Default
.callout {
    --#{$prefix}callout-padding: 1.25rem;
    --#{$prefix}callout-bg-color: #{$qld-extra-light-grey};
    --#{$prefix}callout-border-color: #{$qld-brand-secondary};
    --#{$prefix}callout-border-width: 0.25rem;
    --#{$prefix}callout-title-color: #03213f;
    --#{$prefix}callout-text-color: #414141;
    --#{$prefix}callout-margin-bottom: 1rem;

}

//Dark theme
//https://getbootstrap.com/docs/5.3/customize/color-modes/#enable-dark-mode

@include color-mode(dark) {

}

//Define component styles
.callout {

    background-color: var(--#{$prefix}callout-bg-color);
    border-left: solid var(--#{$prefix}callout-border-width) var(--#{$prefix}callout-border-color);
    padding: var(--#{$prefix}callout-padding);
    margin-bottom: var(--#{$prefix}callout-margin-bottom);
    
    &-title {
        font-weight: 600;
        margin-bottom: 0;
        font-size: 1.5rem;
        line-height: 2rem;
        color: var(--#{$prefix}callout-title-color);
    }

    &-text {

        padding-top: 1rem;
        margin-bottom: 0;
        
        p, ul, ol {
            line-height: 1.5;
            color: var(--#{$prefix}callout-text-color);    
        }

        p:last-of-type {
            margin-bottom: 0;
        }

    }
}
