//PREP REUSABLE VARIABLES, SCOPED TO .blockquote
blockquote,
.blockquote {

    //DEFAULT
    --#{$prefix}quote-padding: 1.5rem 1rem 1.5rem 1.5rem;
    --#{$prefix}quote-bg-color: var(--qld-default-background-shade);
    --#{$prefix}quote-border-color: var(--qld-syntax-values);
    --#{$prefix}quote-title-color: var(--qld-light-text-heading);
    --#{$prefix}quote-text-color: var(--qld-light-text-text);

    --#{$prefix}quote-border-width: 0.25rem;

    //Blockquote inside a .light parent container 
    .light & {
        --#{$prefix}quote-bg-color: var(--qld-light-background-shade);
    }

    //Blockquote inside a .alt parent container
    .alt & {
        --#{$prefix}quote-bg-color: var(--qld-light-alt-background-shade);
    }

    ////Blockquote in dark mode (by media query: prefers color scheme (dark))
    // @include color-mode(dark) { tbd }

}


//Ruleset for COMPONENT, reference our scoped variables, or use variables of ::root node
blockquote,
.blockquote {
    background-color: var(--#{$prefix}quote-bg-color);
    border-left: solid var(--#{$prefix}quote-border-width) var(--#{$prefix}quote-border-color);
    padding: var(--#{$prefix}quote-padding);
    color: var(--#{$prefix}quote-text-color);
    line-height: 1.5rem;

    p {
        max-width: 54rem;
    }

    p:last-child {
        margin-bottom: 0;
    }
}