// DEV Notes: 
// ~bootstrap is an alias for node_modules/bootstrap/ as defined in vite.config.js
// ~fontawesome is an alias for node_modules/fontawesome/ as defined in vite.config.js

// Guidelines for this setup: https://getbootstrap.com/docs/5.3/customize/sass/
 
// External fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&Noto+Sans:wght@400;600&display=swap');
$font-family-sans-serif: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//Icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css");
//@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";


//Prefix to namespace design-system classes
$prefix: "qld-";
$enable-cssgrid: true;
$color-mode-type: data;
$enable-dark-mode: true;


// 1. Include bootstraps functions and variables first (so they can be referenced by proceeding files)
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// 2. QLD Design System variables (Bootstrap overrides)
@import "./scss/qld-variables";
// @import "./scss/qld-variables-dark";
@import "./scss/qld-type";

//$theme-colors: map-merge($theme-colors, $project-colors);

//@import "./variables/var_alerts";
//@import "./variables/var_badges";
//@import "./variables/var_breadcrumbs";
//@import "./variables/var_buttons";
//@import "./variables/var_cards";
//@import "./variables/var_carousels";
//@import "./variables/var_dropdowns";
//@import "./variables/var_forms";
//@import "./variables/var_images";
//@import "./variables/var_list-groups";
//@import "./variables/var_modals";
//@import "./variables/var_navbars";
//@import "./variables/var_navs";
//@import "./variables/var_pagination";
//@import "./variables/var_popovers";
//@import "./variables/var_progress";
//@import "./variables/var_tables";
//@import "./variables/var_toasts";
//@import "./variables/var_tooltips";
//@import "./variables/var_transitions";
//@import "./variables/var_type";


//$theme-colors: map-merge($theme-colors, $project-colors);

// 3. Include remainder of bootstrap
// 3.1 Required
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";


// 3.2 Recommended, Resets and shared 
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";

// 3.3 Optional components 
@import "~bootstrap/scss/accordion";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/offcanvas";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/tooltip";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";




// 8. QLD Design System components (bootsrap overrides and custom)
// @import "./components/accordion";
// @import "./components/alerts";
// @import "./components/banner";
// @import "./components/blockquote";
// @import "./components/breadcrumbs";
// @import "./components/buttons";
// @import "./components/callout";
// @import "./components/cards";
// @import "./components/cards";
// @import "./components/carousel";
// @import "./components/forms";
// @import "./components/header-search";
// @import "./components/icons";
// @import "./components/inpage-nav";
// @import "./components/nav"; //includes side nav
// @import "./components/navbar";
// @import "./components/tables";
// @import "./components/pagination";
// @import "./components/typography";

//@import "./themes/qld-theme";

// 9. QLD Design System layout support
// @import "./layout/footer";
// @import "./layout/header";
// @import "./layout/content";


//... as needed.  Please maintain naming consistency


@import "./components/accordion/accordion.scss";
@import "./components/alert/alert.scss";
@import "./components/banner/banner.scss";
@import "./components/blockquote/blockquote.scss";
@import "./components/breadcrumbs/breadcrumbs.scss";
@import "./components/button/button.scss";
@import "./components/callout/callout.scss";
@import "./components/card/card.scss";
@import "./components/correctincorrect/correctincorrect.scss";
//@import "./components/carousel/carousel.scss";
@import "./components/forms/forms.scss";
// @import "./components/header/header.scss";
// @import "./components/header-search/header-search.scss";
@import "./components/icons/icons.scss";
@import "./components/inpagenav/inpagenav.scss";
@import "./components/nav/nav.scss"; //includes side-nav.scss
@import "./components/navbar/navbar.scss";
@import "./components/table/table.scss";
@import "./components/pagination/pagination.scss";
@import "./components/typography/typography.scss";

// Example (for demo)
@import "./components/_example/example.scss";

// Common Layout Blocks
@import "./layout/footer/footer.scss";
@import "./layout/header/header.scss";
@import "./layout/content/content.scss";

// Themes
@import "./scss/qld-theme.scss";
