.qld-table {
  border: 1px solid var(--qld-neutral-lighter);
  border-radius: 0.75rem;
  margin-bottom: 1rem;

  // DS includes a version of the table without borders ("quiet table").
  // This is achieved by setting the border on a wrapping .qld-table--borderless class
  &--borderless {
    border: 1px solid transparent;
  }

  .table {
    --qld-table-border-color: var(--qld-neutral-lighter);
    --qld-table-header-color: var(--qld-light-text-heading);
    --qld-table-cell-color: var(--qld-light-text-text);
    --qld-table-striped-bg: var(--qld-neutral-lightest);

    margin-bottom: 0;
    border-radius: 0.75rem;

    //required to maintain effective border-radius on the table
    overflow: hidden;

    // Override Bootstrap's default odd-row striping to use even rows
    &.table-striped {
      > tbody > tr:nth-of-type(odd) > * {
        --qld-table-accent-bg: transparent;
        --qld-table-bg-type: transparent;
      }

      > tbody > tr:nth-of-type(even) > * {
        --qld-table-accent-bg: var(--qld-table-striped-bg);
        --qld-table-bg-type: var(--qld-table-striped-bg);
      }
    }

    caption {
      caption-side: top;
      color: var(--qld-headings-color);
      padding: 0.75rem;
      line-height: 2rem;
      font-weight: 600;
      font-size: 1.25rem;
      border-bottom: 1px solid var(--qld-table-border-color);
    }

    .sub-caption {
      color: var(--qld-light-text-lighter);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.25rem;
      display: table-row;
    }

    thead th,
    thead td {
      border-bottom: 2px solid var(--qld-light-accent);
    }

    th {
      color: var(--qld-table-header-color);
      padding: 1.25rem 0.75rem;
    }

    td {
      color: var(--qld-table-cell-color);
      padding: 0.75rem;
    }

    tbody tr {
      border-bottom: 1px solid var(--qld-table-border-color);
    }

    tfoot th,
    tfoot td {
      border-top: 2px solid var(--qld-light-accent);
      border-bottom: 0;
      font-weight: 600;
      padding: 0.75rem;
    }
  }

  //Build a bootstrap ".table-dark" class dynamically, passing in a background colour
  @include table-variant("dark", $color-default-color-dark-background-default);

  //Then, we extend .table-dark with some additional rules
  .table-dark {
    --qld-table-border-color: var(--qld-dark-border);
    --qld-table-header-color: var(--qld-dark-text-heading);
    --qld-table-cell-color: var(--qld-dark-text-text);
    --qld-table-striped-bg: var(--qld-dark-background-shade);

    caption,
    .sub-caption {
      background-color: #09549f;
      color: #fff;
    }

    thead th {
      background-color: var(--qld-dark-background-shade);
    }
  }
}
