.css-qa4clq {
    max-width: 100% !important;
}
.css-xzp052 {
    padding: 0 !important;

    .innerZoomElementWrapper {
        > div {
            border: 0 !important;
        }
    }
}
/////////////////////
///  Start of Tabs
/////////////////////
.default, .light, .alt {
    --tab-hover-text-color: #fff;
    --tab-icon-color: #008635;
    --tab-disabled-colour: #636363;
    --tab-text-colour-heading: var(--qld-light-text-heading);
    --tab-background-hover: var(--qld-light-action-primary-hover);
}
.default {
    --tab-background:#F5F5F5;
}
.light {
    --tab-background: var(--qld-light-background-shade);
    --tab-background-hover: var(--qld-button-dark-blue);
}
.alt {
    --tab-background: #E0E0E0;
}
.dark, .dark-alt {
    --tab-background-hover: var(--qld-dark-action-primary-hover);
    --tab-hover-text-color: var(--qld-text-darkest);
    --tab-icon-color: #ffe500;
    --tab-disabled-colour: #deebf9;
    --tab-text-colour-heading: var(--qld-dark-text);
}
.dark {
    --tab-background:var(--qld-dark-hover);
}
.dark-alt {
    --tab-background: #052C53;
}

.qld-tabs {
    --accent-colour: #6BBE27;
    --max-width: 1330px;
    --border-radius: 0.25rem;
    // tabs colours

    --default-bg-colour: #fff;
    --light-bg-colour: var(--qld-light-background);
    --alt-bg-colour: var(--qld-light-alt-background);
    --dark-bg-colour: var(--qld-dark-background);
    --dark-alt-bg-colour: var(--qld-dark-alt-background);
    --light-border-colour: #7A7A7A;
    --light-colour: var(--qld-light-text-heading);
    --dark-border-colour: var(--qld-dark-alt-border);
    --dark-colour: var(--qld-dark-text);
    
    //bootstrap variables
    --#{$prefix}nav-tabs-border-radius: var(--border-radius);
    --#{$prefix}nav-tabs-link-hover-border-color: var(--tab-background-hover);
    --#{$prefix}nav-tabs-link-active-color: var(--tab-hover-text-color);
    --#{$prefix}nav-tabs-link-active-bg: var(--tab-background);
    --#{$prefix}nav-tabs-link-active-border-color: var(--qld-border-color);

    position: relative;

    &.container {
        background-color: transparent !important;
        padding-block-end: 5rem; // test
        margin-block-start: 3rem; //test
        width: 100%;
        max-width: var(--max-width);
        margin-inline: auto;
        .nav-tabs {
            background-color: transparent;
            .nav-item .nav-link {
                background-color: var(--tab-background);
                &.active {
                    background-color: var(--qld-body-bg);
                }
            }
        }
        .tabs-area .nav-tabs {
            margin-block-end: -2px;
        }  
    }
    &.section {
        margin-inline: calc(var(--qld-gutter-x) * -1);
        .nav-tabs {
            max-width: fit-content;
            margin-inline: 0;
        }
        .tab-content > article{
            max-width: var(--max-width);
            margin-inline: auto;
        }
        .tab-content {
            background-color: var(--qld-body-bg);
            border: 0;
            border-block-start: 1px solid var(--qld-border-color);
            margin-block-start: -1px;
        }
    }

    .tabs-area {
        padding-inline: 2.5rem;
        position: relative;
        z-index: 10;
        border-block-end: 1px solid var(--qld-border-color);

        &.default, &.dark-alt {
            background-color: var(--qld-body-bg);
        }

        .nav-tabs {
            margin-block-end: 0;
            background-color: transparent !important;
            margin-block-end: -1px;
        }
    }
    &.default .tabs-area, &.light .tabs-area, &.alt .tabs-area {
        .nav-tabs {
            .nav-item {    
                .nav-link {
                    &.active {
                        span {
                            color: var(--light-colour);
                            &:hover{
                                color: var(--light-colour);                                    
                            }
                            i {
                                color: var(--light-colour);
                            }
                        }  
                    }
                }
            }
        }
    }
    &.default .tabs-area {
        .nav-tabs {
            .nav-item {
                .nav-link.active {
                    background-color: var(--default-bg-colour);
                    border-block-end: 1px solid var(--default-bg-colour);
                }
            }
        }        
    }
    &.light .tabs-area {
        .nav-tabs {
            .nav-item {
                .nav-link.active {
                    background-color: var(--light-bg-colour);
                    border-block-end: 1px solid var(--light-bg-colour);
                }
            }
        }
    }
    &.alt .tabs-area {
        .nav-tabs {
            .nav-item {
                .nav-link.active {
                    background-color: var(--alt-bg-colour);
                    border-block-end: 1px solid var(--alt-bg-colour);
                }
            }
        }
    }
    &.dark .tabs-area, &.dark-alt .tabs-area {
        .nav-item {
            .nav-link {
                &.active {
                    span {
                        color: var(--dark-colour);
                        &:hover{
                            color: var(--dark-colour);                                    
                        }
                        i {
                            color: var(--dark-colour);
                        }
                    }  
                }
            }
        }        
    }
    &.dark .tabs-area {    
        .nav-tabs {
            .nav-item {
                .nav-link.active {
                    background-color: var(--dark-bg-colour);
                    border-block-end: 1px solid var(--dark-bg-colour);
                    &:hover {
                        border-color: var(--dark-border-colour);
                    } 
                }
            }
        }
    }
    &.dark-alt .nav-tabs {            
        .nav-item {
            .nav-link.active {
                background-color: var(--dark-alt-bg-colour);
                border-block-end: 1px solid var(--dark-alt-bg-colour);
                &:hover {
                    border-color: var(--dark-border-colour);
                } 
            }
        }
    }

    .scroll {
        position: absolute;
        width: 48px;
        height: 100%;
        background-color: transparent;
        border: none;
        z-index: 20;

        i {
            background-color: #fff;
            border-radius: 30px;
            width: 28px;
            height: 28px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
            0px 2px 6px 2px rgba(0, 0, 0, 0.15);
            color: #008635;
            line-height: 1.7;
        }

        &.scroll-left {
            left: 12px;
            top: 0;
        }

        &.scroll-right {
            right: 12px;
            top: 0;
        }
    }
    .nav-tabs {
        overflow-x: scroll;
        position: relative;
        margin-block-end: -1px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        scroll-behavior: smooth;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        gap: 0.25rem;
        align-items: baseline;
        border-block-end: 0;
        flex-wrap: nowrap;
        .nav-item {
            align-items: baseline;
            appearance: auto;
            background-attachment: scroll;
            padding-block-start: 0.125rem;
            background-clip: border-box;
            .nav-link {
                &[tabindex="0"]:focus, &[tabindex="-1"]:focus, &:focus-visible {
                    outline: 0.1875rem solid var(--focus-colour);
                    outline-offset: -0.625rem;
                    box-shadow:none;
                }
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding-inline: 1.5rem;
                padding-block-start: 0.5rem;
                padding-block-end: 0;
                background-color: var(--tab-background);
                scroll-snap-align: start;
                span {
                    white-space: nowrap;
                    display: flex;
                    gap: 0.5rem;
                    color: var(--qld-link-color);
                    align-items: anchor-center;
                    i {
                        color: var(--tab-icon-color);
                    }
                    &.reverse {
                        flex-direction: row-reverse;
                    }
                }               
                &:hover {
                    background-color: var(--tab-background-hover);
                    span {
                        color: var(--tab-hover-text-color);
                        text-decoration: underline;
                        i {
                            color: var(--tab-icon-color);
                        }
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    height: 0.25rem;
                }
                &.active {
                    background-color: var(--qld-body-bg);
                    border-block-end: 1px solid var(--qld-body-bg);
                    &::after {
                        content: "";
                        border-radius: 0;
                        border-start-end-radius: 0.25rem;
                        border-start-start-radius: 0.25rem;
                        background-color: var(--accent-colour);
                        margin-block-end: 0.125rem;
                    }
                    &:hover {
                        border-color: var(--qld-border-color);
                        span {
                            text-decoration: none;
                        }
                    }
                    span {
                        margin-block-start: 0.25rem;
                        font-weight: 600;
                        color: var(--tab-text-colour-heading);
                        &:hover{
                            color: var(--tab-text-colour-heading);                            
                        }
                        i {
                            color: var(--tab-text-colour-heading);
                        }
                    }  
                }
                &:disabled,
                &[disabled] {
                    background-color: transparent;
                    cursor: not-allowed;
                    span {
                        color: var(--tab-disabled-colour);
                        i {
                            color: var(--tab-disabled-colour);
                        }
                    }
                }
            }
        }
    }
    .tab-content {
        position: relative;
        z-index: 5;
        background-color: var(--qld-body-bg);
        border: 1px solid var(--qld-border-color);
        padding-block: 4rem;
        padding-inline: 2.5rem;

        .qld-cta-link {
            margin-block-start: 2rem;
        }
    }

    .scroll {
        display: none;
    }
    .show {
        display: block;
    }
    .fade {
        opacity: 0;
        transition: opacity 0.15s linear;
        &.show {
            opacity: 1;
        }
    }
    .fade:not(.show) {
        display: none;
    }
}