<aside class="qld-aside">

    <div class="qld-side-navigation">

        <h2 class="nav-title">In this section</h2>

        <!-- Level One -->
        <ul class="nav" aria-label="section navigation">

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/caravan">
                    Register your trailer or caravan
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link active">
                    Register your vehicle or motorcycle
                </a>

                <!-- Level Two -->
                <ul>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Level two item</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Level two item</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Level two item</a>

                        <!-- Level Three -->
                        <ul class="with-stalks">
                            <li class="nav-item">
                                <a href="#" class="nav-link">Level three item</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link active">Level three item active</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">Level three item that wraps to another line</a>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>


            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/heavy">
                    Heavy vehicles
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/renew">
                    Renew registration
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                    href="https://www.qld.gov.au/transport/registration/register/register-a-motorised-mobility-device">
                    Register a motorised mobility device
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/register-a-boat">
                    Register a boat
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/conditional">
                    Conditional registration
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/overseas">
                    Vehicles registered overseas temporarily being used in Queensland
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/left">
                    Left hand drive vehicles
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://www.qld.gov.au/transport/registration/register/rego-used-vehicle">
                    Registration Help Tool—how to register a used motor vehicle or motorcycle
                </a>
            </li>

        </ul>

    </div>

</aside>