@use "../../../css/mixins" as m;

%header-main-variables {
  &,
  &.default {
    @include m.register-vars(
      $prefix,
      (
        header-border-color: #{$color-default-color-light-accent-design-accent},
        header-brand-divider-color:
          #{$color-default-color-light-accent-design-accent},
        header-logo-color: #{$core-default-color-neutral-black},
        header-logo-color-hover: #{$core-default-color-neutral-black},
        header-subline-color: #{$color-default-color-light-text-default},
        site-title-color: #{$color-default-color-light-site-title},
      )
    );
  }

  &.dark,
  &.dark-alt {
    @include m.register-vars(
      $prefix,
      (
        header-border-color: #{$color-default-color-dark-accent-design-accent},
        header-brand-divider-color:
          #{$color-default-color-dark-accent-design-accent},
        header-logo-color: #{$color-default-color-dark-site-title},
        header-logo-color-hover: #{$color-default-color-dark-site-title},
        header-subline-color: #{$color-default-color-dark-text-default},
        site-title-color: #{$color-default-color-dark-site-title},
      )
    );
  }
}

%preheader-variables {
  // variables already controlled via globaltheme
  --qld-link-visited-color: var(--qld-link-color);

  &,
  &.default {
    @include m.register-vars(
      $prefix,
      (
        header-logo-color: #{$core-default-color-neutral-black},
        header-logo-color-hover: #{$color-default-color-light-link-default},
        header-mobile-button-bg:
          #{$color-default-color-light-background-default},
        header-mobile-button-bg-hover:
          #{$color-default-color-light-background-default-shade},
      )
    );
    --dropdown-bg: #{$color-default-color-light-background-default};
    --dropdown-bg-active: #{$color-default-color-light-background-default-shade};
    --dropdown-menu-bg: #{$color-default-color-light-background-default-shade};
  }

  &.dark {
    @include m.register-vars(
      $prefix,
      (
        header-logo-color: #{$color-default-color-dark-site-title},
        header-logo-color-hover: #{$color-default-color-dark-link-default},
        header-mobile-button-bg: #{$color-default-color-dark-background-default},
        header-mobile-button-bg-hover:
          #{$color-default-color-dark-background-default-shade},
      )
    );
    --dropdown-bg: #{$color-default-color-dark-background-default};
    --dropdown-bg-active: #{$color-default-color-dark-background-default-shade};
    --dropdown-menu-bg: #{$color-default-color-dark-background-default-shade};
  }

  &.dark-alt {
    @include m.register-vars(
      $prefix,
      (
        header-logo-color: #{$color-default-color-dark-site-title},
        header-logo-color-hover: #{$color-default-color-dark-link-default},
        header-mobile-button-bg: #{$color-default-color-dark-background-alt},
        header-mobile-button-bg-hover:
          #{$color-default-color-dark-background-alt-shade},
      )
    );
    --dropdown-bg: #{$color-default-color-dark-background-alt};
    --dropdown-bg-active: #{$color-default-color-dark-background-alt-shade};
    --dropdown-menu-bg: #{$color-default-color-dark-background-alt-shade};
  }
}
