// ------------------------------------------------------------------------------------------------------------------
//  1. Icons in header
// ------------------------------------------------------------------------------------------------------------------
.qld__header {
    .qld__icon {
        vertical-align: middle;
        -ms-flex-item-align: center;
        align-self: center;
    }
}