// //--------------------------------------------------------------------------------------------------------------------------------------------------------------
// // Header
// //--------------------------------------------------------------------------------------------------------------------------------------------------------------

.qld__header {

	//QH - extract from health.qld.gov.au
	--#{$prefix}color-light-siteTitle: #022A50;
    --#{$prefix}color-light-designAccent: #6BBE27;
    --#{$prefix}color-light-heading: #03213F;
    --#{$prefix}color-light-text: #414141;
    --#{$prefix}color-light-text__muted: #636363;
    --#{$prefix}color-light-link: #09549F;
    --#{$prefix}color-light-link__visited: #551A8B;
    --#{$prefix}color-light-button__text: #FFFFFF;
    --#{$prefix}color-light-button: #09549F;
    --#{$prefix}color-light-button__hover: #003E7D;
    --#{$prefix}color-light-focus: #0085B3;
    --#{$prefix}color-light-border: #EBEBEB;
    --#{$prefix}color-light-background: #FFFFFF;
    --#{$prefix}color-light-background__shade: #F5F5F5;
    --#{$prefix}color-light-hint: #6f777b;
    --#{$prefix}color-light-system-underline: #FFFFFF;
    --#{$prefix}color-light-underline: #3F7AB4;
    --#{$prefix}color-light-hover-underline: #09549F;
    --#{$prefix}color-light-visited-underline: #8B63B0;
    --#{$prefix}color-light-hover-visited-underline: #551A8B;
    --#{$prefix}color-light-alt-button: #008733;
    --#{$prefix}color-light-alt-button__hover: #00702B;
    --#{$prefix}color-light-alt-border: #818181;
    --#{$prefix}color-light-alt-background: #EBEBEB;
    --#{$prefix}color-light-alt-background__shade: #E0E0E0;
    --#{$prefix}color-light-alt-hint: #61696B;
    --#{$prefix}color-dark-siteTitle: #FFFFFF;
    --#{$prefix}color-dark-designAccent: #6BBE27;
    --#{$prefix}color-dark-heading: #FFFFFF;
    --#{$prefix}color-dark-text: #FFFFFF;
    --#{$prefix}color-dark-text__muted: #DEEBF9;
    --#{$prefix}color-dark-link: #FFFFFF;
    --#{$prefix}color-dark-link__visited: #A668F4;
    --#{$prefix}color-dark-button__text: #121940;
    --#{$prefix}color-dark-button: #9AC02C;
    --#{$prefix}color-dark-button__hover: #ADD33F;
    --#{$prefix}color-dark-focus: #01B0E5;
    --#{$prefix}color-dark-border: #1D9AC6;
    --#{$prefix}color-dark-background: #09549F;
    --#{$prefix}color-dark-background__shade: #04498F;
    --#{$prefix}color-dark-system-underline: #03213F;
    --#{$prefix}color-dark-underline: #B5CCE2;
    --#{$prefix}color-dark-hover-underline: #FFFFFF;
    --#{$prefix}color-dark-visited-underline: #B5CCE2;
    --#{$prefix}color-dark-hover-visited-underline: #E1C2FF;
    --#{$prefix}color-dark-alt-button: #EFD700;
    --#{$prefix}color-dark-alt-button__hover: #FFE817;
    --#{$prefix}color-dark-alt-border: #11B2D4;
    --#{$prefix}color-dark-alt-background: #05325F;
    --#{$prefix}color-dark-alt-background__shade: #052C53;
    --#{$prefix}underline__thickness-thin: 0.5px;
    --#{$prefix}underline__thickness-thick: 2px;
    --#{$prefix}underline__offset: 0.3em;

}

.qld__header {
	
	font-size: 1rem;
	line-height: 1.5;
	color: var(--#{$prefix}color-light-text);
	background: var(--#{$prefix}color-light-background);

	@include media-breakpoint-up(sm) {
		.qld__header {
			font-size: 1.25rem;
			line-height: 1.6;
		}
	}

	.qld__skip-link {
		line-height: 1;

		&__link {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0, 0, 0, 0);
			border: 0;
			color: var(--#{$prefix}color-light-link);

			&:focus {
				outline: 3px solid var(--#{$prefix}color-dark-focus);
				top: 1rem;
				left: 1rem;
				padding: 1.5rem;
				clip: auto;
				height: auto;
				margin: 0;
				overflow: visible;
				position: absolute;
				width: auto;
				color: var(--#{$prefix}color-dark-link);
				background-color: var(--#{$prefix}color-dark-background);
				z-index: 600;
			}
		}
	}

	/**
    * Header pre-header styles
    */
	@include media-breakpoint-up(lg) {
		.qld__header__pre-header-url {
			font-size: .875rem;
			line-height: 1;
		}
	}

	.qld__header__pre-header {
		color: var(--#{$prefix}color-light-text);
		background-color: var(--#{$prefix}color-light-background);
		box-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 1px 3px 1px rgba(0, 0, 0, .1);
		position: relative;
		z-index: 1;
		padding-bottom: .75rem;
		padding-top: .75rem;

		@include media-breakpoint-up(md) {
			.qld__header .qld__header__pre-header {
				padding-bottom: 1rem;
				padding-top: 1rem;
			}
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: .5rem;
			padding-top: .5rem;

			a {
				font-size: .875rem;
				line-height: 1;
				text-decoration: none;
				-webkit-text-decoration: none;
				text-decoration-color: var(--#{$prefix}color-light-underline);
				text-decoration-thickness: var(--#{$prefix}underline__thickness-thin);
				text-underline-offset: var(--#{$prefix}underline__offset);
				-webkit-text-decoration-skip: ink;
				text-decoration-skip-ink: auto;
			}

			&:focus,
			&:hover {
				text-decoration: underline;
				-webkit-text-decoration: underline;
				text-decoration-color: var(--#{$prefix}color-light-hover-underline);
				text-decoration-thickness: var(--#{$prefix}underline__thickness-thick)
			}

			&:disabled,
			a[disabled] {
				text-decoration: none;
				-webkit-text-decoration: none;
			}
		}

		.container-fluid {
			display: flex;
		}

		&-brand-image {
			display: block;
			height: 1.75rem;
			width: auto;

			@include media-breakpoint-up(md) {
				height: 2.5rem;
			}

			@include media-breakpoint-up(lg) {
				display: none;
			}
		}

		&-url {
			display: none;
			color: var(--#{$prefix}color-light-link);

			@include media-breakpoint-up(lg) {
				display: inline-block;
				font-size: 1rem;
				line-height: 1.5;
			}
		}

		.qld__header__cta-wrapper {
			display: none;
			margin-left: auto;

			@include media-breakpoint-up(lg) {
				display: flex;
			}

			.qld__header__cta-link {
				align-items: center;
				color: var(--#{$prefix}color-light-link);
				font-size: .875rem;
				line-height: 1.4285714286;
				padding-left: .75rem;

				&:hover {
					.qld__header__cta-link-icon {
						color: var(--#{$prefix}color-light-alt-button__hover);
					}
				}
			}

			.qld__header__cta-link-icon {
				color: var(--#{$prefix}color-light-alt-button);
				display: inline-block;
				height: 1.25rem;
				margin-right: .5rem;
				text-align: center;
				width: 1.25rem;

				svg,
				i {
					height: 100%;
					width: 100%;
				}
			}
		}

		a {
			color: var(--#{$prefix}color-dark-text);
			display: flex;

			&:focus {
				outline: 3px solid var(-#{$prefix}color-light-focus);
				outline-offset: 2px;
			}

			&::-moz-focus-inner {
				border: 0;
			}
		}

		.qld__header__main-nav-controls {
			display: flex;
			flex-direction: row;
			justify-content: end;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;

			@include media-breakpoint-up(lg) {
				display: none;
			}

		}

		.qld__header__toggle-main-nav {
			align-items: center;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: transparent;
			border: 0;
			border-left: 1px solid var(--#{$prefix}color-light-border);
			color: var(--#{$prefix}color-light-link);
			cursor: pointer;
			display: flex;
			flex-direction: column;
			font-size: .875rem;
			line-height: 1.1428571429;
			padding: .5rem 1rem;

			&:hover {
				background-color: var(--#{$prefix}color-light-background__shade);

				svg {
					color: var(--#{$prefix}color-light-alt-button__hover);
				}
			}

			@include media-breakpoint-up(md) {
				padding: .75rem 1rem .625rem;
			}

			.qld__main-nav__toggle-text {
				font-size: .625rem;
				margin-top: .125rem;
			}

			&:before {
				display: block;
				font-size: 1rem;
				line-height: 1;
				margin-bottom: .25rem;
				text-align: center;
			}

			svg {
				color: var(--#{$prefix}color-light-alt-button);
				height: 1.25rem;
				margin: 1px auto;
				width: 1.25rem;

				@include media-breakpoint-up(md) {
					height: 2rem;
					margin: 0 auto;
					width: 2rem;
				}
			}
		}

		//Dark theme
		&.qld__header__pre-header--dark {

			background-color: var(--#{$prefix}color-dark-background);
			color: var(--#{$prefix}color-dark-text);

			.qld__header__pre-header-url {
				color: var(--#{$prefix}color-dark-link);
			}

			a {
				text-decoration: none;
				-webkit-text-decoration: none;
				text-decoration-color: var(--#{$prefix}color-dark-underline);
				text-decoration-line: solid;
				text-decoration-thickness: var(--#{$prefix}underline__thickness-thin);
				text-underline-offset: var(--#{$prefix}underline__offset);
				-webkit-text-decoration-skip: ink;
				text-decoration-skip-ink: auto;

				&:focus,
				&:hover {
					text-decoration: underline;
					-webkit-text-decoration: underline;
					text-decoration-color: var(--#{$prefix}color-dark-hover-underline);
					text-decoration-thickness: var(--#{$prefix}underline__thickness-thick);
				}

				&:disabled {
					text-decoration: none;
					-webkit-text-decoration: none;
				}

			}

			.qld__header__cta-link {

				color: var(--#{$prefix}color-dark-link);

				&:hover {
					.qld__header__cta-link-icon {
						color: var(--#{$prefix}color-dark-alt-button__hover);
					}
				}
			}

			.qld__header__cta-link-icon {
				color: var(--#{$prefix}color-dark-alt-button);
			}

			.qld__header__toggle-main-nav {
				color: var(--#{$prefix}color-dark-link);
				border-color: var(--#{$prefix}color-dark-border);

				svg,
				i {
					color: var(--#{$prefix}color-dark-alt-button);
				}

				&:hover {
					background-color: var(--#{$prefix}color-dark-background__shade);

					svg {
						color: var(--#{$prefix}color-dark-alt-button__hover);
					}
				}
			}
		}

		//Dark alt theme
		&.qld__header__pre-header--dark-alt {
			background-color: var(--#{$prefix}color-dark-alt-background);
			color: var(--#{$prefix}color-dark-text);

			.qld__header__pre-header-url {
				color: var(--#{$prefix}color-dark-link);
			}

			a {
				text-decoration: none;
				-webkit-text-decoration: none;
				text-decoration-color: var(--#{$prefix}color-dark-underline);
				text-decoration-line: solid;
				text-decoration-thickness: var(--#{$prefix}underline__thickness-thin);
				text-underline-offset: var(--#{$prefix}underline__offset);
				-webkit-text-decoration-skip: ink;
				text-decoration-skip-ink: auto;

				&:focus,
				&:hover {
					text-decoration: underline;
					-webkit-text-decoration: underline;
					text-decoration-color: var(--#{$prefix}color-dark-hover-underline);
					text-decoration-thickness: var(--#{$prefix}underline__thickness-thick);
				}

				&:disabled {
					text-decoration: none;
					-webkit-text-decoration: none;
				}
			}

			.qld__header__cta-link {
				color: var(--#{$prefix}color-dark-link);

				&:hover {
					.qld__header__cta-link-icon {
						color: var(--#{$prefix}color-dark-alt-button__hover);
					}
				}
			}

			.qld__header__cta-link-icon {
				color: var(--#{$prefix}color-dark-alt-button);
			}

			.qld__header__toggle-main-nav {
				color: var(--#{$prefix}color-dark-link);
				border-color: var(--#{$prefix}color-dark-border);

				svg,
				i {
					color: var(--#{$prefix}color-dark-alt-button);
				}

				&:hover {
					background-color: var(--#{$prefix}color-dark-alt-background__shade);

					svg {
						color: var(--#{$prefix}color-dark-alt-button__hover);
					}
				}
			}
		}
	}

	.qld__header__main {
		position: relative;

		.container-fluid {
			align-items: center;
			display: flex;
			width: 100%;

			@include media-breakpoint-up(lg) {
				height: auto;
				justify-content: space-between;
			}
		}

		.qld__header__brand {
			display: flex;
			align-items: center;
			padding: 1rem 0;
			font-variant-numeric: lining-nums;

			@include media-breakpoint-up(md) {
				padding: 1.25rem 0;
			}

			@include media-breakpoint-up(lg) {
				flex-grow: 1;
				padding: 32px 0;
			}

			a {
				text-decoration: none;
				display: flex;

				&:hover {
					color: var(--#{$prefix}color-light-link);
					text-decoration: underline;

					.qld__header__brand-image {
						color: var(--#{$prefix}color-light-link);
					}

					.qld__header__heading,
					.qld__header__subline {
						color: var(--#{$prefix}color-light-link);
					}

					.qld__header__brand-image {
						filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 13px 20px rgba(0, 0, 0, 0.08));
					}
				}
			}
		}

		.qld__header__brand-image {
			display: none;

			@include media-breakpoint-up(lg) {
				border-right: 2px solid var(--#{$prefix}color-light-designAccent);
				color: var(--#{$prefix}color-light-siteTitle);
				display: block;
				margin-right: 1.5rem;
				padding-right: 1.5rem;
			}

			img {
				margin: auto 0;
				display: block;
			}

			svg {
				vertical-align: text-bottom;
			}
		}

		.qld__header__site-name {
			display: flex;
			flex-direction: column;
			justify-content: center;

			.qld__header__secondary-image {
				height: 2.5rem;

				@include media-breakpoint-up(md) {
					height: 3.5rem;
				}
			}

			.qld__header__heading {
				color: var(--#{$prefix}color-light-siteTitle);
				font-family: ff-meta-web-pro, Noto Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
				font-size: 1rem;
				font-weight: 700;
				line-height: 1.25;
				margin: 0;
				padding: 0;

				@include media-breakpoint-up(md) {
					font-size: 1.25rem;
					line-height: 1.2;
				}
			}

			.qld__header__subline {
				color: var(--#{$prefix}color-light-text__muted);
				font-size: .875rem;
				line-height: 1.1428571429;
				max-width: 80ch;

				@include media-breakpoint-up(md) {
					font-size: 1rem;
					line-height: 1.25;
				}
			}
		}

		//Main header dark theme
		&.qld__header__main--dark {
			background-color: var(--#{$prefix}color-dark-background);

			.qld__header__site-name {
				.qld__header__heading {
					color: var(--#{$prefix}color-dark-siteTitle);
				}

				.qld__header__subline {
					color: var(--#{$prefix}color-dark-text__muted);
				}
			}

			.qld__header__brand-image {
				@include media-breakpoint-up(lg) {
					border-color: var(--#{$prefix}color-dark-designAccent);
					color: var(--#{$prefix}color-dark-text);
				}
			}

			a {
				&:hover {
					color: var(--#{$prefix}color-dark-link);

					.qld__header__brand-image {
						color: var(--#{$prefix}color-dark-link);
					}

					.qld__header__heading,
					.qld__header__subline {
						color: var(--#{$prefix}color-dark-link);
					}
				}
			}

			.qld__header__search {
				@include media-breakpoint-up(md) {
					background-color: var(--#{$prefix}color-dark-background);

					.qld__display-lg {
						color: var(--#{$prefix}color-dark-heading);
					}
				}
			}
		}

		//Main header dark alt theme
		&.qld__header__main--dark-alt {
			background-color: var(--#{$prefix}color-dark-alt-background);

			.qld__header__site-name {
				.qld__header__heading {
					color: var(--#{$prefix}color-dark-siteTitle);
				}

				.qld__header__subline {
					color: var(--#{$prefix}color-dark-text__muted);
				}
			}

			.qld__header__brand-image {
				@include media-breakpoint-up(lg) {
					border-color: var(--#{$prefix}color-dark-designAccent);
					color: var(--#{$prefix}color-dark-text);
				}
			}

			a {
				&:hover {
					color: var(--#{$prefix}color-dark-link);

					.qld__header__brand-image {
						color: var(--#{$prefix}color-dark-link);
					}

					.qld__header__heading,
					.qld__header__subline {
						color: var(--#{$prefix}color-dark-link);
					}
				}
			}

			.qld__header__search {
				@include media-breakpoint-up(md) {
					background-color: var(--#{$prefix}color-dark-alt-background);

					.qld__display-lg {
						color: var(--#{$prefix}color-dark-heading);
					}
				}
			}
		}
	}

	.qld__header__search {
		background-color: var(--#{$prefix}color-light-background);
		box-shadow: 0 0 25px hsla(0, 0%, 78%, .25);
		display: none;
		left: 0;
		padding: 1rem;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;

		@include media-breakpoint-up(md) {
			box-shadow: none;
			padding: 2rem 2rem 4rem 2rem;
		}

		@include media-breakpoint-up(lg) {
			background-color: transparent;
			display: inline-block;
			padding: 32px 0;
			position: relative;
			width: 360px;
		}

		.qld__search-form {
			@include media-breakpoint-down(md) {
				&:focus {
					outline: 3px solid var(--#{$prefix}color-light-focus);
					outline-offset: 2px;
				}

				&::-moz-focus-inner {
					border: 0;
				}

				.qld__text-input {
					background-color: transparent;
					border-color: transparent;
					color: var(--#{$prefix}color-light-text);

					&:focus {
						outline: 3px solid var(--#{$prefix}color-light-focus);
						outline-offset: 2px;
					}

					&::-moz-focus-inner {
						border: 0;
					}
				}

				.qld__btn {
					background-color: transparent;
					border-color: transparent;
					box-shadow: none;

					&:focus {
						outline: 3px solid var(--#{$prefix}color-light-focus);
						outline-offset: 2px;
					}

					&::-moz-focus-inner {
						border: 0;
					}

					.qld__btn__icon {
						background-color: var(--#{$prefix}color-light-text);
					}
				}
			}

			.qld__search-form__label {
				@include media-breakpoint-up(md) {
					position: inherit;
					width: auto;
					height: auto;
					margin: 0 0 1rem;
				}

				@include media-breakpoint-up(lg) {
					position: absolute;
					width: 1px;
					height: 1px;
				}
			}
		}

		.qld__header__search-link {
			color: var(--#{$prefix}color-light-link);
			float: right;
			font-size: 1rem;
			line-height: 1.5;

			@include media-breakpoint-up(lg) {
				padding-bottom: .5rem;
			}

			&:hover {
				color: var(--#{$prefix}color-light-text);
			}
		}
	}

	.qld__main-nav.qld__main-nav--mega .qld__main-nav__item-link,
	.qld__main-nav.qld__main-nav--mega .qld__main-nav__item-toggle-text {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

// Vertical Nav Option
.vertical-nav {
	.qld__header {

		@include media-breakpoint-up(lg) {
			box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1);
			position: relative;
			z-index: 1;
		}

		.container-fluid {
			max-width: initial;

			@include media-breakpoint-up(md) {
				padding: 0 2rem;
			}

			@include media-breakpoint-up(lg) {
				padding: 0 3rem;
			}
		}
	}
}

// Print styles
@media print {
	.qld__header {
		background: #fff !important;
		a img {
			border: 0 !important;
		}
	}

	.qld__header,
	.qld__header__brand,
	.qld__header__subline,
	.qld__banner__content--body {
		color: #000 !important;
	}

	.qld__header__brand-image {
		display: none !important;
	}

	.qld__header__pre-header {
		display: none;
	}
}