<header role="banner">

    <div class="pagetop">

        <div class="container-xl">
            <nav class="skip-link" aria-label="skip links" tabindex="-1">
                <a class="skip-link_link" href="#content">Skip to main content</a>
                <a class="skip-link_link" href="#main-nav">Skip to main navigation</a>
            </nav>
            <div class="controls">
                <button class="" aria-controls="" aria-expanded="false">
                    <span class="">Search</span>
                </button>
                <button class="" aria-controls="main-nav">
                    <span class="">Menu</span>
                </button>
            </div>
        </div>

        <div class="container-xl d-flex justify-content-between">
            <div class="mobile-logo">

            </div>
            {{#if metadata.options.attribution_bar}}
                {{#each metadata.options.items}}
                    {{#if this.first}}
                    <div class="pagetop-tag align-left">
                        <span class="qld-icon icon-dot-grid"></span>
                        Queensland Government websites
                    </div>
                    {{/if}}
                    {{#if this.last}}
                    <div class="pagetop-tag align-right">
                        <span class="qld-icon icon-phone"></span>
                        Contact information
                    </div>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>

    </div>

    <!-- Main header -->
    <div class="header-main">
        <div class="container-xl d-flex justify-content-start">
            {{#if metadata.options.default_target}}
            <a href="{{metadata.options.default_target}}">
                {{else}}
                <a href="index.html">
                    {{/if}}
                    <div class="header-site-logo">
                        {{#if metadata.brand_type.masterbrand_enabled}}
                        {{/if}}
                    </div>
                </a>

                {{#if metadata.options.search_enabled}}
                <div class="d-none d-lg-block header-site-search">
                    <form id="site-search">
                        <input type="text" class="form-control" placeholder="Search">
                        <input type="submit" class="btn btn-primary" value="Search">
                    </form>
                </div>
                {{/if}}
        </div>
    </div>
</header>