<!-- QGDS Partial: inpage-nav -->

<div class="qld-inpage-nav">

    <h2 class="nav-title">{{navtitle}}</h2>

    <ul class="nav">
        {{#each navitems}}
        <li class="nav-item">
            <a class="nav-link" href="#{{linkid}}">{{linktext}}</a>
        </li>
        {{/each}}
    </ul>

</div>