// Queensland Government Desing System: Cards
// Source: https://getbootstrap.com/docs/5.2/components/card/#variables

// Source CSS variables: var(--variable-name)  /node_modules/bootstrap/scss/components/_card.scss
$card-arrow-icon-color: $qld-light-action-secondary;
$card-arrow-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{$card-arrow-icon-color}' d='M443.7 266.8l-165.9 176C274.5 446.3 269.1 448 265.5 448c-3.986 0-7.988-1.375-11.16-4.156c-6.773-5.938-7.275-16.06-1.118-22.59L393.9 272H16.59c-9.171 0-16.59-7.155-16.59-15.1S7.421 240 16.59 240h377.3l-140.7-149.3c-6.157-6.531-5.655-16.66 1.118-22.59c6.789-5.906 17.27-5.469 23.45 1.094l165.9 176C449.4 251.3 449.4 260.7 443.7 266.8z'/%3E%3C/svg%3E");

$card-arrow-icon-dark-color: $qld-dark-action-secondary;
$card-arrow-icon-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{$card-arrow-icon-dark-color}' d='M443.7 266.8l-165.9 176C274.5 446.3 269.1 448 265.5 448c-3.986 0-7.988-1.375-11.16-4.156c-6.773-5.938-7.275-16.06-1.118-22.59L393.9 272H16.59c-9.171 0-16.59-7.155-16.59-15.1S7.421 240 16.59 240h377.3l-140.7-149.3c-6.157-6.531-5.655-16.66 1.118-22.59c6.789-5.906 17.27-5.469 23.45 1.094l165.9 176C449.4 251.3 449.4 260.7 443.7 266.8z'/%3E%3C/svg%3E");


.card {

    --#{$prefix}card-bg: var(--#{$prefix}default-background);
    --#{$prefix}card-color: var(--#{$prefix}text-grey);
    --#{$prefix}card-title-color: var(--#{$prefix}light-text-heading);

    --#{$prefix}card-spacer-x: #{$card-spacer-x};
    --#{$prefix}card-spacer-y: #{$card-spacer-y};
    --#{$prefix}card-title-spacer-y: #{$card-title-spacer-y};
    --#{$prefix}card-border-width: #{$card-border-width};
    --#{$prefix}card-border-color: var(--#{$prefix}soft-grey);
    --#{$prefix}card-border-radius: 0.75rem;
    --#{$prefix}card-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15); // level 2 shadow
    --#{$prefix}card-inner-border-radius: #{$card-inner-border-radius};
    --#{$prefix}card-cap-padding-y: #{$card-cap-padding-y};
    --#{$prefix}card-cap-padding-x: #{$card-cap-padding-x};
    --#{$prefix}card-cap-bg: #{$card-cap-bg};
    --#{$prefix}card-cap-color: #{$card-cap-color};
    --#{$prefix}card-height: #{$card-height};
    --#{$prefix}card-img-overlay-padding: #{$card-img-overlay-padding};
    --#{$prefix}card-group-margin: #{$card-group-margin};

    --#{$prefix}card-link-color: #{$link-color};
    --#{$prefix}card-footer-border: var(--#{$prefix}light-grey);

    --#{$prefix}card-img-border-radius: 0px 0px 6.0882800609%/10.8108108108% 0px; // from QHDS website

    // Icon variables
    --#{$prefix}card-icon-color: var(--#{$prefix}card-title-color);
    --#{$prefix}card-icon-background-color: var(--#{$prefix}default-background-shade);

    // Side positioned icon as default
    --#{$prefix}card-icon-height: 4rem;
    --#{$prefix}card-icon-width: 4rem;
    --#{$prefix}card-icon-font-size: 2.25rem;
    --#{$prefix}card-icon-line-height: 4rem;

    .icon-top {
        --#{$prefix}card-icon-height: 8rem;
        --#{$prefix}card-icon-width: 8rem;
        --#{$prefix}card-icon-font-size: 3.75rem;
        --#{$prefix}card-icon-line-height: 8rem;
    }

    &.card-single-action {
        --#{$prefix}card-icon-color: var(--#{$prefix}light-action-secondary);
    }

    &.card-arrow {
        --#{$prefix}card-arrow-icon: #{escape-svg($card-arrow-icon)};
        --#{$prefix}card-icon-font-size: 1.5rem;
    }

    // Colour variants
    &-light {
        --#{$prefix}card-bg: var(--#{$prefix}light-background);
        --#{$prefix}card-footer-border: var(--#{$prefix}light-border);
        --#{$prefix}card-icon-background-color: var(--#{$prefix}light-background-shade);
    }

    &-alt {
        --#{$prefix}card-bg: var(--#{$prefix}light-alt-background);
        --#{$prefix}card-footer-border: var(--#{$prefix}soft-grey);
        --#{$prefix}card-icon-background-color: var(--#{$prefix}light-alt-background-shade);
    }

    &-dark,
    &-dark-alt {
        --#{$prefix}selection-color: var(--#{$prefix}brand-primary);
        --#{$prefix}selection-bg: var(--#{$prefix}default-background);

        --#{$prefix}card-color: var(--#{$prefix}dark-text);
        --#{$prefix}card-title-color: var(--#{$prefix}dark-text);
        --#{$prefix}card-link-color: var(--#{$prefix}dark-text);
        --#{$prefix}card-footer-border: var(--#{$prefix}dark-border);

        &.card-single-action {
            --#{$prefix}card-icon-color: var(--#{$prefix}dark-action-secondary);
        }

        &.card-arrow {
            --#{$prefix}card-arrow-icon: #{escape-svg($card-arrow-icon-dark)};
        }
    }

    &-dark {
        --#{$prefix}card-bg: var(--#{$prefix}dark-background);
        --#{$prefix}card-icon-background-color: var(--#{$prefix}dark-background-shade);
    }

    &-dark-alt {
        --#{$prefix}card-bg: var(--#{$prefix}dark-blue);
        --#{$prefix}card-icon-background-color: var(--#{$prefix}dark-alt-background-shade);
    }

    // Common overrides for dark themes
    .dark &,
    .dark-alt & {
        --#{$prefix}card-border-color: var(--#{$prefix}dark-border);

        &.dark-alt {
            --#{$prefix}card-border-color: var(--#{$prefix}dark-alt-border);
        }

    }

}

@include media-breakpoint-up(md) {
    .card {
        --#{$prefix}card-spacer-x: 1.25rem;
        --#{$prefix}card-spacer-y: 1.25rem;
    }
}

@include media-breakpoint-up(lg) {
    .card {
        --#{$prefix}card-spacer-x: 1.5rem;
        --#{$prefix}card-spacer-y: 1.5rem;
        --#{$prefix}card-box-shadow: 7px 6px 13px rgba(0, 0, 0, 0.02), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 13px 20px rgba(0, 0, 0, 0.1); // Level 4 shadow
    }
}

// Component styles
.card {
    overflow: hidden;

    .card-title {
        color: var(--#{$prefix}card-title-color);
        margin-top: 0;
        margin-bottom: 0.75rem;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            color: var(--#{$prefix}card-link-color);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                text-underline-offset: 3px;
            }

            &:focus {
                outline-style: none;
            }
        }
    }

    &:focus-within {
        outline: var(--#{$prefix}focus-color) solid 3px;
        outline-offset: 2px;
    }

    &-single-action {
        box-shadow: var(--#{$prefix}card-box-shadow);

        &:hover, &:focus {
            box-shadow: none;
        }
    }

    &-img-top {
        background-image: var(--card-image);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        display: block;
        border-radius: var(--#{$prefix}card-img-border-radius);

        &:before {
            content: "";
            position: absolute;
            inset: -1px;
            border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
            border-radius: var(--#{$prefix}card-img-border-radius);

        }
    }

    &.icon-left,
    &.card-arrow {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        .card-body {
            width: calc(100% - var(--#{$prefix}card-icon-width) - var(--#{$prefix}card-spacer-x));

            &:not(:last-child) {
                padding-bottom: var(--#{$prefix}card-spacer-y);
            }
        }
    }
    &.icon-top {
        align-items: center;
    }
    &-icon {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        color: var(--#{$prefix}card-icon-color);
        background-color: var(--#{$prefix}card-icon-background-color);
        border-radius: 50%;
        height: var(--#{$prefix}card-icon-height);
        width: var(--#{$prefix}card-icon-width);
        margin: 1.5rem 1.5rem 0;
        font-size: var(--#{$prefix}card-icon-font-size);
        line-height: var(--#{$prefix}card-icon-line-height);
        text-align: center;
        vertical-align: middle;

        &.icon-left {
            margin: 1.25rem 0 1.25rem 1.25rem;
        }

        &.icon-arrow {
            background-color: unset;
            background-image: var(--#{$prefix}card-arrow-icon);
            background-repeat: no-repeat;
            height: var(--#{$prefix}card-icon-font-size);
            width: var(--#{$prefix}card-icon-font-size);
            margin: 1.25rem 1.25rem 1.25rem 0;
        }
    }

    .card-body:not(:last-child) {
        padding-bottom: 0;
    }

    .card-footer {
        color: var(--#{$prefix}card-color);
        line-height: 1.5;
        background: none;
        border-top: 0;
        position: relative;
        padding: 0 var(--#{$prefix}card-spacer-x) var(--#{$prefix}card-spacer-y) var(--#{$prefix}card-spacer-x);
        width: 100%;
        flex: 0 1 100%;

        &:before {
            content: "";
            display: block;
            position: relative;
            margin: 1.25rem 0;
            height: 1px;
            background: var(--#{$prefix}card-footer-border);
        }
    }

    small {
        font-size: 0.875rem;
        color: var(--#{$prefix}dark-grey-muted);
    }

}

@include media-breakpoint-up(md) {
    // .card { }
}

@include media-breakpoint-up(lg) {
    .card {
        &-single-action {
            box-shadow: none;

            &:hover, &:focus {
                box-shadow: var(--#{$prefix}card-box-shadow);
            }
        }
    }
}