// Queensland Government Desing System: Cards
// Source: https://getbootstrap.com/docs/5.2/components/card/#variables

// Source CSS variables: var(--variable-name)  /node_modules/bootstrap/css/components/_card.css

.card {
  --#{$prefix}card-bg: var(--#{$prefix}default-background);
  --#{$prefix}card-color: var(--#{$prefix}text-grey);
  --#{$prefix}card-title-color: var(--#{$prefix}light-text-heading);
  --#{$prefix}card-spacer-x: #{$card-spacer-x};
  --#{$prefix}card-spacer-y: #{$card-spacer-y};
  --#{$prefix}card-title-spacer-y: #{$card-title-spacer-y};
  --#{$prefix}card-title-font-size: 1.25rem;
  --#{$prefix}card-title-line-height: 1.5rem;
  --#{$prefix}card-font-size: 0.875rem;
  --#{$prefix}card-line-height: 1.25rem;
  --#{$prefix}card-border-width: #{$card-border-width};
  --#{$prefix}card-border-color: var(--#{$prefix}light-border-alt);
  --#{$prefix}card-border-radius: 0.75rem;
  --#{$prefix}card-box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15); // level 2 shadow
  --#{$prefix}card-inner-border-radius: #{$card-inner-border-radius};
  --#{$prefix}card-cap-padding-y: #{$card-cap-padding-y};
  --#{$prefix}card-cap-padding-x: #{$card-cap-padding-x};
  --#{$prefix}card-cap-bg: #{$card-cap-bg};
  --#{$prefix}card-cap-color: #{$card-cap-color};
  --#{$prefix}card-height: #{$card-height};
  --#{$prefix}card-img-overlay-padding: #{$card-img-overlay-padding};
  --#{$prefix}card-group-margin: #{$card-group-margin};
  --#{$prefix}card-link-color: var(--#{$prefix}light-link);
  --#{$prefix}card-date-color: var(--#{$prefix}dark-grey-muted);
  --#{$prefix}card-footer-border: var(--#{$prefix}neutral-lighter);
  --#{$prefix}card-img-border-radius: 0px 0px 6.0882800609%/10.8108108108% 0px; // from QHDS website
  --#{$prefix}card-img-overlay-color: var(--#{$prefix}dark-background);
  --#{$prefix}link-hover-colour: var(--#{$prefix}light-action-primary-hover);
  --#{$prefix}link-hover-text-colour: var(--#{$prefix}dark-link);
  // Icon variables
  --#{$prefix}card-icon-color: var(--#{$prefix}light-action-secondary);
  --#{$prefix}card-icon-color-hover: var(
    --#{$prefix}light-action-secondary-hover
  );
  --#{$prefix}card-icon-background-color: var(
    --#{$prefix}default-background-shade
  );
  // Side positioned icon as default
  --#{$prefix}card-icon-height: 4rem;
  --#{$prefix}card-icon-width: 4rem;
  --#{$prefix}card-icon-font-size: 2.25rem;
  --#{$prefix}card-icon-line-height: 4rem;
  // Video styled card
  .video-overlay {
    --#{$prefix}video-nav-bg: var(--#{$prefix}light-action-primary);
    --#{$prefix}video-nav-bg-rgb: 0, 94, 184;
    --#{$prefix}video-nav-bg-hover: var(--#{$prefix}light-action-primary-hover);
    --#{$prefix}video-nav-bg-hover-rgb: 0, 62, 150;
    --#{$prefix}video-nav-bg-opacity: 0.9;
    --#{$prefix}video-nav-color: var(--#{$prefix}dark-text);
    --#{$prefix}video-clock-icon-size: 1.25rem;
    --#{$prefix}video-play-icon-color: var(--#{$prefix}dark-text);
  }
  .icon-top {
    --#{$prefix}card-icon-height: 8rem;
    --#{$prefix}card-icon-width: 8rem;
    --#{$prefix}card-icon-font-size: 3.75rem;
    --#{$prefix}card-icon-line-height: 8rem;
  }
  &.card-no-action {
    --#{$prefix}icon-color: var(--#{$prefix}card-title-color);
  }
  &.default {
    .card-icon-background {
      background-color: var(--#{$prefix}neutral-lightest);
    }
  }
  &.card-arrow {
    .card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card-title {
        margin-bottom: 0;
      }
      .qld-icon {
        margin: 0;
        mask-size: 2rem;
        transform: translateX(0rem);
        transition: transform 0.25s ease-in-out;
      }
    }
  }
  // Colour variants
  &-light,
  &-default {
    --#{$prefix}card-bg: var(--#{$prefix}light-background);
    --#{$prefix}card-icon-background-color: var(
      --#{$prefix}light-background-shade
    );
    --#{$prefix}card-arrow-color: var(--#{$prefix}light-action-secondary);
    &:hover {
      --#{$prefix}card-arrow-color: var(
        --#{$prefix}light-action-secondary-hover
      );
    }
  }
  &-default {
    --#{$prefix}card-bg: var(--#{$prefix}default-background);
    --#{$prefix}card-icon-background-color: var(
      --#{$prefix}default-background-shade
    );
  }
  &-light {
    --#{$prefix}card-footer-border: var(--#{$prefix}light-border);
  }
  &-alt {
    --#{$prefix}card-bg: var(--#{$prefix}light-alt-background);
    --#{$prefix}card-footer-border: var(--#{$prefix}light-border-alt);
    --#{$prefix}card-icon-background-color: var(
      --#{$prefix}light-alt-background-shade
    );
    --#{$prefix}card-arrow-color: var(--#{$prefix}light-action-secondary);
    &:hover {
      --#{$prefix}card-arrow-color: var(
        --#{$prefix}light-action-secondary-hover
      );
    }
  }
  &-dark,
  &-dark-alt {
    --#{$prefix}card-color: var(--#{$prefix}dark-text);
    --#{$prefix}card-title-color: var(--#{$prefix}dark-text);
    --#{$prefix}card-link-color: var(--#{$prefix}dark-text);
    --#{$prefix}card-date-color: var(--#{$prefix}dark-text);
    --#{$prefix}card-arrow-color: var(--#{$prefix}dark-action-secondary);
    --#{$prefix}card-border-color: var(--#{$prefix}dark-border);
    --#{$prefix}link-hover-colour: var(--#{$prefix}dark-action-primary-hover);
    --#{$prefix}link-hover-text-colour: var(--#{$prefix}text-darkest);
    &:hover {
      --#{$prefix}card-arrow-color: var(
        --#{$prefix}dark-action-secondary-hover
      );
    }
    &:not(.card-no-action) {
      --#{$prefix}card-icon-color: var(--#{$prefix}dark-action-secondary);
    }
    .video-overlay {
      --#{$prefix}video-nav-bg: var(--#{$prefix}dark-action-primary);
      --#{$prefix}video-nav-bg-rgb: 132, 211, 255;
      --#{$prefix}video-nav-bg-hover: var(
        --#{$prefix}dark-action-primary-hover
      );
      --#{$prefix}video-nav-bg-hover-rgb: 166, 247, 255;
      --#{$prefix}video-nav-color: var(--#{$prefix}dark-action-text);
      --#{$prefix}video-play-icon-color: var(--#{$prefix}text-darkest);
    }
  }
  &-dark {
    --#{$prefix}card-bg: var(--#{$prefix}dark-background);
    --#{$prefix}card-icon-background-color: var(
      --#{$prefix}dark-background-shade
    );
    --#{$prefix}card-icon-color: var(--#{$prefix}dark-text-heading);
    --#{$prefix}card-footer-border: var(--#{$prefix}dark-border);
  }
  &-dark-alt {
    --#{$prefix}card-bg: var(--#{$prefix}dark-alt-background);
    --#{$prefix}card-icon-background-color: var(
      --#{$prefix}dark-alt-background-shade
    );
    --#{$prefix}card-icon-color: var(--#{$prefix}dark-text-heading);
    --#{$prefix}card-footer-border: var(--#{$prefix}dark-alt-border);
  }
  &.icon-top {
    position: relative;
  }
  &.icon-top .card-icon-background {
    width: 8rem;
    height: 8rem;
    background-color: var(--qld-card-icon-background-color);
    border-radius: 400px;
    margin-block-start: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.icon-top .qld-icon-xxl {
    width: 4rem;
    height: 4rem;
    mask-size: 4rem;
    background-size: 4rem;
    border-radius: 0;
  }
  &.icon-left .card-icon-background {
    width: 4rem;
    height: 4rem;
    mask-size: 4rem;
    background-size: 4rem;
    background-color: var(--qld-card-icon-background-color);
    margin-left: 1.25rem;
    margin-block-start: -1rem;
    border-radius: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.icon-left .qld-icon-lg {
    border-radius: 0;
  }
}
@include media-breakpoint-up(md) {
  .card {
    --#{$prefix}card-spacer-x: 1.25rem;
    --#{$prefix}card-spacer-y: 1.25rem;
    --#{$prefix}card-font-size: 1rem;
    --#{$prefix}card-line-height: 1.5rem;
  }
}
@include media-breakpoint-up(lg) {
  .card {
    --#{$prefix}card-spacer-x: 1.5rem;
    --#{$prefix}card-spacer-y: 1.5rem;
    --#{$prefix}card-title-font-size: 1.5rem;
    --#{$prefix}card-title-line-height: 2rem;
    --#{$prefix}card-box-shadow:
      7px 6px 13px rgba(0, 0, 0, 0.02), 0px 2px 5px rgba(0, 0, 0, 0.1),
      0px 13px 20px rgba(0, 0, 0, 0.1); // Level 4 shadow
    &-feature {
      --#{$prefix}card-title-font-size: 2rem;
      --#{$prefix}card-title-line-height: 2.5rem;
    }
  }
}
// Component styles
.card {
  font-size: var(--#{$prefix}card-font-size);
  line-height: var(--#{$prefix}card-line-height);
  overflow: hidden;
  &-date {
    color: var(--#{$prefix}card-date-color);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
  }
  .card-title {
    font-size: var(--#{$prefix}card-title-font-size);
    line-height: var(--#{$prefix}card-title-line-height);
    color: var(--#{$prefix}card-title-color);
    margin-top: 0;
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-weight: 600;
    }
  }
  .card-body li {
    margin-top: 0.5rem;
  }
  .card-text > :last-child {
    margin-bottom: 0;
  }
  &-single-action,
  &-multi-action {
    box-shadow: var(--#{$prefix}card-box-shadow);
  }
  &-single-action {
    &:hover,
    &:focus {
      box-shadow: none;
    }
    &:hover,
    &:focus-within {
      .card-img:after {
        opacity: 0.1;
      }
      .video-nav {
        .video-watch {
          background-color: rgb(var(--#{$prefix}video-nav-bg-hover-rgb));
          span {
            text-decoration: underline !important;
            text-underline-offset: var(--qld-link-underline-offset);
            text-decoration-thickness: var(--qld-link-underline-thickness);
            text-shadow: 0.6px 0 0 currentColor;
          }
        }
        .video-duration {
          text-shadow: 0.6px 0 0 currentColor;
          background-color: rgba(
            var(--#{$prefix}video-nav-bg-hover-rgb),
            var(--#{$prefix}video-nav-bg-opacity)
          );
        }
      }
      .icon-arrow {
        margin-left: 0.25rem;
        margin-right: 1rem;
      }
    }
    &:focus-within {
      outline: var(--#{$prefix}focus-color) solid 3px;
      outline-offset: 2px;
    }
    a {
      color: var(--#{$prefix}card-link-color);
      text-decoration-color: var(--#{$prefix}card-link-color);
      outline-style: none;

      &:visited,
      &:hover,
      &:visited:hover {
        color: var(--#{$prefix}card-link-color);
        text-decoration-color: var(--#{$prefix}card-link-color);
      }
      &:focus {
        outline-style: none;
        text-decoration-color: var(--#{$prefix}card-link-color);
      }
    }
  }
  &-img {
    // Fix: Prevent .ratio:before from blocking clicks on card heading in multi-action cards
    &.ratio::before {
      display: inline-block;
    }

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--#{$prefix}card-img-overlay-color);
      opacity: 0;
    }
    [class^="card-img"] {
      background-image: var(--card-image);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      display: block;
      border-radius: var(--#{$prefix}card-img-border-radius);
      &:before {
        content: "";
        position: absolute;
        inset: -1px;
        border: var(--#{$prefix}card-border-width) solid
          var(--#{$prefix}card-border-color);
        border-radius: var(--#{$prefix}card-img-border-radius);
      }
    }
    .video-overlay {
      background-color: transparent;
      z-index: 1;
      .video-nav,
      .video-watch {
        transition: none;
      }
      .video-watch {
        background-color: rgb(var(--#{$prefix}video-nav-bg-rgb));
      }
      .video-duration {
        background-color: rgba(var(--#{$prefix}video-nav-bg-rgb), 0.5);
      }
      .video-duration,
      .video-watch {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 100%;
        .qld-icon {
          background-color: var(--#{$prefix}video-play-icon-color);
        }
      }
    }
  }
  &.icon-left,
  &.card-arrow {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .card-body {
      width: calc(
        100% - var(--#{$prefix}card-icon-width) -
          (2 * var(--#{$prefix}card-spacer-x))
      );
      &:not(:last-child) {
        padding-bottom: var(--#{$prefix}card-spacer-y);
      }
    }
    .card-title {
      padding-right: 1rem;
    }
  }
  &.card-arrow {
    &:hover {
      .qld-icon {
        transform: translateX(0.25rem);
        transition: transform 0.25s ease-in-out;
      }
    }
  }
  &.icon-top {
    align-items: center;
    .card-body {
      text-align: center;
    }
  }
  &-body:not(:last-child) {
    padding-bottom: 0;
  }
  &-footer {
    color: var(--#{$prefix}card-color);
    line-height: 1.5;
    background: none;
    border-top: 0;
    position: relative;
    padding: 0 var(--#{$prefix}card-spacer-x) var(--#{$prefix}card-spacer-y)
      var(--#{$prefix}card-spacer-x);
    width: 100%;
    flex: 0 1 auto;
    &:before {
      content: "";
      display: block;
      position: relative;
      margin: 1.25rem 0;
      height: 1px;
      background: var(--#{$prefix}card-footer-border);
    }
    /////////////////////////////////////////////
    // Override default spacing on tag component
    .tag-list {
      margin: 0;
      padding: 0;
      gap: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      .tag-item {
        margin: 0;
        font-weight: normal;
      }
    }
    /////////////////////////////////////////////
    // Override default spacing on link list component for icon links
    .link-list {
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      padding: 0;
      gap: 0.75rem;
      .link-item {
        margin: 0;
        a {
          gap: 12px;
        }
      }
    }
  }
  .card-footer {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--#{$prefix}card-title-color);
    li {
      font-size: 1rem;
    }
    .tag-list {
      li.tag-link {
        border-color: var(--#{$prefix}card-link-color);
        font-size: 0.875rem;
        &:hover {
          border-color: var(--#{$prefix}link-hover-colour);
          background-color: var(--#{$prefix}link-hover-colour);
          text-decoration: none;
          a {
            color: var(--#{$prefix}link-hover-text-colour);
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .card {
    &-feature {
      flex-direction: row;
      flex: 0 1 100%;
      min-height: 300px;
      .card-img,
      .card-inner {
        flex: 1;
      }
      &.card-feature-right {
        flex-direction: row-reverse;
        .card-img-right,
        .card-img-right:before {
          border-radius: 0;
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .card {
    box-shadow: none;
    &-single-action {
      &:hover,
      &:focus {
        box-shadow: var(--#{$prefix}card-box-shadow);
      }
    }
    &-feature {
      min-height: 440px;
      .card-img {
        flex: 2;
      }
      .card-inner {
        flex: 1;
      }
    }
    &.card-multi-action.card-feature {
      .card-body {
        padding: 2rem;
        padding-block-end: 0;
      }
      .card-footer {
        padding: 2rem;
        padding-block-start: 0;
      }
    }
  }
}
