<div class="row row-cols-1 row-cols-md-3 g-2">

    {{#cards}}
    <div class="col">
        
        <div class="card h-100">
            <img src="{{image}}" class="card-img-top" alt="{{alt}}" />
            <div class="card-body">
                <h3 class="card-title">
                    {{#link}}<a href="{{link}}">{{title}}</a>{{/link}}
                    {{^link}}{{title}}{{/link}}
                </h3>

                <p class="card-text">
                    {{description}}
                </p>
            </div>

            {{#footer}}
            <div class="card-footer">{{footer}}</div>
            {{/footer}}

        </div>
    </div>
    {{/cards}}

</div>